Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

test [unit] Assert listener open-file refs
  electron-app/tests/unit/lifecycle/listeners.test.ts
Due: electron_app

test [unit] Assert active tab state source
  electron-app/tests/unit/tabs/updateActiveTab.test.ts
Due: electron_app

test [integration] Assert tab listener registrations
  electron-app/tests/integration/tabStateIntegration.test.ts
Due: electron_app

test [strict] Assert updater event payloads
  electron-app/tests/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

test [strict] Assert renderer dev helper shapes
  electron-app/tests/strictTests/electron/renderer.strict.test.ts
Due: electron_app

test [unit] Assert dist preload catalog
  electron-app/tests/unit/preload.distApiMethods.test.ts
Due: electron_app

test [unit] Assert dist preload bridge catalog
  electron-app/tests/unit/preload.distBridgeBehavior.test.ts
Due: electron_app

test [unit] Assert menu labels and IPC
  electron-app/tests/unit/menu/createAppMenu.test.ts
Due: electron_app

test [unit] Assert menu fallback IPC
  electron-app/tests/unit/menu/createAppMenu.test.ts
Due: electron_app

test [unit] Assert menu click coverage
  electron-app/tests/unit/menu/createAppMenu.test.ts
Due: electron_app

test [unit] Assert preload bridge catalog
  electron-app/tests/unit/preload.test.ts
Due: electron_app

test [unit] Assert ANT lookup sizes
  electron-app/tests/unit/utils/dataAntManufacturerIDs.test.ts
  electron-app/tests/unit/utils/dataAntProductIds.test.ts
Due: electron_app

test [unit] Assert utility details
  electron-app/tests/unit/utils/iconFactory.test.ts
  electron-app/tests/unit/utils/utils.test.ts
Due: electron_app

test [unit] Assert tab and chart details
  electron-app/tests/strictTests/createEnhancedChart.test.ts
  electron-app/tests/unit/utils/tabStateManager.focused.test.ts
Due: electron_app

test [strict] Assert lap zone payloads
  electron-app/tests/strictTests/renderLapZoneCharts.test.ts
Due: electron_app

test [e2e] Assert Playwright runtime outputs
  electron-app/tests/playwright/app-ui.spec.ts
Due: electron_app

build [package] Trim app manifest metadata
  electron-app/package.json
Due: electron_app

build [scripts] Remove root script aliases
  package.json
Due: none

build [changelog] Keep changelog at root
  .github/CHANGELOG.md
  .github/Update-ChangeLogs.ps1
  .github/workflows/Build.yml
  .github/workflows/updateChangeLogs.yml
  electron-app/CHANGELOG.md
  electron-app/icons/CHANGELOG.md
  electron-app/screenshots/CHANGELOG.md
  electron-app/tests/CHANGELOG.md
  electron-app/utils/CHANGELOG.md
  package.json
Due: electron_app, üõ†Ô∏è Utilities

build [changelog] Use git-cliff directly
  .github/Update-ChangeLogs.ps1
  package.json
Due: none

build [flatpak] Move manifest to root
  .github/workflows/flatpak-build.yml
  .gitignore
  flatpak-build.yml
  scripts/build-flatpak.mjs
Due: none

build [format] Cover root maintenance scripts
  package.json
  scripts/analyze-coverage.mjs
  scripts/build-win7.mjs
  scripts/clean-runtime-dist.mjs
  scripts/prepare-runtime-dist.mjs
Due: none

build [format] Cover root yaml configs
  package.json
Due: none

test [maps] Assert base layer catalog
  electron-app/tests/maps/layers/mapBaseLayers.test.ts
Due: electron_app

test [docs] Assert documentation standards
  electron-app/tests/unit/utils/documentationStandards.test.ts
Due: electron_app

test [utils] Assert converter barrel behavior
  electron-app/tests/unit/utils/converters.test.ts
Due: electron_app

test [utils] Assert global utility API
  electron-app/tests/unit/utils/utils.test.ts
Due: electron_app

test [utils] Assert global exposure details
  electron-app/tests/unit/utils/utils.global.exposure.test.ts
Due: electron_app

test [net] Assert fetch timeout signal behavior
  electron-app/tests/unit/utils/asyncNetworkUtils.test.ts
Due: electron_app

build [scripts] Add workspace cleanup command
  package.json
  scripts/clean-workspace.mjs
Due: none

test [playwright] Move Electron smoke tests to root
  eslint.config.mjs
  playwright.config.ts
  tests/playwright/app-ui.spec.ts
  tsconfig.eslint.json
  vitest.config.ts
Due: none

test [lifecycle] Assert resource manager stats
  electron-app/tests/unit/utils/app/lifecycle/resourceManager.test.ts
Due: electron_app

test [performance] Assert lazy rendering scheduling
  electron-app/tests/unit/utils/app/performance/lazyRenderingUtils.test.ts
Due: electron_app

build [test] Add Vitest UI dependency
  package-lock.json
  package.json
Due: none

test [maps] Assert unit base layer catalog
  electron-app/tests/unit/utils/maps/layers/mapBaseLayers.test.ts
Due: electron_app

docs [tests] Align root Playwright layout
  agents.md
  docs/APPLICATION_LAYOUT.md
  docs/APPLICATION_OVERVIEW.md
Due: none

test [utils] Assert deterministic sanitization output
  electron-app/tests/unit/utils/charts/theming/chartOverlayColorPalette.test.ts
  electron-app/tests/unit/utils/domSecurityHelpers.test.ts
Due: electron_app

test [vitest] Move Electron alias stub to root
  docs/APPLICATION_LAYOUT.md
  electron-app/tests/stubs/electron-updater.stub.js
  eslint.config.mjs
  package.json
  tests/vitest/stubs/electron-virtual.cjs
  tsconfig.eslint.json
  vitest.config.ts
Due: electron_app

test [cleanup] Remove local Vitest harness leftovers
  electron-app/tests/debug/electron-mock-test.js
  electron-app/tests/unit/utils/app/lifecycle/run-local-vitest.mjs
  electron-app/tests/unit/utils/app/lifecycle/vitest.config.local.js
Due: electron_app

test [vitest] Move global setup to root
  docs/APPLICATION_LAYOUT.md
  package.json
  tests/vitest/env-setup.mjs
  tests/vitest/globalSetup.mjs
  tsconfig.eslint.json
  vitest.config.ts
Due: none

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
