Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] (charts) Route chart tab DOM lookup through runtime
  electron-app/utils/charts/core/chartTabIntegration.ts
  electron-app/utils/charts/core/chartTabIntegrationRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartTabIntegrationRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route listener abort controllers through runtime
  electron-app/utils/charts/core/chartListenerState.ts
  electron-app/utils/charts/core/chartListenerStateRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartListenerStateRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route direct rerender DOM lookup through runtime
  electron-app/utils/charts/core/renderChartDirectRerender.ts
  electron-app/utils/charts/core/renderChartDirectRerenderRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDirectRerender.test.ts
  tests/unit/utils/charts/core/renderChartDirectRerenderRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route request listener browser APIs through runtime
  electron-app/utils/charts/core/renderChartRequestListener.ts
  electron-app/utils/charts/core/renderChartRequestListenerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartRequestListener.test.ts
  tests/unit/utils/charts/core/renderChartRequestListenerRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route startup listener through runtime
  electron-app/utils/charts/core/renderChartStartup.ts
  electron-app/utils/charts/core/renderChartStartupRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStartup.test.ts
  tests/unit/utils/charts/core/renderChartStartupRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route state manager globals through runtime
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/charts/core/chartStateManagerRuntime.ts
  tests/unit/charts/core/chartStateManagerRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Reuse shared render debounce helper
  electron-app/utils/charts/core/renderChartJS.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Centralize render timer runtime
  electron-app/utils/charts/core/renderChartCachePrewarm.ts
  electron-app/utils/charts/core/renderChartDebounce.ts
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartTimerRuntime.ts
  electron-app/utils/charts/core/renderChartTiming.ts
  tests/unit/charts/core/renderChartDebounce.test.ts
  tests/unit/charts/core/renderChartTimerRuntime.test.ts
  tests/unit/charts/core/renderChartTiming.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (main-ui) Extract summary selector runtime
  electron-app/main-ui.ts
  electron-app/renderer/mainUiSummaryColumnSelector.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiSummaryColumnSelector.test.ts
  tsconfig.runtime.json
Due: electron_app

📝 [docs] (release) Clarify signing package paths
  docusaurus/docs/development/build-release.md
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] (playwright) Align elevation popup smoke with chart runtime
  tests/playwright/app-ui.spec.ts
Due: none

🧪 [test] (lint) Strengthen observable unit assertions
  tests/unit/charts/core/renderChartTimerRuntime.test.ts
  tests/unit/renderer/mainUiSummaryColumnSelector.test.ts
  tests/unit/state/domain/settingsStateManager.test.ts
  tests/unit/utils/charts/core/renderChartDirectRerender.test.ts
  tests/unit/utils/charts/core/renderChartRequestListener.test.ts
  tests/unit/utils/state/domain/appDomainState.test.ts
Due: none

🧪 [test] (file-open) Update handleOpenFile state spy
  electron-app/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

👷 [build] (docs) Override vulnerable Joi dependency
  docusaurus/package-lock.json
  docusaurus/package.json
Due: none

🧪 [test] (packaging) Allow docs Joi override
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] (playwright) Retry NODE_ENV smoke evaluate
  tests/playwright/app-ui.spec.ts
Due: none

🧪 [test] (main-ui) Use registered Electron API runtime
  docs/DEPRECATION_LEDGER.md
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] (menu) Register keyboard shortcut IPC API
  docs/DEPRECATION_LEDGER.md
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] (lifecycle) Register listener IPC API
  docs/DEPRECATION_LEDGER.md
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] (state) Register master state IPC API
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: none

🧪 [test] (main-ui) Guard Electron API cleanup
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🔧 [build] (renderer) Narrow Electron API proxy wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/electronApiRegistration.ts
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

👷 [ci] Validate dependency package artifacts
  .github/workflows/dependency-validation.yml
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
Due: none

🚜 [refactor] Retire remaining ledger global hooks
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/rendererDiagnosticsWiring.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/debug/debugChartFormatting.ts
  electron-app/utils/debug/debugSensorInfo.ts
  electron-app/utils/rendering/core/loadShowFitData.ts
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/rendererProcessEnvironmentPolicy.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Retire legacy global preservation coverage
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
Due: none

👷 [ci] Retire Windows 7 rebuild workflow
  .github/workflows/Build.yml
  .github/workflows/build-win7.yml
  README.md
  docs/APPLICATION_LAYOUT.md
  docs/DEVELOPMENT_GUIDE.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  docusaurus/docs/development/build-release.md
  docusaurus/docs/getting-started/system-requirements.md
  package.json
  scripts/build-win7.mjs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/buildWin7.test.ts
  tests/unit/packaging/electronBuilderFiles.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🚜 [refactor] Shrink main UI startup responsibilities
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/renderer/mainUiElectronApi.ts
  electron-app/renderer/mainUiThemeSync.ts
  electron-app/renderer/mainUiUnloadFlow.ts
  goal-plan.md
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Extract main UI startup wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/renderer/mainUiDevelopmentActions.ts
  electron-app/renderer/mainUiDragDropStartup.ts
  electron-app/renderer/mainUiExternalLinks.ts
  electron-app/renderer/mainUiShutdown.ts
  electron-app/renderer/mainUiStateStartup.ts
  electron-app/renderer/mainUiSummaryColumnSelector.ts
  electron-app/renderer/mainUiSummarySelectorRegistration.ts
  electron-app/renderer/mainUiUnloadFlow.ts
  electron-app/renderer/mainUiVendorStartup.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Finish main UI startup bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/renderer/mainUiStartup.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🧪 [test] Remove Object.keys harness global
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Localize document guard cache
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Remove unused Electron mock global
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Localize timer tracking state
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Localize dist resolver guard
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Retire effective document global
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Remove listener wrapper markers
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Localize navigation history shim
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🚜 [refactor] Localize renderer core test overrides
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
