Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Narrow preload assembly API typing
  electron-app/preload/apiAssembly.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow preload dev tools API contract
  electron-app/preload/preloadModuleTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.developmentToolsGlobal.test.ts
Due: electron_app

🚜 [refactor] Narrow preload exposure API contract
  electron-app/preload/electronApiExposure.ts
  electron-app/preload/preloadModuleTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.electronApiExposure.test.ts
Due: electron_app

🚜 [refactor] Add explicit loaded FIT state helpers
  electron-app/main.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/state/appState.ts
  tests/unit/main.test.ts
  tests/unit/main/ipc/registerRecentFileHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Use explicit loaded FIT state access
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

🚜 [refactor] Add explicit main window state access
  electron-app/main.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/runtime/primeTestEnvironment.ts
  electron-app/main/runtime/setupMainLifecycle.ts
  electron-app/main/state/appState.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/main.test.ts
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Add explicit quit state access
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/state/appState.ts
  electron-app/main/window/windowValidation.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Add explicit auto-updater state access
  electron-app/main.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/state/appState.ts
  electron-app/main/updater/setupAutoUpdater.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

🚜 [refactor] Add explicit Gyazo server state access
  electron-app/main.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/state/appState.ts
  tests/unit/main.test.ts
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Add explicit geolocation permission state access
  electron-app/main.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/state/appState.ts
  tests/unit/main.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Inject renderer state UI bindings
  electron-app/utils/ui/rendererStateBindings.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/syncRendererUi.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Use explicit app lifecycle state facades
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/stateManagerStartup.ts
  electron-app/utils/charts/core/chartTabIntegration.ts
  electron-app/utils/state/domain/appDomainState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
  tests/unit/utils/charts/core/chartTabIntegration.test.ts
  tests/unit/utils/state/domain/appDomainState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Repair root lint test coverage
  tests/unit/utils/runtime/electronApiRuntime.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
  tests/unit/utils/ui/syncRendererUi.test.ts
Due: none

🚜 [refactor] Retire generic app action state helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/index.ts
  electron-app/utils/app/lifecycle/appActions.ts
  electron-app/utils/state/domain/appActionsState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/appActions.test.ts
  tests/unit/utils/state/domain/appActionsState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split preload assembly type contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssembly.ts
  electron-app/preload/apiAssemblyContext.ts
  electron-app/preload/clipboardApiDomain.ts
  electron-app/preload/developerApiDomain.ts
  electron-app/preload/diagnosticsApiDomain.ts
  electron-app/preload/dialogApiDomain.ts
  electron-app/preload/externalApiDomain.ts
  electron-app/preload/fileApiDomain.ts
  electron-app/preload/ipcEventApiDomain.ts
  electron-app/preload/preloadApiAssemblyModuleLoader.ts
  electron-app/preload/preloadAssemblyTypes.ts
  electron-app/preload/preloadClipboardModuleLoader.ts
  electron-app/preload/preloadDeveloperModuleLoader.ts
  electron-app/preload/preloadExternalModuleLoader.ts
  electron-app/preload/preloadFileModuleLoader.ts
  electron-app/preload/preloadIpcModuleLoader.ts
  electron-app/preload/preloadLifecycleModuleLoader.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadPolicyModuleLoader.ts
  electron-app/preload/preloadRuntime.ts
  electron-app/preload/preloadStateModuleLoader.ts
  electron-app/preload/preloadSystemModuleLoader.ts
  electron-app/preload/stateApiDomain.ts
  electron-app/preload/systemApiDomain.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Route map vendor runtime through loader
  electron-app/renderer/rendererVendorMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

📝 [docs] Clarify map vendor runtime registration
  docs/DEPRECATION_LEDGER.md
Due: none

🚜 [refactor] Retire preload module registry alias
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadAssemblyTypes.ts
  electron-app/preload/preloadModuleLoader.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🐛 [fix] Report Browser tab render failures
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  tests/unit/utils/ui/tabs/tabStateManagerHandlers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] Track Zwift iframe readiness
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] Clean renderer state subscriptions
  electron-app/utils/state/integration/rendererStateIntegration.ts
  tests/unit/utils/state/integration/rendererStateIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Enforce main app state paths
  docs/DEPRECATION_LEDGER.md
  electron-app/main/state/appState.ts
  tests/unit/main.test.ts
Due: electron_app

🚜 [refactor] Clean tab visibility lifecycle
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type main state client paths
  docs/DEPRECATION_LEDGER.md
  docs/MAIN_PROCESS_STATE_CLIENT_USAGE.md
  electron-app/main/state/appState.ts
  electron-app/shared/ipc.ts
  electron-app/utils/state/integration/mainProcessStateClient.ts
  tests/unit/utils/state/integration/mainProcessStateClient.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Clean master state integrations
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Clean renderer state lifecycle bindings
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/updateControlsState.ts
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/ui/controls/enableTabButtons.ts
  electron-app/utils/ui/controls/enableTabButtonsRuntime.ts
  electron-app/utils/ui/rendererStateBindings.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/enableTabButtons.behavior.test.ts
  tests/unit/utils/rendering/helpers/updateControlsState.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/ui/syncRendererUi.test.ts
  tests/unit/utils/updateActiveTab.stateBehavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten Fit Browser feature gate API guard
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten renderer startup manager guard
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor] Tighten renderer active file state guard
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten field toggle data normalization
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ensureChartSettingsDropdowns.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten settings reset hook guard
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/getCurrentSettings.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/getCurrentSettings.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten lap lookup validation guard
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/data/processing/getLapNumForIdx.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/getLapNumForIdx.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten main-process window validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow main app-state export surface
  docs/DEPRECATION_LEDGER.md
  electron-app/main.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize renderer tab-name state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/appActions.ts
  electron-app/utils/state/domain/rendererActiveTabState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/appActions.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Reuse active-tab names in tab parsing
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabIdUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/tabs/tabIdUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Reuse tab config for content ids
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabIdUtils.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/tabStateManagerConfig.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/tabs/tabIdUtils.test.ts
  tests/unit/utils/tabStateManager.regressions.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Reuse tab config content ids
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManagerConfig.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard active-tab UI state writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/updateActiveTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/tabs/updateActiveTab.test.ts
  tests/unit/utils/updateActiveTab.stateBehavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize tab manager active state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
