Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] (renderer) Retire Chart runtime setter
  electron-app/utils/charts/core/chartRuntime.ts
  tests/playwright/app-ui.spec.ts
  tests/unit/charts/chartSettings.test.ts
  tests/unit/charts/renderLapZoneChart.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/createEnhancedChart.test.ts
  tests/unit/strictTests/data/zones/renderSinglePowerZoneBar.test.ts
  tests/unit/strictTests/renderAltitudeProfileChart.test.ts
  tests/unit/strictTests/renderEventMessagesChart.test.ts
  tests/unit/strictTests/renderGPSTimeChart.test.ts
  tests/unit/strictTests/renderGPSTrackChart.test.ts
  tests/unit/strictTests/renderPowerVsHeartRateChart.test.ts
  tests/unit/strictTests/renderSpeedVsDistanceChart.test.ts
  tests/unit/strictTests/renderZoneChart.test.ts
  tests/unit/utils/charts/core/chartRuntime.test.ts
  tests/unit/utils/charts/core/createManagedChart.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/data/zones/renderSingleHRZoneBar.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire Leaflet runtime setter
  electron-app/utils/maps/core/leafletRuntime.ts
  tests/fixtures/leafletRuntime.ts
  tests/unit/maps/controls/mapMeasureTool.test.ts
  tests/unit/maps/layers/mapBaseLayers.test.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  tests/unit/utils/maps/core/leafletRuntime.test.ts
  tests/unit/utils/maps/layers/mapBaseLayers.test.ts
  tests/unit/utils/maps/layers/mapIcons.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type MapLibre layer factory registration
  electron-app/renderer/rendererVendorMap.ts
  electron-app/utils/maps/layers/mapLibreLayerRuntime.ts
  tests/unit/maps/layers/mapBaseLayers.test.ts
  tests/unit/maps/layers/mapLibreLayerRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/maps/layers/mapBaseLayers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] (release) Repair release verification tests
  tests/playwright/app-ui.spec.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/main/app/setupApplicationEventHandlersRuntime.test.ts
  tests/unit/main/window/mainWindowRuntime.test.ts
  tests/unit/menu/createAppMenuRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/checkSigningEnv.test.ts
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
  tests/unit/renderer/errorHandling.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
  tests/unit/renderer/vendorBundleLoaderRuntime.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/state/domain/settingsStateManager.test.ts
  tests/unit/strictTests/theming/specific/createMapThemeToggle.test.ts
  tests/unit/utils/app/lifecycle/listenersResizeRuntime.test.ts
  tests/unit/utils/app/lifecycle/listenersRuntime.test.ts
  tests/unit/utils/app/lifecycle/recentFilesContextMenuRuntime.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/charts/core/renderChartDevTools.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/charts/core/renderChartStateManagement.test.ts
  tests/unit/utils/charts/core/renderChartStatus.test.ts
  tests/unit/utils/files/export/exportUtilsRuntime.test.ts
  tests/unit/utils/maps/core/renderMapRuntime.test.ts
  tests/unit/utils/state/core/stateManagerRuntime.test.ts
  tests/unit/utils/state/domain/rendererSummaryState.test.ts
Due: none

🚜 [refactor] (renderer) Track FIT data tab readiness
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (browser) Track calendar selection state
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/browserState.ts
  electron-app/utils/state/domain/browserStateContract.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/browserState.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Track render readiness
  electron-app/utils/charts/core/renderChartJS.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (map) Track auto-render readiness
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] (architecture) Guard retired renderer imports
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] (tabs) Prefer state-backed active content
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/getActiveTabContent.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/getActiveTabContent.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (tables) Centralize DataTables runtime typing
  electron-app/utils/rendering/core/dataTableRuntime.ts
  electron-app/utils/rendering/core/renderTable.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/core/dataTableRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] (tests) Format release gate fixtures
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: none

🛠️ [ci] Fix Dependabot group target branch
  .github/dependabot.yml
Due: none

🔧 [ci] Scope SonarCloud automatic analysis
  .sonarcloud.properties
Due: none

🐛 [fix] Address Sonar source bug findings
  electron-app/main/runtime/fitParserIntegration.ts
  electron-app/renderer/rendererVendorShared.ts
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/domain/uiStateManager.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  electron-app/utils/ui/modals/aboutModal.ts
Due: electron_app, üõ†Ô∏è Utilities

🔧 [fix] Reduce Sonar static-analysis findings
  electron-app/main/menu/registerUpdateMenuHandlers.ts
  electron-app/main/state/appState.ts
  electron-app/utils/app/lifecycle/listenersResize.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/app/performance/lazyRenderingUtils.ts
  electron-app/utils/charts/core/renderChartDataCharts.ts
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/plugins/addChartHoverEffectsRuntime.ts
  electron-app/utils/rendering/core/renderTable.ts
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  electron-app/utils/ui/components/createSettingsHeader.ts
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/controls/enableTabButtons.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  electron-app/windowStateUtils.ts
  static/app/index.html
  tests/unit/utils/data/processing/patchSummaryFields.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [ci] Update Codecov paths for TypeScript
  codecov.yml
Due: none

🚜 [refactor] Reduce Sonar TypeScript findings
  electron-app/preload/mainStateBridge.ts
  electron-app/utils/files/export/createExportGPXButton.ts
  electron-app/utils/files/import/openFileSelector.ts
  electron-app/utils/files/import/sendFitFileToAltFitReader.ts
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/controls/mapLapSelector.ts
  electron-app/utils/maps/controls/mapMeasureTool.ts
  electron-app/utils/theming/core/theme.ts
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.ts
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  electron-app/utils/ui/controls/dataPointFilterControl/summaryRefresher.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [ci] Add Codecov coverage upload workflow
  .github/workflows/codecov.yml
Due: none

🛠️ [ci] Align Codecov workflow Node version
  .github/workflows/codecov.yml
Due: none

🛠️ [ci] Keep Codecov coverage job active
  .github/workflows/codecov.yml
Due: none

🛠️ [ci] Use stable Codecov coverage subset
  .github/workflows/codecov.yml
  package.json
Due: none

🚜 [refactor] Reduce Sonar maintainability findings
  electron-app/main/logging/logWithContext.ts
  electron-app/preload/mainStateBridge.ts
  electron-app/preload/preloadEventApi.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/app/performance/performanceUtils.ts
  electron-app/utils/app/performance/performanceUtilsRuntime.ts
  electron-app/utils/charts/core/renderChartAnimationTuning.ts
  electron-app/utils/charts/core/renderChartSettingsManager.ts
  electron-app/utils/files/import/fitParsePayload.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/state/domain/browserStateContract.ts
  electron-app/utils/state/domain/fitFileState.ts
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  electron-app/utils/ui/components/createSettingsHeader.ts
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [ci] Stabilize performance baseline runner
  .github/workflows/performance-baseline.yml
  package.json
  scripts/run-performance-baseline.mjs
Due: none

🛠️ [ci] Stabilize performance baseline runner
  scripts/ensure-electron-binary.mjs
Due: none

🧪 [test] Update performance baseline assertions
  tests/unit/packaging/performanceBaselineWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🛠️ [ci] Align utility coverage gate with baseline
  codecov.yml
Due: none

🛠️ [ci] Filter noisy performance metric spikes
  docs/PERFORMANCE_BASELINES.md
  scripts/run-performance-baseline.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
Due: none

🧪 [test] Isolate lap zone chart mocks
  tests/unit/strictTests/renderLapZoneCharts.test.ts
Due: none

🛠️ [ci] Stabilize sampled performance baselines
  docs/PERFORMANCE_BASELINES.md
  package.json
  scripts/run-performance-baseline.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🛠️ [ci] Document Sonar new-code gate
  .sonarcloud.properties
Due: none

🔧 [chore] Adopt shared validation configs
  .gitignore
  cliff.toml
  package-lock.json
  package.json
Due: none

🧪 [test] Clean runtime helper lint warnings
  tests/unit/charts/core/renderChartRuntimeHelpersRuntime.test.ts
  tests/unit/renderer/rendererVendorMapRuntime.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
  tests/unit/utils/app/performance/lazyRenderingRuntime.test.ts
  tests/unit/utils/charts/core/renderChartPerformanceMonitorRuntime.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryRuntime.test.ts
  tests/unit/utils/state/integration/rendererStateIntegrationRuntime.test.ts
  tests/unit/utils/ui/notifications/syncRendererNotificationsRuntime.test.ts
Due: none

🐛 [fix] Restore cross-platform auto-update channels
  .github/workflows/Build.yml
  .release.yml
  docs/APPLICATION_LAYOUT.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/main/updater/setupAutoUpdater.ts
  package-lock.json
  package.json
  scripts/lib/workspaces.mjs
  scripts/organize-distributables.mjs
  scripts/run-audit.mjs
  scripts/verify-release-assets.mjs
  tests/unit/main/updater/setupAutoUpdater.test.ts
  tests/unit/packaging/organizeDistributables.test.ts
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/verifyReleaseAssets.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: electron_app

🛠️ [ci] Stabilize cross-platform release rehearsal
  .gitattributes
  .github/workflows/Build.yml
  .github/workflows/dependency-validation.yml
  .github/workflows/release-rehearsal.yml
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🐛 [fix] Make release checks platform portable
  .github/workflows/Build.yml
  .github/workflows/dependency-validation.yml
  .github/workflows/release-rehearsal.yml
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  package-lock.json
  package.json
  scripts/ensure-electron-binary.mjs
  tests/unit/charts/renderLapZoneChart.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/main/ipc/ipcRegistry.senderPolicy.test.ts
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
  tests/unit/packaging/ensureElectronBinary.test.ts
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
Due: none

🐛 [fix] Keep Electron ZIP extraction compatible
  package-lock.json
  package.json
  tests/unit/packaging/ensureElectronBinary.test.ts
Due: none

🧪 [test] Stabilize chart dependency mocks
  tests/unit/charts/chartSettings.test.ts
  tests/unit/strictTests/renderLapZoneCharts.test.ts
Due: none

🐛 [fix] Resolve packaged executables across platforms
  scripts/apply-electron-fuses.mjs
  scripts/run-packaged-smoke.mjs
  tests/unit/packaging/applyElectronFuses.test.ts
  tests/unit/packaging/runPackagedSmoke.test.ts
Due: none

🐛 [fix] Stabilize cross-platform packaged smoke
  scripts/run-packaged-smoke.mjs
  tests/unit/packaging/runPackagedSmoke.test.ts
Due: none
