Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Extract preload API exposure
  electron-app/preload.ts
  electron-app/preload/electronApiExposure.ts
  tests/unit/preload.electronApiExposure.test.ts
Due: electron_app

🚜 [refactor] Encapsulate renderer vendor globals
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/vendorGlobals.ts
  electron-app/renderer/vendorGlobalsCore.ts
Due: electron_app

✅ [test] Add renderer regression smoke coverage
  tests/playwright/app-ui.spec.ts
Due: none

🚜 [refactor] Extract preload browser API
  electron-app/preload.ts
  electron-app/preload/fitBrowserApi.ts
  tests/unit/preload.fitBrowserApi.test.ts
Due: electron_app

🐛 [fix] Preserve legacy global data bridge values
  electron-app/utils/state/core/globalDataStore.ts
  electron-app/utils/state/integration/stateIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract preload file API
  electron-app/preload.ts
  electron-app/preload/fileApi.ts
  tests/unit/preload.fileApi.test.ts
Due: electron_app

🚜 [refactor] Extract preload shell domains
  electron-app/preload.ts
  electron-app/preload/appInfoApi.ts
  electron-app/preload/externalApi.ts
  electron-app/preload/menuEventApi.ts
  electron-app/preload/themeApi.ts
  tests/unit/preload.appInfoApi.test.ts
  tests/unit/preload.externalApi.test.ts
  tests/unit/preload.menuEventApi.test.ts
  tests/unit/preload.themeApi.test.ts
Due: electron_app

🚦 [refactor] Model FIT file loading phases
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/showFitData.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚦 [refactor] Track tab readiness state
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/ui/tabs/tabReadinessState.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  tests/unit/utils/stateManager.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read GPX export data from state
  electron-app/utils/files/export/createExportGPXButton.ts
  tests/unit/utils/files/export/createExportGPXButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚦 [refactor] Model browser listing state
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/utils/stateManager.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read chart theme data from state
  electron-app/utils/charts/theming/chartThemeListener.ts
  tests/unit/utils/charts/theming/chartThemeListener.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route showFitData through global data store
  electron-app/utils/rendering/core/showFitData.ts
  electron-app/utils/state/core/globalDataStore.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
  tests/unit/utils/state/core/globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route legacy global data setters through store
  electron-app/utils/state/integration/stateIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

✅ [test] Add architecture boundary guardrails
  docs/DEPRECATION_LEDGER.md
  new-goal.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🔒️ [build] Add release rehearsal packaged smoke
  .github/workflows/release-rehearsal.yml
  electron-app/preload/ipcHelpers.ts
  package.json
  scripts/apply-electron-fuses.mjs
  scripts/run-packaged-smoke.mjs
  tests/unit/packaging/applyElectronFuses.test.ts
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
  tests/unit/packaging/runPackagedSmoke.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/preload.ipcHelpers.test.ts
Due: electron_app

📈 [test] Add FIT performance baseline runner
  docs/PERFORMANCE_BASELINES.md
  package.json
  scripts/run-performance-baseline.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Extract renderer DOM startup validation
  electron-app/renderer.ts
  electron-app/renderer/domStartupValidation.ts
  tests/unit/renderer/domStartupValidation.test.ts
Due: electron_app

🚜 [refactor] Extract renderer startup performance monitor
  electron-app/renderer.ts
  electron-app/renderer/startupPerformanceMonitor.ts
  tests/unit/renderer/startupPerformanceMonitor.test.ts
Due: electron_app

🐛 [fix] Allow Browser root folder IPC listings
  electron-app/preload/ipcHelpers.ts
  tests/unit/preload.ipcHelpers.test.ts
Due: electron_app

⚡️ [perf] Split renderer vendor globals bundle
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/vendorGlobals.ts
  electron-app/renderer/vendorGlobalsChartData.ts
  electron-app/renderer/vendorGlobalsCore.ts
  electron-app/renderer/vendorGlobalsMap.ts
  electron-app/renderer/vendorGlobalsShared.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapBaseLayers.ts
  scripts/lib/workspaces.mjs
  static/app/index.html
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/rendererProcessEnvironmentPolicy.test.ts
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
  tests/unit/packaging/viteRendererConfig.test.ts
  tests/unit/packaging/workspaces.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  vite.renderer.config.mjs
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract renderer Electron startup hooks
  electron-app/renderer.ts
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
Due: electron_app

🧪 [test] Align release readiness test fixtures
  tests/unit/packaging/vitestRootConfig.test.ts
  tests/unit/preload.dist.test.ts
Due: none

🚜 [refactor] Extract renderer file input startup wiring
  electron-app/renderer.ts
  electron-app/renderer/fileInputStartup.ts
  tests/unit/renderer/fileInputStartup.test.ts
Due: electron_app

🚜 [refactor] Extract renderer development debug globals
  electron-app/renderer.ts
  electron-app/renderer/developmentDebugGlobals.ts
  tests/unit/packaging/rendererProcessEnvironmentPolicy.test.ts
  tests/unit/renderer/developmentDebugGlobals.test.ts
Due: electron_app

🚜 [refactor] Extract renderer test-only bootstrap wiring
  electron-app/renderer.ts
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Extract renderer Electron API registration
  electron-app/renderer.ts
  electron-app/renderer/electronApiRegistration.ts
  tests/unit/renderer/electronApiRegistration.test.ts
Due: electron_app

🚜 [refactor] Extract renderer error handling
  electron-app/renderer.ts
  electron-app/renderer/errorHandling.ts
  tests/unit/renderer/errorHandling.test.ts
Due: electron_app

🚜 [refactor] Extract renderer lifecycle cleanup
  electron-app/renderer.ts
  electron-app/renderer/lifecycleCleanup.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
Due: electron_app

📝 [docs] Harden compatibility deprecation ledger
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

👷 [ci] Harden release rehearsal smoke controls
  .github/workflows/release-rehearsal.yml
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
Due: none

🚜 [refactor] Route summary storage keys through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryHelpers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route summary modal preferences through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/summaryColModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route device and field toggles through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createUserDeviceInfoBox.ts
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route data-point filter stats through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/dataPointFilterControl/stateHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart data readers through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/getChartCounts.ts
  electron-app/utils/charts/rendering/renderEventMessagesChart.ts
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart settings guards through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/getCurrentSettings.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route map lap selector through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapLapSelector.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route AppActions global data writes through store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/appActions.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route lifecycle data reads through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities
