Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Narrow renderer lifecycle cleanup shapes
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/lifecycleCleanup.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
Due: electron_app

🚜 [refactor] Narrow import-time bootstrap override shapes
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Narrow file-input override module shapes
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/fileInputWiring.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Narrow browser state normalization shapes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/browserState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/browserState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow active raw-data message access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/activeFitRawDataState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/activeFitRawDataState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer error message extraction
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/errorHandling.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/errorHandling.test.ts
Due: electron_app

🚜 [refactor] Narrow chart session clear-state patches
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartLifecycle.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow export utility candidate probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/export/exportUtilsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/files/export/exportUtils.test.ts
  tests/unit/utils/files/export/exportUtilsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow render-table DataTables probe
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/renderTable.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow resource cleanup shape probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/resourceManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/resourceManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow resize fullscreen field probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listenersResizeRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersResizeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize tab helper style lookups
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/enableTabButtonsHelpers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/enableTabButtonsHelpers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow app permission detail probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow error promise probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandling.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow window validation probes
  docs/DEPRECATION_LEDGER.md
  electron-app/windowStateUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow main logging method probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/logging/logWithContext.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow blocked request probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/setupBlockedRequests.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow Gyazo OAuth probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/oauth/gyazoOAuthServer.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow electron-conf access probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/electronConfAccess.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow main lifecycle method probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/setupMainLifecycle.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow auto-updater module probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccess.ts
  goal-plan.md
  tests/unit/main/updater/autoUpdaterAccess.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow test priming property probes
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/primeTestEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow process environment probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/processEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow browser runtime global probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard centralized browser global access
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Strengthen test-signal assertions
  tests/unit/main-ui.startup.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
Due: none

🚜 [refactor] Clarify Leaflet vendor runtime naming
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/rendererVendorMap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow Electron API global lookup
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow process global runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/runtime/processEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow Vitest mock global access
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccessRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove generic browser global reader
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Hide generic browser global setter
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name Leaflet global cleanup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/rendererVendorMapRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorMapRuntime.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow process global writer
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard deleted renderer bridge files
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard dependency validation workflow
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Rename renderer environment API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
  tests/unit/utils/app/initialization/rendererEnvironmentRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Retire globalData test wording
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/uiStateManager.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
Due: none

🚜 [refactor] Compose file browser preload contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type FIT import preload candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/files/import/openFileSelector.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
