Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

test [test] Remove weak file URL handler assertion
  electron-app/tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
Due: electron_app

test [test] Strengthen GPX export string assertion
  electron-app/tests/strictTests/files/export/gpxExport.test.ts
Due: electron_app

test [test] Strengthen export button assertions
  electron-app/tests/strictTests/files/export/createButtons.test.ts
Due: electron_app

test [test] Strengthen stylesheet guard assertions
  electron-app/tests/strictTests/style/styleCssVariables.test.ts
Due: electron_app

test [test] Strengthen chart background no-op assertion
  electron-app/tests/strictTests/utils/charts/plugins/chartBackgroundColorPlugin.strict.test.ts
Due: electron_app

test [test] Add notification suppression boundary signal
  electron-app/tests/strictTests/ui/notifications/showRenderNotification_logic.test.ts
Due: electron_app

test [test] Build tab fixtures without innerHTML
  electron-app/tests/fixtures/tabFixtures.js
Due: electron_app

test [test] Use literal format time import
  electron-app/tests/strictTests/utils/formatting/formatters/formatTime.strict.test.ts
Due: electron_app

test [test] Strengthen strict formatting and logging tests
  electron-app/tests/strictTests/utils/logging/logWithLevel.strict.test.ts
Due: electron_app

build [build] Make lint scripts non-mutating
  docusaurus/package.json
  electron-app/package.json
  package.json
Due: electron_app

build [build] Restore lint gate
  docusaurus/docusaurus.config.ts
  docusaurus/sidebars.ts
  docusaurus/src/components/HomepageFeatures/index.tsx
  docusaurus/src/js/modernEnhancements.ts
  docusaurus/src/pages/index.tsx
  electron-app/package.json
Due: electron_app

bug [fix] Avoid export utility ESM cycle
  electron-app/utils/files/export/exportAllCharts.js
  electron-app/utils/files/export/exportAllCharts.ts
  electron-app/utils/ui/components/createSettingsHeader.js
  electron-app/utils/ui/components/createSettingsHeader.ts
Due: electron_app, üõ†Ô∏è Utilities

bug [fix] Guard renderer environment checks
  electron-app/renderer.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.js
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/rendering/renderGPSTimeChart.js
  electron-app/utils/charts/rendering/renderGPSTimeChart.ts
  electron-app/utils/charts/rendering/renderGPSTrackChart.js
  electron-app/utils/charts/rendering/renderGPSTrackChart.ts
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.js
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.ts
  electron-app/utils/charts/rendering/renderZoneChart.js
  electron-app/utils/charts/rendering/renderZoneChart.ts
  electron-app/utils/charts/rendering/renderZoneChartNew.js
  electron-app/utils/charts/rendering/renderZoneChartNew.ts
  electron-app/utils/charts/theming/chartThemeUtils.js
  electron-app/utils/charts/theming/chartThemeUtils.ts
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/theming/specific/createMapThemeToggle.js
  electron-app/utils/theming/specific/createMapThemeToggle.ts
  electron-app/utils/ui/modals/aboutModal.js
  electron-app/utils/ui/modals/aboutModal.ts
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

👷 [build] Harden release workflow gates
  .github/workflows/Build.yml
  .github/workflows/VirusTotal.yml
  .github/workflows/build-win7.yml
  .github/workflows/cleanReleases.yml
  .github/workflows/docusaurus.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/repo-stats.yml
  .github/workflows/upload-linux-ia.yml
  .github/workflows/upload-macos-ia.yml
  .github/workflows/upload-windows-ia.yml
  docusaurus/docs/development/build-release.md
  electron-app/package.json
Due: electron_app

🐛 [fix] Guard renderer runtime startup paths
  electron-app/ffv/index.html
  electron-app/index.html
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/preload.ts
  electron-app/renderer.ts
  electron-app/scripts/prepare-runtime-dist.mjs
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  electron-app/utils/debug/lastAnimLog.ts
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/recent/recentFiles.ts
  electron-app/utils/performance/performanceMonitor.ts
  electron-app/utils/state/integration/mainProcessStateClient.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  electron-app/utils/theming/specific/createMapThemeToggle.ts
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

📝 [docs] Repair Docusaurus and TypeDoc inputs
  docs/ACCENT_COLOR_CODE_EXAMPLES.js
  docusaurus/docs/index.md
  docusaurus/docusaurus.config.ts
  docusaurus/typedoc.json
  docusaurus/typedoc.local.json
  electron-app/tsconfig.json
Due: electron_app

✨ [feat] Update dependencies and modernize project structure
  electron-app/package-lock.json
  electron-app/package.json
  filefileviewer-ts-migration-plan-v3.md
Due: electron_app

📝 [docs] Add renderer dependency inventory
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  filefileviewer-ts-migration-plan-v3.md
Due: none

👷 [build] Add root workspace commands
  docusaurus/package.json
  electron-app/eslint.config.mjs
  electron-app/package.json
  package-lock.json
  package.json
Due: electron_app

👷 [build] Add renderer dependency bundle
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/index.html
  electron-app/package.json
  electron-app/renderer/vendorGlobals.ts
  electron-app/tsconfig.json
  electron-app/vite.renderer.config.mjs
  package-lock.json
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [build] Remove bundled utility vendor assets
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/index.html
  electron-app/tests/playwright/app-ui.spec.ts
  electron-app/vendor/arquero/arquero.min.js
  electron-app/vendor/arquero/arquero.min.js.map
  electron-app/vendor/jszip.min.js
  electron-app/vendor/purify.min.js
  electron-app/vendor/purify.min.js.map
  electron-app/vendor/screenfull-global.js
  electron-app/vendor/screenfull.js
Due: electron_app, üñ•Ô∏è Renderer & UI

👷 [build] Bundle Chart renderer dependencies
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/index.html
  electron-app/package.json
  electron-app/renderer/vendorGlobals.ts
  electron-app/tests/playwright/app-ui.spec.ts
  electron-app/utils/charts/core/renderChartPluginRegistration.ts
  electron-app/vendor/chart.umd.js
  electron-app/vendor/chart.umd.js.map
  electron-app/vendor/chartjs-adapter-date-fns.bundle.min.js
  electron-app/vendor/chartjs-plugin-zoom.min.js
  electron-app/vendor/hammer.min.js
  electron-app/vendor/hammer.min.js.map
  package-lock.json
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

👷 [build] Bundle DataTables renderer dependencies
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/eslint.config.mjs
  electron-app/index.html
  electron-app/package.json
  electron-app/renderer/styleImports.d.ts
  electron-app/renderer/vendorGlobals.ts
  electron-app/tests/playwright/app-ui.spec.ts
  electron-app/vendor/dataTables.dataTables.min.css
  electron-app/vendor/dataTables.dataTables.min.js
  electron-app/vendor/dataTables.min.js
  electron-app/vendor/jquery.min.js
  electron-app/vite.renderer.config.mjs
  package-lock.json
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [build] Tighten dependency ownership
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/package-lock.json
  electron-app/package.json
  package-lock.json
  package.json
Due: electron_app

🔧 [build] Expand root workspace scripts
  README.md
  docs/APPLICATION_OVERVIEW.md
  docs/DEVELOPMENT_GUIDE.md
  package.json
Due: none

📝 [docs] Update agent root commands
  agents.md
Due: none

👷 [ci] Use root workspace validation commands
  .github/workflows/Build.yml
  .github/workflows/codeql.yml
Due: none

👷 [build] Tighten packaged app file set
  .github/workflows/build-win7.yml
  .github/workflows/flatpak-build.yml
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/package.json
  electron-app/scripts/build-win7.mjs
Due: electron_app

👷 [ci] Align release builds with root workspace
  .github/workflows/Build.yml
  .github/workflows/build-win7.yml
Due: none

🔧 [build] Move dependency updates to root workspace
  electron-app/package.json
  package.json
Due: electron_app

👷 [ci] Use root lockfile for docs workflows
  .github/workflows/docusaurus.yml
  .github/workflows/flatpak-build.yml
  docusaurus/package-lock.json
  electron-app/package-lock.json
Due: electron_app

📝 [docs] Prefer root test command in agent guide
  agents.md
Due: none

🔧 [build] Remove elevation popup vendor script
  electron-app/tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Expand renderer smoke coverage
  electron-app/tests/playwright/app-ui.spec.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [build] Consolidate formatter configs at root
  electron-app/.prettierignore
  electron-app/.remarkignore
  electron-app/.remarkrc.mjs
  electron-app/.secretlintrc.cjs
  electron-app/.stylelintignore
  electron-app/package.json
  electron-app/prettier.config.mjs
  electron-app/stylelint.config.mjs
  package.json
  stylelint.config.mjs
Due: electron_app

🧹 [test] Remove fake main-process coverage test
  electron-app/tests/unit/main.basic.test.ts
Due: electron_app

🧹 [build] Deduplicate app formatting dependencies
  electron-app/package.json
  package-lock.json
  package.json
Due: electron_app

🧹 [build] Remove unused app ESLint tsconfig
  electron-app/tsconfig.eslint.json
Due: electron_app
