Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

Bump version to 26.7.0
  electron-app/package.json
Due: electron_app

chore: format code with Prettier
  electron-app/utils/ui/controls/enableTabButtons.js
  electron-app/utils/ui/notifications/showNotification.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üõ†Ô∏è Utilities

🔧 [build] Update npm dependencies
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

Bump version to 26.8.0
  electron-app/package.json
Due: electron_app

🧪 [test] Enhance menu creation tests and refactor logic
  electron-app/package.json
  electron-app/tests/unit/menu/createAppMenu.test.ts
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/files/export/exportUtils.test.ts
  electron-app/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] Standardize AI prompt tools and formatting
  .github/PROMPTS/Generate-100%-Test-Coverage.prompt.md
  .github/chatmodes/BeastMode.chatmode.md
  .github/workflows/vitest.yml
  .prettierignore
  electron-app/vitest-results.json
  electron-app/vitest.config.enhanced.js
  electron-app/vitest.config.isolated.js
Due: electron_app

🚜 [refactor] Centralize config and docs
  docs/API_DOCUMENTATION.md
  docs/APPLICATION_ARCHITECTURE.md
  docs/APPLICATION_LAYOUT.md
  docs/DEVELOPMENT_GUIDE.md
  docs/README.md
  docs/USER_GUIDE.md
  electron-app/utils/config/constants.js
  electron-app/utils/docs/documentationStandards.js
  electron-app/utils/errors/errorHandling.js
  electron-app/utils/formatting/converters/convertDistanceUnits.js
  electron-app/utils/formatting/formatters/formatDistance.js
  electron-app/utils/formatting/formatters/formatDuration.js
  electron-app/utils/formatting/formatters/formatHeight.js
  electron-app/utils/formatting/formatters/formatTime.js
  electron-app/utils/formatting/formatters/formatWeight.js
  electron-app/utils/index.js
  electron-app/utils/state/core/unifiedStateManager.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Consolidate utility modules and integrate FIT parser state
  docs/API_DOCUMENTATION.md
  docs/APPLICATION_ARCHITECTURE.md
  docs/APPLICATION_LAYOUT.md
  docs/DEVELOPMENT_GUIDE.md
  electron-app/main.js
  electron-app/renderer.js
  electron-app/tests/integration/realAppTabBug.test.ts
  electron-app/tests/strictTests/app/initialization/loadVersionInfo.test.ts
  electron-app/tests/strictTests/utils/logging/logWithLevel.strict.test.ts
  electron-app/tests/unit/utils/domHelpers.comprehensive.test.ts
  electron-app/tests/unit/utils/enableTabButtons.complete.test.ts
  electron-app/tests/unit/utils/getErrorInfo.comprehensive.test.ts
  electron-app/tests/unit/utils/logWithLevel.additionalBranches.test.ts
  electron-app/tests/unit/utils/logWithLevel.branches.test.ts
  electron-app/tests/unit/utils/logWithLevel.comprehensive.test.ts
  electron-app/tests/unit/utils/logging.comprehensive.test.ts
  electron-app/tests/unit/utils/state/integration/mainProcessStateManager.test.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/app/initialization/loadVersionInfo.js
  electron-app/utils/files/recent/index.js
  electron-app/utils/files/recent/recentFiles.js
  electron-app/utils/formatting/converters/convertDistanceUnits.js
  electron-app/utils/formatting/formatters/formatDistance.js
  electron-app/utils/formatting/formatters/formatDuration.js
  electron-app/utils/formatting/formatters/formatHeight.js
  electron-app/utils/formatting/formatters/formatTime.js
  electron-app/utils/formatting/formatters/formatWeight.js
  electron-app/utils/index.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/ui/controls/enableTabButtons.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Scaffold utility barrels and add migration plans
  docs/state-management-remediation-plan.md
  docs/utils-migration-action-plan.md
  electron-app/utils/config/index.js
  electron-app/utils/dom/index.js
  electron-app/utils/errors/index.js
  electron-app/utils/logging/index.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize UI updates via a reactive state manager
  electron-app/main-ui.js
  electron-app/main.js
  electron-app/preload.js
  electron-app/tests/strictTests/rendering/core/showFitData.test.ts
  electron-app/tests/strictTests/ui/main-ui.test.ts
  electron-app/tests/unit/utils/state/domain/fitFileState.test.ts
  electron-app/utils.js
  electron-app/utils/index.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/domain/fitFileState.js
  electron-app/utils/state/domain/uiStateManager.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Improve module compatibility and add default namespace exports
  electron-app/package.json
  electron-app/utils/app/index.js
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/app/menu/index.js
  electron-app/utils/data/index.js
  electron-app/utils/debug/index.js
  electron-app/utils/files/index.js
  electron-app/utils/files/recent/index.js
  electron-app/utils/formatting/index.js
  electron-app/utils/maps/index.js
  electron-app/utils/rendering/index.js
  electron-app/utils/state/index.js
  electron-app/utils/state/integration/index.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/theming/core/theme.js
  electron-app/utils/theming/index.js
  electron-app/utils/ui/controls/addFullScreenButton.js
  electron-app/utils/ui/index.js
Due: electron_app, üõ†Ô∏è Utilities

⚡ [perf] Implement advanced caching and performance tuning for charts
  .github/chatmodes/BeastMode.chatmode.md
  electron-app/tests/unit/charts/core/chartStateManager.test.ts
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/charts/components/createEnhancedChart.js
  electron-app/utils/charts/core/chartStateManager.js
  electron-app/utils/charts/core/renderChartJS.js
Due: electron_app, üõ†Ô∏è Utilities

✨ [feat] Revamps UI for vivid branding & adaptive file state
  .github/chatmodes/BeastMode.chatmode.md
  electron-app/icons/mascot-kitty.png
  electron-app/index.html
  electron-app/style.css
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/state/domain/uiStateManager.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🎨 [style] Unifies color usage, adds responsive layout, and improves chart appearance
  electron-app/RENDERER_STATE_MIGRATION.md
  electron-app/TEST_FIXES_SUMMARY.md
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/prettier-output.txt
  electron-app/style.css
  electron-app/utils/charts/components/createGlobalChartStatusIndicatorFromCounts.js
  electron-app/utils/charts/rendering/renderEventMessagesChart.js
  electron-app/utils/charts/rendering/renderGPSTrackChart.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/components/createUserDeviceInfoBox.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

⚡ [perf] Enhance drag-drop, chart rendering, and color management
  electron-app/index.html
  electron-app/main-ui.js
  electron-app/style.css
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/rendering/renderEventMessagesChart.js
  electron-app/utils/data/zones/chartZoneColorUtils.js
  electron-app/utils/ui/controls/createInlineZoneColorSelector.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🎨 [style] Introduce comprehensive light theme redesign
  electron-app/style.css
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/theming/core/theme.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

Bump version to 26.9.0
  electron-app/package.json
Due: electron_app

🔧 [build] Update npm dependencies
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/style.css
  electron-app/tests/unit/utils/app/initialization/setupWindow.test.ts
  electron-app/tests/unit/utils/charts/rendering/renderZoneChartNew.test.ts
  electron-app/tests/unit/utils/state/integration/rendererStateIntegration.test.ts
  electron-app/tests/unit/utils/theming/core/theme.additional.test.ts
  electron-app/tests/unit/utils/ui/controls/addExitFullscreenOverlay.test.ts
  electron-app/tests/unit/utils/ui/controls/addFullScreenButton.test.ts
  electron-app/tests/unit/utils/ui/controls/createPowerZoneControlsSimple.test.ts
  electron-app/tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
  electron-app/tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/utils/ui/controls/addFullScreenButton.js
  electron-app/utils/ui/controls/createPowerZoneControlsSimple.js
  electron-app/utils/ui/modals/keyboardShortcutsModal.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🧪 [test] Add integration tests for file and UI utilities
  electron-app/tests/unit/utils/files/import/fitParserIntegration.test.ts
  electron-app/tests/unit/utils/files/recent/recentFiles.integration.test.ts
  electron-app/tests/unit/utils/theming/core/setupTheme.test.ts
  electron-app/tests/unit/utils/ui/controls/createHRZoneControls.additional.test.ts
  electron-app/tests/unit/utils/ui/controls/removeExitFullscreenOverlay.test.ts
Due: electron_app

✨ [feat] Add overlay file loading and enhance file menu functionality
  .github/chatmodes/BeastMode.chatmode.md
  README.md
  electron-app/global.d.ts
  electron-app/preload.js
  electron-app/style.css
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/unit/lifecycle/listeners.test.ts
  electron-app/tests/unit/menu/createAppMenu.test.ts
  electron-app/tests/unit/preload.advanced.test.ts
  electron-app/tests/unit/preload.comprehensive.test.ts
  electron-app/tests/unit/preload.final.test.ts
  electron-app/tests/unit/preload.test.ts
  electron-app/tests/unit/utils/files/recent/recentFiles.integration.test.ts
  electron-app/tsconfig.json
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/config/constants.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Overhaul main process logic and enhance overlay file handling
  .github/chatmodes/BeastMode.chatmode.md
  electron-app/index.html
  electron-app/main.js
  electron-app/main/ipc/registerDialogHandlers.js
  electron-app/main/ipc/registerExternalHandlers.js
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/registerInfoHandlers.js
  electron-app/main/ipc/registerRecentFileHandlers.js
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/main/window/initializeMainWindow.js
  electron-app/preload.js
  electron-app/renderer.js
  electron-app/tests/strictTests/maps/controls/mapActionButtons.test.ts
  electron-app/tests/strictTests/ui/controls/addFitFileButton.test.ts
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/unit/menu/createAppMenu.test.ts
  electron-app/tests/unit/utils/files/import/openFileSelector.test.ts
  electron-app/types/utils/files/import/openFileSelector.d.ts
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/files/import/openFileSelector.js
  electron-app/utils/maps/controls/mapActionButtons.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/ui/controls/addFullScreenButton.js
  electron-app/utils/ui/controls/createAddFitFileToMapButton.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

⚡ [perf] Introduce cancellation tokens and optimize UI responsiveness
  docs/PERFORMANCE_OPTIMIZATIONS.md
  electron-app/types/utils/app/async/cancellationToken.d.ts
  electron-app/types/utils/app/async/cancellationToken.d.ts.map
  electron-app/types/utils/app/performance/lazyRenderingUtils.d.ts
  electron-app/types/utils/app/performance/lazyRenderingUtils.d.ts.map
  electron-app/types/utils/app/performance/performanceUtils.d.ts
  electron-app/types/utils/app/performance/performanceUtils.d.ts.map
  electron-app/types/utils/charts/core/renderChartJS.d.ts.map
  electron-app/types/utils/state/integration/index.d.ts
  electron-app/types/utils/state/integration/mainProcessStateClient.d.ts
  electron-app/types/utils/state/integration/mainProcessStateClient.d.ts.map
  electron-app/types/utils/ui/tabs/tabRenderingManager.d.ts
  electron-app/types/utils/ui/tabs/tabRenderingManager.d.ts.map
  electron-app/types/utils/ui/tabs/tabStateManager.d.ts.map
  electron-app/utils/app/async/cancellationToken.js
  electron-app/utils/app/performance/lazyRenderingUtils.js
  electron-app/utils/app/performance/performanceUtils.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/ui/tabs/tabRenderingManager.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üõ†Ô∏è Utilities

✨ [feat] Introduce centralized resource and event listener management
  electron-app/main-ui.js
  electron-app/package.json
  electron-app/tests/unit/utils/setupTabButton.comprehensive.test.ts
  electron-app/tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
  electron-app/tests/unit/utils/updateActiveTab.comprehensive.test.ts
  electron-app/types/main-ui.d.ts.map
  electron-app/types/utils/app/lifecycle/resourceManager.d.ts
  electron-app/types/utils/app/lifecycle/resourceManager.d.ts.map
  electron-app/types/utils/charts/core/renderChartJS.d.ts.map
  electron-app/types/utils/rendering/core/showFitData.d.ts.map
  electron-app/types/utils/ui/modals/aboutModal.d.ts.map
  electron-app/types/utils/ui/modals/keyboardShortcutsModal.d.ts
  electron-app/types/utils/ui/modals/keyboardShortcutsModal.d.ts.map
  electron-app/types/utils/ui/modals/openZoneColorPicker.d.ts.map
  electron-app/types/utils/ui/notifications/showNotification.d.ts.map
  electron-app/types/utils/ui/notifications/showUpdateNotification.d.ts.map
  electron-app/types/utils/ui/tabs/setupTabButton.d.ts
  electron-app/types/utils/ui/tabs/setupTabButton.d.ts.map
  electron-app/types/utils/ui/tabs/tabStateManager.d.ts.map
  electron-app/types/utils/ui/tabs/updateActiveTab.d.ts.map
  electron-app/utils/app/lifecycle/resourceManager.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/ui/modals/aboutModal.js
  electron-app/utils/ui/modals/keyboardShortcutsModal.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
  electron-app/utils/ui/notifications/showNotification.js
  electron-app/utils/ui/notifications/showUpdateNotification.js
  electron-app/utils/ui/tabs/setupTabButton.js
  electron-app/utils/ui/tabs/tabStateManager.js
  electron-app/utils/ui/tabs/updateActiveTab.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Implement dynamic accent color theming system
  docs/ACCENT_COLOR_CODE_EXAMPLES.js
  electron-app/index.html
  electron-app/main-ui.js
  electron-app/style.css
  electron-app/types/main-ui.d.ts.map
  electron-app/types/ui/modals/accentColorPicker.d.ts
  electron-app/types/ui/modals/accentColorPicker.d.ts.map
  electron-app/types/utils/app/lifecycle/listeners.d.ts.map
  electron-app/types/utils/app/menu/createAppMenu.d.ts.map
  electron-app/types/utils/theming/core/accentColor.d.ts
  electron-app/types/utils/theming/core/accentColor.d.ts.map
  electron-app/types/utils/theming/core/theme.d.ts.map
  electron-app/types/utils/ui/controls/addFullScreenButton.d.ts.map
  electron-app/types/utils/ui/quickColorSwitcher.d.ts
  electron-app/types/utils/ui/quickColorSwitcher.d.ts.map
  electron-app/types/utils/ui/settingsModal.d.ts
  electron-app/types/utils/ui/settingsModal.d.ts.map
  electron-app/types/utils/ui/unifiedControlBar.d.ts
  electron-app/types/utils/ui/unifiedControlBar.d.ts.map
  electron-app/ui/modals/accentColorPicker.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/theming/core/accentColor.js
  electron-app/utils/theming/core/theme.js
  electron-app/utils/ui/controls/addFullScreenButton.js
  electron-app/utils/ui/quickColorSwitcher.js
  electron-app/utils/ui/settingsModal.js
  electron-app/utils/ui/unifiedControlBar.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🎨 [style] Apply consistent code formatting across the project
  electron-app/index.html
  electron-app/main-ui.js
  electron-app/main.js
  electron-app/preload.js
  electron-app/renderer.js
  electron-app/style.css
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI

Bump version to 27.0.0
  electron-app/package.json
Due: electron_app

Bump version to 27.1.0
  electron-app/package.json
Due: electron_app

Bump version to 27.2.0
  electron-app/package.json
Due: electron_app

🎨 [style] Enhance UI with modern styles
  electron-app/index.html
  electron-app/tests/ui/theme-test.html
  electron-app/types/utils/ui/modals/baseModal.d.ts
  electron-app/types/utils/ui/modals/baseModal.d.ts.map
  electron-app/types/utils/ui/modals/index.d.ts
  electron-app/ui-enhancements.css
  electron-app/utils/ui/modals/baseModal.js
  electron-app/utils/ui/modals/index.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🔧 [build] Bump version to 27.1.0 and update maplibre-gl to 5.8.0 - Updated package.json to reflect new version and dependencies - Adjusted package-lock.json for consistency with package.json changes
  electron-app/package-lock.json
Due: electron_app

🎨 [style] Enhance UI and map features
  electron-app/ffv/index.html
  electron-app/ffv/scrollbar.css
  electron-app/main/ipc/registerDialogHandlers.js
  electron-app/main/ipc/registerExternalHandlers.js
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/registerInfoHandlers.js
  electron-app/main/ipc/registerRecentFileHandlers.js
  electron-app/style.css
  electron-app/tests/maps/controls/mapFullscreenControl.test.ts
  electron-app/tests/unit/main/ipc/registerDialogHandlers.test.ts
  electron-app/tests/unit/main/ipc/registerExternalHandlers.test.ts
  electron-app/tests/unit/main/ipc/registerFileSystemHandlers.test.ts
  electron-app/tests/unit/main/ipc/registerFitFileHandlers.test.ts
  electron-app/tests/unit/main/ipc/registerInfoHandlers.test.ts
  electron-app/tests/unit/main/ipc/registerRecentFileHandlers.test.ts
  electron-app/types/main/ipc/registerDialogHandlers.d.ts
  electron-app/types/main/ipc/registerDialogHandlers.d.ts.map
  electron-app/types/main/ipc/registerExternalHandlers.d.ts
  electron-app/types/main/ipc/registerExternalHandlers.d.ts.map
  electron-app/types/main/ipc/registerFileSystemHandlers.d.ts
  electron-app/types/main/ipc/registerFileSystemHandlers.d.ts.map
  electron-app/types/main/ipc/registerFitFileHandlers.d.ts
  electron-app/types/main/ipc/registerFitFileHandlers.d.ts.map
  electron-app/types/main/ipc/registerInfoHandlers.d.ts
  electron-app/types/main/ipc/registerInfoHandlers.d.ts.map
  electron-app/types/main/ipc/registerRecentFileHandlers.d.ts
  electron-app/types/main/ipc/registerRecentFileHandlers.d.ts.map
  electron-app/types/utils/maps/controls/mapFullscreenControl.d.ts.map
  electron-app/types/utils/rendering/helpers/renderSummaryHelpers.d.ts.map
  electron-app/ui-enhancements.css
  electron-app/utils/maps/controls/mapFullscreenControl.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities
