Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Type renderer state preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type CSV clipboard preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type external-link preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/links/externalLinkHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type FIT flow preload candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  electron-app/utils/ui/dragDropHandler.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type main-state preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateClient.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type app-info preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type theme preload candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/ui/settingsModal.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type main UI DOM preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/mainUiDomUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type recent-files preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type menu IPC preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type export preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type path-open preload validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFitFileFromPath.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file-open preload validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type drag-drop preload validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dragDropHandler.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type browser tab preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type master-state preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type lifecycle preload candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow Electron API runtime candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/electronApiRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type fullscreen update IPC candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow chart option records
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartPrimaryFields.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow updater module property reads
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccess.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow test priming property candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/primeTestEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow main logging console lookup
  docs/DEPRECATION_LEDGER.md
  electron-app/main/logging/logWithContext.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow process runtime property reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/processEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name retired state path quarantine
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/unifiedStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/unifiedStateManager.globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Keep AltFit analytics state scoped
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-analytics-blocker.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Split preload leaf module loaders
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadClipboardModuleLoader.ts
  electron-app/preload/preloadDeveloperModuleLoader.ts
  electron-app/preload/preloadExternalModuleLoader.ts
  electron-app/preload/preloadLifecycleModuleLoader.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadSystemModuleLoader.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/helpers/preloadModuleMocks.ts
  tsconfig.runtime.json
Due: electron_app

🐛 [fix] Harden IPC replacement failures
  electron-app/main/ipc/ipcRegistry.ts
  tests/unit/main/ipc/ipcRegistry.senderPolicy.test.ts
Due: electron_app

🚜 [refactor] Retire showFitData loader shim
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/files/import/handleOpenFile.test.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/renderDecodedFitData.ts
  electron-app/utils/ui/dragDropHandler.ts
  scripts/run-performance-baseline.mjs
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow export Electron API typing
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove preload dev flag contract
  electron-app/shared/preloadApi.ts
  global.d.ts
  goal-plan.md
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Isolate preload dev-mode compatibility
  electron-app/utils/app/initialization/rendererEnvironment.ts
  electron-app/utils/runtime/electronDevModeCompatibility.ts
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop redundant Electron API casts
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Thread fullscreen Electron API scope
  electron-app/utils/ui/controls/addFullScreenButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Thread settings modal Electron API scope
  electron-app/utils/ui/settingsModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Thread file browser Electron API scope
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split main UI Electron API accessors
  electron-app/renderer/mainUiDevelopmentActions.ts
  electron-app/renderer/mainUiElectronApi.ts
  electron-app/renderer/mainUiStartup.ts
  electron-app/renderer/mainUiSummarySelectorRegistration.ts
  electron-app/renderer/mainUiThemeSync.ts
  electron-app/renderer/mainUiUnloadFlow.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize renderer Electron API scopes
  electron-app/renderer.ts
  electron-app/renderer/mainUiStartup.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow preload dialog API typing
  electron-app/preload/dialogApiDomain.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Expose retired state path policy
  electron-app/utils/state/core/unifiedStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/unifiedStateManager.globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
