Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] (charts) Validate runtime storage
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Narrow dependency accessor contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDependencyAccessors.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDependencyAccessors.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Narrow UI window snapshot
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (debug) Type renderer debug state modules
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: electron_app

🚜 [refactor] (renderer) Narrow error notification returns
  electron-app/renderer/errorHandling.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/errorHandling.test.ts
Due: electron_app

🚜 [refactor] (ui) Type elevation palette runtime
  electron-app/utils/charts/theming/chartOverlayColorPalette.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Narrow notification callback returns
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartSuccessfulCompletion.ts
  tests/unit/charts/core/renderChartNotificationFlow.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Narrow data readiness notifications
  electron-app/utils/charts/core/renderChartDataReadiness.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Type state notification failures
  electron-app/utils/charts/core/renderChartStateManagement.ts
  electron-app/utils/charts/core/renderChartStateManagementApi.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStateManagement.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Type export notifications
  electron-app/utils/charts/core/renderChartExportState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type file input startup
  electron-app/renderer.ts
  electron-app/renderer/fileInputStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
Due: electron_app

🚜 [refactor] (renderer) Type startup notifications
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/startupCallbackTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
Due: electron_app

🚜 [refactor] (lifecycle) Type open-file listeners
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (lifecycle) Type modal callbacks
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type debug modules
  electron-app/renderer.ts
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (renderer) Share about modal typing
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/startupCallbackTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (main) Type menu IPC callbacks
  electron-app/main/menu/registerFileMenuHandlers.ts
  electron-app/main/menu/registerUpdateMenuHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (main) Type menu event edges
  electron-app/main/menu/registerDevtoolsInjectMenuHandler.ts
  electron-app/main/menu/registerFullscreenHandler.ts
  electron-app/main/menu/registerThemeChangedHandler.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (main) Type loaded-file IPC
  electron-app/main/ipc/registerFitFileLoadedHandlers.ts
  tests/unit/main/ipc/registerFitFileLoadedHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (main) Type external IPC registrations
  electron-app/main/ipc/registerExternalHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type clipboard IPC registrations
  electron-app/main/ipc/registerClipboardHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type browser IPC registrations
  electron-app/main/ipc/registerBrowserHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type recent-file IPC registrations
  electron-app/main/ipc/registerRecentFileHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type filesystem IPC registrations
  electron-app/main/ipc/registerFileSystemHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type info IPC registrations
  electron-app/main/ipc/registerInfoHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type dialog IPC registrations
  electron-app/main/ipc/registerDialogHandlers.ts
Due: electron_app

🚜 [refactor] (main) Type FIT parser IPC registrations
  electron-app/main/ipc/registerFitFileHandlers.ts
Due: electron_app

🚜 [refactor] (renderer) Type Electron API scopes strictly
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type DataTables runtime registration
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/core/dataTableRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type core vendor runtime registration
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/dom/domPurifyRuntime.ts
  electron-app/utils/files/export/exportZipRuntime.ts
  electron-app/utils/rendering/helpers/arqueroRuntime.ts
  electron-app/utils/ui/controls/screenfullRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/dom/domPurifyRuntime.test.ts
  tests/unit/utils/files/export/exportZipRuntime.test.ts
  tests/unit/utils/rendering/helpers/arqueroRuntime.test.ts
  tests/unit/utils/ui/controls/screenfullRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (release) Clarify Linux signing preflight
  scripts/check-signing-env.mjs
  tests/unit/packaging/checkSigningEnv.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] (renderer) Type Leaflet runtime registration
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/maps/core/leafletRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/maps/core/leafletRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type Chart.js runtime registration
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/charts/core/chartRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Type DataTables runtime registration
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/core/dataTableRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire DataTables runtime setter
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/renderTable.test.ts
  tests/unit/utils/rendering/core/dataTableRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire DOMPurify runtime setter
  electron-app/utils/dom/domPurifyRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/dom/domPurifyRuntime.test.ts
  tests/unit/utils/dom/sanitizeHtmlAllowlist.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire Arquero runtime setter
  electron-app/utils/rendering/helpers/arqueroRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/arqueroRuntime.test.ts
  tests/unit/utils/rendering/helpers/renderTable.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire ZIP runtime setter
  electron-app/utils/files/export/exportZipRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/files/export/exportUtils.test.ts
  tests/unit/utils/files/export/exportUtils.colocated.test.ts
  tests/unit/utils/files/export/exportUtils.test.ts
  tests/unit/utils/files/export/exportZipRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (renderer) Retire Screenfull runtime setter
  electron-app/utils/ui/controls/screenfullRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
  tests/unit/utils/ui/controls/screenfullRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (renderer) Accept Chart constructors in runtime registry
  electron-app/utils/charts/core/chartRuntime.ts
  tests/unit/utils/charts/core/chartRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
