Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Drop state debug ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop chart controls ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop loaded files ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Use chart registry for fullscreen resize
  electron-app/utils/app/lifecycle/listenersResize.ts
  tests/unit/utils/app/lifecycle/listenersResize.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Use chart runtime for elevation popup
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop Chart ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop Leaflet ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop Vitest app ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Remove Leaflet test global bridge
  docs/APPLICATION_LAYOUT.md
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/renderer/vendorGlobalsCore.ts
  electron-app/utils/charts/core/renderChartRuntimeBootstrap.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/maps/layers/mapBaseLayers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Remove zone chart global mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/data/zones/renderSingleHRZoneBar.test.ts
Due: none

🧪 [test] Remove renderChartJS global Chart setup
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: none

🧪 [test] Remove event chart global mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderEventMessagesChart.test.ts
Due: none

🧪 [test] Remove GPS time chart global mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderGPSTimeChart.test.ts
Due: none

🧪 [test] Remove enhanced chart global mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/createEnhancedChart.test.ts
Due: none

🧪 [test] Remove zone chart global constructor mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderZoneChart.test.ts
Due: none

🧪 [test] Remove altitude chart global mock
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderAltitudeProfileChart.test.ts
Due: none

🧪 [test] Remove speed and power chart global mocks
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderPowerVsHeartRateChart.test.ts
  tests/unit/strictTests/renderSpeedVsDistanceChart.test.ts
Due: none

🧪 [test] Remove lap zone chart global mock
  tests/unit/charts/renderLapZoneChart.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Remove resize listener Chart global type
  tests/unit/utils/app/lifecycle/listenersResize.test.ts
Due: none

🧪 [test] Remove state integration ambient globals
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
Due: none

🧪 [test] Remove map draw laps ambient Leaflet global
  tests/unit/maps/layers/mapDrawLaps.test.ts
Due: none

🧪 [test] Remove render chart ambient globals
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: none

🧪 [test] Type create app menu hoisted globals
  tests/unit/menu/createAppMenu.test.ts
Due: none

🧪 [test] Remove modal legacy global casts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: none

🧪 [test] Remove remaining raw global casts
  tests/unit/state/domain/uiStateManager.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
  tests/unit/utils/state/core/stateMiddleware.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/theming/core/theme.additional.test.ts
  tests/unit/utils/updateActiveTab.fallbacks.test.ts
Due: none

🧪 [test] Guard against raw globalThis any casts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

✨ [feat] (browser) Track folder scan state
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (lint) Remove redundant elevation popup assertion
  electron-app/utils/ui/controls/createElevationProfileButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (browser) Centralize Browser state access
  electron-app/utils/state/domain/browserState.ts
  electron-app/utils/state/domain/index.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/utils/state/domain/browserState.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize notification state access
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererNotificationState.ts
  electron-app/utils/ui/notifications/syncRendererNotifications.ts
  electron-app/utils/ui/rendererStateBindings.ts
  tests/unit/utils/state/domain/rendererNotificationState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize renderer loading state
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererLoadingState.ts
  electron-app/utils/ui/controls/enableTabButtonsDebug.ts
  electron-app/utils/ui/loading/syncRendererLoading.ts
  electron-app/utils/ui/rendererStateBindings.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/utils/state/domain/rendererLoadingState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (preload) Split external API domains
  electron-app/preload/externalApi.ts
  electron-app/preload/gyazoExternalApi.ts
  electron-app/preload/shellExternalApi.ts
  tests/unit/preload.externalApi.test.ts
  tests/vitest/helpers/preloadModuleMocks.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (state) Centralize drag/drop renderer state
  electron-app/main-ui.ts
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererDragDropState.ts
  electron-app/utils/ui/dragDropHandler.ts
  tests/unit/utils/state/domain/rendererDragDropState.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize main-ui file state
  electron-app/main-ui.ts
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererActiveFileState.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  tests/unit/utils/state/domain/rendererActiveFileState.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Hide legacy appState barrel export
  electron-app/utils/state/domain/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] (preload) Guard thin preload entrypoint
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] (renderer) Route startup subscriptions through state facade
  electron-app/renderer.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/stateManagerStartup.ts
  electron-app/utils/state/domain/appDomainState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
  tests/unit/utils/state/domain/appDomainState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize renderer active-tab state
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererActiveTabState.ts
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize active FIT raw-data subscriptions
  electron-app/utils/state/domain/activeFitRawDataState.ts
  electron-app/utils/ui/controls/addFitOverlayButtonState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/activeFitRawDataState.test.ts
  tests/unit/utils/ui/controls/addFitOverlayButtonState.test.ts
  tests/unit/utils/ui/controls/createAddFitFileToMapButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Centralize chart controls state
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererChartControlsState.ts
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartControlsState.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities
