Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Split renderer file input wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/fileInputWiring.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Split renderer test bootstrap wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Split renderer import-time orchestration
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Split renderer lifecycle wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationLifecycleWiring.ts
  tests/unit/renderer/applicationLifecycleWiring.test.ts
Due: electron_app

🚜 [refactor] Move debug state helper out of renderer
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/developmentDebugGlobals.ts
  tests/unit/renderer/developmentDebugGlobals.test.ts
Due: electron_app

🚜 [refactor] Split renderer Electron API wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/electronApiWiring.ts
  tests/unit/renderer/electronApiWiring.test.ts
Due: electron_app

🚜 [refactor] Split renderer global surface wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/globalSurfacesWiring.ts
  tests/unit/renderer/globalSurfacesWiring.test.ts
Due: electron_app

🚜 [refactor] Split renderer DOM access
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/domElementAccess.ts
  tests/unit/renderer/domElementAccess.test.ts
Due: electron_app

🚜 [refactor] Keep file input listener guards in wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/fileInputWiring.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Keep test bootstrap guard in wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Retire main UI globalData bridge install
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove legacy utility globals bridge
  docs/APPLICATION_LAYOUT.md
  docs/DEPRECATION_LEDGER.md
  docs/MAP_THEME_TOGGLE.md
  docusaurus/docs/development/code-standards.md
  electron-app/utils.ts
  electron-app/utils/legacy/globalUtilityRegistry.ts
  electron-app/utils/legacy/globalUtilityRendering.ts
  electron-app/utils/legacy/globalUtilityTheming.ts
  electron-app/utils/legacy/globalUtilityUi.ts
  static/app/index.html
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/rendererProcessEnvironmentPolicy.test.ts
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/utils/utils.global.exposure.test.ts
  tests/unit/utils/utils.test.ts
  tests/vitest/setupVitest.mjs
  tsconfig.app.json
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route file-open rendering through typed helper
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/files/import/handleOpenFile.test.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/loadShowFitData.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove legacy showFitData global
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/utils/ui/mainUiGlobals.ts
  tests/playwright/app-ui.spec.ts
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiGlobals.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Keep performance baseline off renderer globals
  scripts/run-performance-baseline.mjs
Due: none

🎨 [style] Format release-gate test files
  tests/playwright/app-ui.spec.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/charts/components/chartStatusIndicator.test.ts
  tests/unit/utils/debug/debugSensorInfo.test.ts
  tests/unit/utils/files/import/loadOverlayFiles.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
  tests/unit/utils/ui/controls/createMarkerCountSelector.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: none

🚜 [refactor] Stop installing globalData state bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/globalDataStore.ts
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/appState.ts
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/globalDataStore.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🔥 [refactor] Delete legacy globalData bridge helper
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/globalDataStore.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard release rehearsal workflow
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Remove passive globalData fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  electron-app/utils/rendering/helpers/summaryColModal.ts
  electron-app/utils/state/core/globalDataStore.ts
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/maps/controls/mapLapSelector.test.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/rendering/helpers/renderSummaryHelpers.test.ts
  tests/unit/rendering/helpers/summaryColModal.test.ts
  tests/unit/strictTests/ensureChartSettingsDropdowns.test.ts
  tests/unit/strictTests/files/export/createButtons.test.ts
  tests/unit/strictTests/maps/controls/mapLapSelector.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  tests/unit/strictTests/renderEventMessagesChart.test.ts
  tests/unit/strictTests/renderLapZoneCharts.test.ts
  tests/unit/strictTests/rendering/core/renderSummary_and_helpers.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/charts/core/getChartCounts.test.ts
  tests/unit/utils/rendering/components/createUserDeviceInfoBox.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryHelpers.test.ts
  tests/unit/utils/rendering/helpers/showColModal.interactions.test.ts
  tests/unit/utils/rendering/helpers/summaryColModal.fileOverridePersistence.test.ts
  tests/unit/utils/state/core/globalDataStore.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
  tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/metricsPreview.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/stateHelpers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] Format managed globalData test fixtures
  tests/unit/maps/controls/mapLapSelector.test.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/strictTests/maps/controls/mapLapSelector.test.ts
  tests/unit/strictTests/rendering/core/renderSummary_and_helpers.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/charts/core/getChartCounts.test.ts
  tests/unit/utils/rendering/components/createUserDeviceInfoBox.test.ts
  tests/unit/utils/rendering/helpers/summaryColModal.fileOverridePersistence.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/stateHelpers.test.ts
Due: none

🐛 [fix] Make unsigned packaging ignore signing secrets
  electron-builder.config.cjs
  scripts/run-electron-builder.mjs
  tests/unit/packaging/electronBuilderConfig.test.ts
  tests/unit/packaging/runElectronBuilder.test.ts
Due: none

🎨 [style] Format electron builder signing flag
  electron-builder.config.cjs
Due: none

📝 [docs] Document unsigned local packaging
  docs/DEVELOPMENT_GUIDE.md
Due: none

👷 [build] Update electron builder signing flag
  electron-builder.config.cjs
  package-lock.json
  package.json
  tests/unit/packaging/electronBuilderConfig.test.ts
Due: none

🧪 [test] Rebuild stale preload dist fixtures
  tests/vitest/helpers/preloadDist.ts
Due: none

👷 [ci] Smoke test packaged build jobs
  .github/workflows/Build.yml
  scripts/update-build-matrix-summary.mjs
  tests/unit/packaging/updateBuildMatrixSummary.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

👷 [ci] Harden release readiness checks
  .github/workflows/Build.yml
  .github/workflows/dependency-validation.yml
  docs/DEVELOPMENT_GUIDE.md
  docs/PERFORMANCE_BASELINES.md
  package.json
  scripts/run-performance-baseline.mjs
  scripts/verify-signed-artifacts.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
  tests/unit/packaging/verifySignedArtifacts.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🔥 [chore] Remove outdated new-goal.md document
  new-goal.md
Due: none

🚜 [refactor] Split preload development tools global
  docs/DEPRECATION_LEDGER.md
  electron-app/preload.ts
  electron-app/preload/developmentToolsGlobal.ts
  tests/unit/preload.developmentToolsGlobal.test.ts
Due: electron_app

🚜 [refactor] Route chart readiness through FIT selectors
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Lazy import elevation Chart dependency
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Add FIT message array selectors
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/createExportGPXButton.ts
  electron-app/utils/maps/controls/mapLapSelector.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart counts through FIT selectors
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/getChartCounts.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart renderers through FIT selectors
  electron-app/utils/charts/rendering/renderEventMessagesChart.ts
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart theme FIT checks through selectors
  electron-app/utils/charts/theming/chartThemeListener.ts
  electron-app/utils/ui/controls/createElevationProfileButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove debug tooltip global data reads
  electron-app/utils/debug/debugSensorInfo.ts
  electron-app/utils/formatting/display/formatTooltipData.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read summary metadata from managed state
  electron-app/utils/rendering/components/createUserDeviceInfoBox.ts
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  electron-app/utils/rendering/helpers/summaryColModal.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read chart controls from managed state
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  electron-app/utils/ui/controls/dataPointFilterControl/stateHelpers.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read lifecycle FIT data from managed state
  electron-app/utils/app/lifecycle/listeners.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
