Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Remove broad preload factory alias
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadModuleTypes.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow main logger console dispatch
  docs/DEPRECATION_LEDGER.md
  electron-app/main/logging/logWithContext.ts
  goal-plan.md
  tests/unit/main/logging/logWithContext.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Guard app menu Electron runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/menu/createAppMenu.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove IPC constants bridge cast
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Import typed FIT parser facade
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/fitParserFacade.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Guard Leaflet draw created events
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/leafletPluginControls.ts
  goal-plan.md
  tests/unit/maps/controls/leafletPluginControls.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type chart share callback returns
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/ui/components/createSettingsHeader.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard Imgur upload response parsing
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.colocated.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard GPX export route data
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/createExportGPXButton.ts
  electron-app/utils/files/export/gpxExport.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/createExportGPXButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard settings import payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/settingsStateCore.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/settingsStateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard Browser listing payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard overlay loaded-file state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadOverlayFiles.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadOverlayFiles.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard FIT parser error payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/fitParsePayload.ts
  goal-plan.md
  tests/unit/files/import/fitParsePayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard overlay filename state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/getOverlayFileName.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/getOverlayFileName.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard Browser feature gate API
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard Browser tab API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard settings modal API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard drag-drop API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dragDropHandler.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard main UI DOM API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/mainUiDomUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiDomUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard show FIT data API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard fullscreen API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard CSV clipboard API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard update notification API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard menu IPC API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard version info API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard open-file selector API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFileSelector.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFileSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard FIT path API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFitFileFromPath.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard file-open API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard overlay decoder API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard lifecycle API candidate
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard main UI API candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiElectronApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiElectronApiBindings.test.ts
Due: electron_app

🚜 [refactor] Guard startup hook candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiStartupHooks.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
Due: electron_app

👷 [ci] Wire rehearsal signing preflight secrets
  .github/workflows/release-rehearsal.yml
  docs/DEPRECATION_LEDGER.md
  docs/DEVELOPMENT_GUIDE.md
  goal-plan.md
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧹 [chore] Clean root lint gate
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: none

🚜 [refactor] Guard debug metadata snapshots
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugToolsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugToolsRuntime.test.ts
Due: electron_app

🚜 [refactor] Guard screenfull runtime candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/screenfullRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/screenfullRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard core vendor runtime candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/dom/domPurifyRuntime.ts
  electron-app/utils/rendering/helpers/arqueroRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/dom/domPurifyRuntime.test.ts
  tests/unit/utils/rendering/helpers/arqueroRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard registered chart candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/createSettingsHeader.ts
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/controls/createInlineZoneColorSelector.test.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard promise-like candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/performance/lazyRenderingUtils.ts
  electron-app/utils/errors/errorHandling.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/performance/lazyRenderingUtils.test.ts
  tests/unit/utils/errorHandling.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard render map runtime candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
