Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

📝 [docs] (shared) Document FIT shared contracts
  electron-app/shared/fit.ts
Due: electron_app

📝 [docs] (utils) Fix malformed utility TSDoc
  electron-app/utils/async/pLimitCompat.ts
  electron-app/utils/formatting/display/formatCapitalize.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (ui) Tighten main UI entrypoint lint
  electron-app/main-ui.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🔊 [chore] (renderer) Route startup logs through logger
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type dynamic module resolver
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type environment probes
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type error notifications
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type performance metrics
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Rename state init tracker
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type startup hooks
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type async preload hooks
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type runtime diagnostics
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type legacy state bridge
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type debug globals
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type dev wiring
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type electron API hooks
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type test api reassignment
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (renderer) Type test listener shims
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🏷️ [chore] (preload) Type ipc bridge
  electron-app/preload.js
Due: electron_app, ‚ö° Core Electron Process

🏷️ [chore] (main) Type entrypoint imports
  electron-app/main.js
Due: electron_app, ‚ö° Core Electron Process

🧹 [chore] (config) Clean lint noise
  electron-app/.remarkrc.mjs
  electron-app/stylelint.config.mjs
  electron-app/tsconfig.json
Due: electron_app

🧪 [test] Strengthen export utils assertions
  electron-app/utils/files/export/exportUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🔧 [test] Harden Vitest config lint
  electron-app/vitest.config.js
Due: electron_app

🧪 [test] Strengthen state integration coverage
  electron-app/tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app

🧪 [test] Strengthen preload advanced coverage
  electron-app/tests/unit/preload.advanced.test.ts
Due: electron_app

🧪 [test] Strengthen preload comprehensive coverage
  electron-app/tests/unit/preload.comprehensive.test.ts
Due: electron_app

🧪 [test] Strengthen preload API coverage
  electron-app/tests/unit/preload.test.ts
Due: electron_app

🧪 [test] Strengthen lap zone chart coverage
  electron-app/tests/strictTests/renderLapZoneCharts.test.ts
Due: electron_app

🧪 [test] Strengthen renderer basic coverage
  electron-app/tests/unit/renderer.basic.test.ts
Due: electron_app

🧪 [test] Strengthen active tab comprehensive coverage
  electron-app/tests/unit/utils/updateActiveTab.comprehensive.test.ts
Due: electron_app

🧪 [test] Strengthen tab button enablement coverage
  electron-app/tests/unit/utils/enableTabButtons.complete.test.ts
Due: electron_app

🧪 [test] Strengthen fit parser coverage
  electron-app/tests/unit/fitParser.comprehensive.test.ts
Due: electron_app

🧪 [test] Strengthen renderChartJS comprehensive coverage
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app

🧪 [test] Strengthen setup tab button coverage
  electron-app/tests/unit/utils/setupTabButton.comprehensive.test.ts
Due: electron_app

🧪 [test] Strengthen UI state manager coverage
  electron-app/tests/unit/state/domain/uiStateManager.test.ts
Due: electron_app

🧪 [test] Strengthen lifecycle listener coverage
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
Due: electron_app

🧪 [test] Strengthen export utility coverage
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
Due: electron_app

🧪 [test] Strengthen chart state manager coverage
  electron-app/tests/unit/charts/core/chartStateManager.test.ts
Due: electron_app

🧪 [test] Strengthen active tab update coverage
  electron-app/tests/unit/utils/updateActiveTab.focused.test.ts
Due: electron_app

🧪 [test] Strengthen renderChartJS basic coverage
  electron-app/tests/unit/utils/renderChartJS.basic.test.ts
Due: electron_app
