Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Guard blocked request candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/setupBlockedRequests.ts
  goal-plan.md
  tests/unit/main/security/setupBlockedRequests.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Guard Gyazo server candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/oauth/gyazoOAuthServer.ts
  goal-plan.md
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Guard FIT SDK candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/fitParser.ts
  goal-plan.md
  tests/unit/fitParser.decoder.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow window and DOM candidate probes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/dom/domHelpers.ts
  electron-app/windowStateUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/windowStateUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type tab button timers through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/enableTabButtons.ts
  electron-app/utils/ui/controls/enableTabButtonsDebug.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type inline zone timers through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type field toggle timers through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  electron-app/utils/ui/components/createFieldTogglesSectionRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/components/createFieldTogglesSectionRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type Leaflet runtime timers through browser runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/leafletRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/maps/core/leafletRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type lazy rendering timers through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/performance/lazyRenderingRuntime.ts
  electron-app/utils/app/performance/lazyRenderingUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/performance/lazyRenderingUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type error listeners through browser runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandlingRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandlingRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type main-process timers through runtime aliases
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/gyazoStartupTimerState.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/runtime/mainProcessTimerHandle.ts
  electron-app/main/runtime/primeTestEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Route resource intervals through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/resourceManager.ts
  electron-app/utils/app/lifecycle/resourceManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/resourceManager.test.ts
  tests/unit/utils/app/lifecycle/resourceManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

✅ [test] Validate Node version files in release gates
  .github/workflows/dependency-validation.yml
  docs/DEVELOPMENT_GUIDE.md
  package.json
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Route main-process timers through helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/gyazoStartupTimerState.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/runtime/mainProcessTimerHandle.ts
  electron-app/main/runtime/primeTestEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

✅ [test] Align renderer cookie policy guard
  tests/unit/packaging/rendererProcessEnvironmentPolicy.test.ts
Due: none

✅ [test] Guard deleted vendor globals
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

✅ [test] Guard Windows 7 carry-forward workflow
  tests/unit/packaging/buildWin7Workflow.test.ts
Due: none

🔐 [chore] Require signed agent commits
  .github/agent-commit-message-instructions.md
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] Guard utility runtime fallbacks
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Centralize browser global access
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard preload API domain ownership
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard Browser state helpers
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard tab render state helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Centralize render lifecycle resets
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/fitFileState.ts
  electron-app/utils/state/domain/rendererRenderLifecycleState.ts
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererRenderLifecycleState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart rendered subscriptions
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererChartRenderState.ts
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart state view flags
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStateView.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart export render state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartExportState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart rendering start state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartLifecycle.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart clear render state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartLifecycle.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart completion render state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart initialization state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStateManagement.ts
  electron-app/utils/charts/core/renderChartStateManagementApi.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStateManagement.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart data reset state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart action state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart state view reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStateView.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStateView.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart state data reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStateView.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStateView.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart status state reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStatus.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStatus.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart completion state reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartCompletionState.ts
  electron-app/utils/charts/core/renderChartDataCompletion.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRenderedEvent.ts
  electron-app/utils/charts/core/renderChartStateManagement.ts
  electron-app/utils/charts/core/renderChartStateManagementApi.ts
  electron-app/utils/charts/core/renderChartSuccessfulCompletion.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartRenderedEvent.test.ts
  tests/unit/utils/charts/core/renderChartStateManagement.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart data state writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDataPreparation.ts
  electron-app/utils/charts/core/renderChartDataReadiness.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRenderSettings.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDataPreparation.test.ts
  tests/unit/utils/charts/core/renderChartRenderSettings.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Retire chart runtime set-state alias
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartRuntimeDependencies.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartRuntimeDependencies.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Retire chart runtime state aliases
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRuntimeDependencies.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartRuntimeDependencies.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
