Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Export main runtime support helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/logging/logWithContext.ts
  electron-app/main/menu/safeCreateAppMenu.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/electronAccess.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/runtime/primeTestEnvironment.ts
  electron-app/main/runtime/setupMainLifecycle.ts
  electron-app/main/security/ipcSenderPolicy.ts
  electron-app/main/security/setupBlockedRequests.ts
  electron-app/main/updater/setupAutoUpdater.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  electron-app/main/window/windowValidation.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  goal-plan.md
  tests/unit/main.entrypoint.test.ts
  tests/unit/main/security/setupBlockedRequests.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export main updater access helper
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/updater/autoUpdaterAccess.ts
  electron-app/main/updater/setupAutoUpdater.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export Node runtime module helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/nodeModules.ts
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/main/security/ipcSenderPolicy.ts
  goal-plan.md
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/main/security/fileAccessPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main lifecycle setup
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/setupMainLifecycle.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main development helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/dev/exposeDevHelpers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main window bootstrap helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export FIT parser integration
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/runtime/fitParserIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Retire main state CJS export fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/integration/mainProcessStateManager.ipc.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export main menu event setup
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  goal-plan.md
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Import main app event helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  goal-plan.md
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export window state utilities
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  electron-app/windowStateUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/windowStateUtils.persistence.test.ts
Due: electron_app

🚜 [refactor] Import main entrypoint helpers natively
  docs/DEPRECATION_LEDGER.md
  electron-app/main.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/utils/files/recent/recentFiles.ts
  goal-plan.md
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export app menu creation natively
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/safeCreateAppMenu.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/app/menu/index.ts
  goal-plan.md
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Import validation and logging packages natively
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerClipboardHandlers.ts
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/main/updater/setupAutoUpdater.ts
  goal-plan.md
  tests/unit/main/updater/setupAutoUpdater.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize electron-conf runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/runtime/electronConfAccess.ts
  electron-app/main/runtime/fitParserIntegration.ts
  electron-app/main/runtime/nodeModules.ts
  electron-app/main/state/appState.ts
  electron-app/utils/app/menu/createAppMenu.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove master state CJS cache probing
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize runtime package loading
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/electronAccess.ts
  electron-app/main/updater/autoUpdaterAccess.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove updater namespace fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccess.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Remove preload source require bridge
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload-eval.test.ts
  tests/unit/preload-minimal.test.ts
  tests/unit/preload.development-mode.test.ts
  tests/unit/preload.edgeCases.test.ts
  tests/unit/preload.source.test.ts
  tests/unit/preload.sourceExecution.test.ts
  tests/vitest/helpers/preloadModuleMocks.ts
  tests/vitest/helpers/preloadSourceRequire.ts
Due: none

🧪 [test] Use native imports in main process tests
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/main/ipc/ipcRegistry.senderPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: none

🧹 [chore] Use native resolution in package scripts
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  scripts/build-docs.mjs
  scripts/build-runtime.mjs
  scripts/bundle-preload.mjs
  scripts/ensure-electron-binary.mjs
  scripts/run-electron-builder.mjs
  scripts/run-electron.mjs
  scripts/run-eslint.mjs
  scripts/update-deps.mjs
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Remove avoidable CJS test loading
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/electronBuilderFiles.test.ts
Due: none

🧹 [chore] Resolve macOS build helper natively
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  scripts/ensure-macos-builder-deps.mjs
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Isolate runtime compatibility boundaries
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/vendorGlobalsMap.ts
  goal-plan.md
  scripts/build-runtime.mjs
  scripts/bundle-main.mjs
  scripts/lib/workspaces.mjs
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/buildRuntime.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: electron_app

🔥 [docs] Remove obsolete CommonJS mock guide
  docs/DEPRECATION_LEDGER.md
  docs/MOCK_COMMONJS_IN_ESM.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Drop retired renderer global probes
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/charts/core/renderChartNotificationHelpers.test.ts
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

📝 [docs] Remove stale app-code require examples
  docs/DEPRECATION_LEDGER.md
  docs/FIT_PARSER_MIGRATION_GUIDE.md
  docusaurus/docs/api-reference/ipc-communication.md
  goal-plan.md
  tests/unit/packaging/sourceEntryDocs.test.ts
Due: none

🧪 [test] Remove builder config require bridge
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/electronBuilderConfig.test.ts
Due: none

🧪 [test] Remove state manager global require patch
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.test.ts
Due: none

🧪 [test] Remove preload cache injection test
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.debug.test.ts
  tests/vitest/helpers/preloadDist.ts
Due: none

🧪 [test] Remove chart render require hook
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: none

🧪 [test] Clear renderer helper lint warnings
  goal-plan.md
  tests/unit/charts/core/chartStateManagerRuntime.test.ts
  tests/unit/charts/core/renderChartTimerRuntime.test.ts
  tests/unit/charts/core/renderChartTiming.test.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
  tests/unit/utils/charts/core/renderChartDirectRerender.test.ts
  tests/unit/utils/charts/core/renderChartRequestListenerRuntime.test.ts
  tests/unit/utils/charts/core/renderChartStartupRuntime.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
  tests/unit/utils/state/domain/rendererChartControlsState.test.ts
  tests/unit/utils/state/domain/rendererChartPerformanceState.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
  tests/unit/utils/state/domain/rendererLoadingState.test.ts
  tests/unit/utils/state/domain/rendererNotificationState.test.ts
  tests/unit/utils/state/domain/rendererStateManagerAccess.test.ts
  tests/unit/utils/state/domain/rendererThemeState.test.ts
Due: none

🧪 [test] Remove animation debug global seed
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/lastAnimLog.test.ts
Due: none

🧪 [test] Remove strict renderer dev global cleanup
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: none

🧪 [test] Remove development debug global cleanup
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: none

🧪 [test] Remove state integration global cleanup
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: none

🧪 [test] Remove debug sensor globalData fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/debugSensorInfo.test.ts
Due: none

🧪 [test] Remove loaded files global fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/loadedFitFilesState.test.ts
Due: none

🧪 [test] Remove resize listener chart global fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersResize.test.ts
Due: none

🧪 [test] Remove main UI startup global cleanup
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: none
