Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

ci [changelog] Use root changelog runner
  .github/workflows/Build.yml
  .github/workflows/updateChangeLogs.yml
  scripts/generate-changelog.mjs
Due: none

ci [macos] Route builder deps through root script
  .github/workflows/Build.yml
  package.json
  scripts/ensure-macos-builder-deps.mjs
Due: none

docs [docusaurus] Prefer root docs runners
  docusaurus/CHECKLIST.md
  docusaurus/README.md
  docusaurus/SETUP.md
  package.json
Due: none

docs [development] Refresh root command examples
  docusaurus/docs/development/build-release.md
  docusaurus/docs/development/setup.md
  docusaurus/docs/development/testing.md
Due: none

test [unit] Tighten validation assertions
  electron-app/tests/strictTests/renderEventMessagesChart.test.ts
  electron-app/tests/unit/utils/errorHandling.test.ts
Due: electron_app

build [docs] Remove duplicate docusaurus scripts
  docs/lint-notes.md
  docusaurus/package.json
Due: none

test [strict] Strengthen export chart assertions
  electron-app/tests/strictTests/files/export/gpxExport.test.ts
  electron-app/tests/strictTests/renderGPSTrackChart.test.ts
Due: electron_app

build [ignore] Centralize docusaurus generated paths
  .gitignore
  docusaurus/.gitignore
Due: none

test [dom] Tighten CSS color sanitizer property
  electron-app/tests/unit/utils/dom/sanitizeCssColorToken.property.test.ts
Due: electron_app

build [docusaurus] Drop duplicate eslint plugin dependency
  docusaurus/package.json
  package-lock.json
Due: none

test [charts] Replace redundant negative assertions
  electron-app/tests/strictTests/renderAltitudeProfileChart.test.ts
  electron-app/tests/unit/utils/renderChartJS.stateApi.test.ts
Due: electron_app

docs [deps] Update renderer dependency inventory
  docs/RENDERER_DEPENDENCY_INVENTORY.md
Due: none

build [docs] Move API category helper to root
  docs/APPLICATION_LAYOUT.md
  scripts/build-docs.mjs
  scripts/generate-api-categories.mjs
Due: none

docs [testing] Move module mocking guide to root
  docs/MOCK_COMMONJS_IN_ESM.md
Due: none

docs [assets] Move screenshots out of electron app
  README.md
  docs/APPLICATION_LAYOUT.md
  docs/screenshots/ChartsV2.png
  docs/screenshots/ChartsV3.png
  docs/screenshots/DataV2.png
  docs/screenshots/HarryOnlineLogo.png
  docs/screenshots/MapsV2.png
  docs/screenshots/chart.png
  docs/screenshots/data.png
  docs/screenshots/map.png
  docs/screenshots/newChart.png
  docs/screenshots/newData.png
  docs/screenshots/newMap.png
  docs/screenshots/newRawData.png
  docs/screenshots/newSummary.png
Due: none

build [flatpak] Use canonical app favicon
  electron-app/favicon.ico
  flatpak-build.yml
Due: electron_app

docs [assets] Generate docusaurus screenshots from root
  .gitignore
  docusaurus/CHECKLIST.md
  docusaurus/static/img/screenshots/ChartsV3.png
  docusaurus/static/img/screenshots/DataV2.png
  docusaurus/static/img/screenshots/MapsV2.png
  scripts/clean-workspace.mjs
  scripts/run-docusaurus.mjs
  scripts/sync-docusaurus-screenshots.mjs
Due: none

docs [assets] Generate docusaurus favicon from app icon
  .gitignore
  docusaurus/CHECKLIST.md
  docusaurus/static/favicon.ico
  docusaurus/static/img/favicon.ico
  scripts/clean-workspace.mjs
  scripts/run-docusaurus.mjs
  scripts/sync-docusaurus-static-assets.mjs
Due: none

test [playwright] Report collected UI failures clearly
  tests/playwright/app-ui.spec.ts
Due: none

docs [cleanup] Align docusaurus setup notes with root workflow
  .gitignore
  docusaurus/CHECKLIST.md
  docusaurus/SETUP.md
  scripts/clean-workspace.mjs
Due: none

fix [formatting] Resolve Favero manufacturer mapping
  electron-app/tests/unit/utils/formatManufacturer.new.test.ts
  electron-app/utils/formatting/formatters/formatManufacturer.ts
Due: electron_app, üõ†Ô∏è Utilities

fix [formatting] Reject non-finite time values
  electron-app/tests/unit/utils/formatters.working.test.ts
  electron-app/utils/formatting/formatters/formatTime.ts
Due: electron_app, üõ†Ô∏è Utilities

build [docs] Move docusaurus tsconfig to root
  docusaurus/tsconfig.json
  scripts/run-prettier.mjs
  scripts/typecheck-docusaurus.mjs
  tsconfig.docusaurus.json
Due: none

build [docs] Move typedoc config to root
  docusaurus/CHECKLIST.md
  docusaurus/README.md
  docusaurus/SETUP.md
  docusaurus/docusaurus.config.ts
  scripts/build-docs.mjs
  scripts/run-prettier.mjs
  typedoc.json
Due: none

build [docs] Remove unused typedoc plugins
  docusaurus/SETUP.md
  docusaurus/package.json
  package-lock.json
Due: none

build [docs] Resolve typedoc from root
  docusaurus/package.json
  package-lock.json
  package.json
  scripts/build-docs.mjs
Due: none

build [deps] Cover root workspace updates
  .github/dependabot.yml
  .ncurc.json
Due: none

test [preload] Assert full IPC bridge catalog
  electron-app/tests/unit/preload/ipcBridgeCatalog.test.ts
Due: electron_app

test [lookups] Count ANT table assertions
  electron-app/tests/unit/utils/dataAntManufacturerIDs.test.ts
  electron-app/tests/unit/utils/dataAntProductIds.test.ts
Due: electron_app

test [export] Count chart helper assertions
  electron-app/tests/unit/utils/exportUtils.chartExport.test.ts
Due: electron_app

test [export] Count chart export assertions
  electron-app/tests/unit/utils/exportUtils.chartExport.test.ts
Due: electron_app

test [main] Count entrypoint assertions
  electron-app/tests/unit/main.entrypoint.test.ts
Due: electron_app

build [docs] Move markdown lint tooling to root
  docusaurus/package.json
  package-lock.json
  package.json
Due: none

build [docs] Move docusaurus tsconfig dep to root
  docusaurus/package.json
  package-lock.json
  package.json
Due: none

build [docs] Use root node types
  docusaurus/package.json
  package-lock.json
Due: none

build [docs] Use root typescript
  docusaurus/package.json
  package-lock.json
Due: none

test [state] Tighten event assertions
  electron-app/tests/integration/tabStateIntegration.test.ts
  electron-app/tests/stateMiddleware.branches.test.ts
Due: electron_app

test [maps] Tighten control call assertions
  electron-app/tests/maps/controls/mapFullscreenControl.test.ts
  electron-app/tests/maps/controls/mapMeasureTool.test.ts
Due: electron_app

test [charts] Tighten lap zone theme assertion
  electron-app/tests/charts/renderLapZoneChart.test.ts
Due: electron_app

test [utils] Tighten utility assertions
  electron-app/tests/unit/main.entrypoint.test.ts
  electron-app/tests/unit/utils/eventListenerManager.lifecycle.test.ts
  electron-app/tests/unit/utils/formatTime.test.ts
  electron-app/tests/unit/utils/getActiveTabContent.behavior.test.ts
  electron-app/tests/unit/utils/showNotification.interactions.test.ts
Due: electron_app
