Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Localize export utility test overrides
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/files/export/exportUtils.test.ts
  tests/unit/utils/files/export/exportUtils.ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Retire manual mock registry fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/renderer/electronApiRegistration.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🚜 [refactor] Remove chart controls migration shim
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove fullscreen DOM-ready alias
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  goal-plan.md
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove showFitData render reset option
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove chart cleanup aliases
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/setupWindow.ts
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/charts/core/chartTabIntegration.ts
  goal-plan.md
  tests/unit/charts/core/chartStateManager.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/setupWindow.test.ts
  tests/unit/utils/app/initialization/setupWindow.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Rename chart lifecycle action access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartCompletion.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartLifecycle.ts
  electron-app/utils/charts/core/renderChartPreparedExecution.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  goal-plan.md
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire export manual mock overrides
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/files/export/exportUtils.test.ts
  tests/unit/utils/files/export/exportUtils.ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Rename renderer test override resolvers
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/fileInputStartup.ts
  electron-app/renderer/fileInputWiring.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/testOnlyBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: electron_app

🧪 [test] Retire Object.keys wrapper marker
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Localize createAppMenu Electron fixtures
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Inject preload API assembly modules
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssembly.ts
  electron-app/preload/preloadApiAssemblyModuleLoader.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Inject preload policy validators
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssemblyContext.ts
  electron-app/preload/developerApiDomain.ts
  electron-app/preload/devtoolsMenuApi.ts
  electron-app/preload/ipcHelpers.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadPolicyModuleLoader.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.devtoolsMenuApi.test.ts
  tests/unit/preload.ipcHelpers.test.ts
  tsconfig.runtime.json
Due: electron_app

🧹 [chore] Fix export notification lint
  electron-app/utils/files/export/exportUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export preload assembly domains
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/clipboardApiDomain.ts
  electron-app/preload/developerApiDomain.ts
  electron-app/preload/diagnosticsApiDomain.ts
  electron-app/preload/externalApiDomain.ts
  electron-app/preload/fileApiDomain.ts
  electron-app/preload/stateApiDomain.ts
  electron-app/preload/systemApiDomain.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.externalApi.test.ts
  tests/unit/preload.source.test.ts
  tests/unit/preload.sourceExecution.test.ts
  tests/vitest/helpers/preloadModuleMocks.ts
  tests/vitest/helpers/preloadSourceRequire.ts
Due: electron_app

🧹 [chore] Fix Vitest setup error lint
  tests/vitest/setupVitest.mjs
Due: none

🚜 [refactor] Export preload app factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiDiagnostics.ts
  electron-app/preload/appInfoApi.ts
  electron-app/preload/gyazoExternalApi.ts
  electron-app/preload/shellExternalApi.ts
  electron-app/preload/themeApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.apiDiagnostics.test.ts
  tests/unit/preload.appInfoApi.test.ts
  tests/unit/preload.themeApi.test.ts
Due: electron_app

🚜 [refactor] Export preload file factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/clipboardBridge.ts
  electron-app/preload/fileApi.ts
  electron-app/preload/fitBrowserApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.clipboardBridge.test.ts
  tests/unit/preload.fileApi.test.ts
  tests/unit/preload.fitBrowserApi.test.ts
Due: electron_app

🚜 [refactor] Export preload state factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/mainStateApi.ts
  electron-app/preload/mainStateBridge.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.mainStateApi.test.ts
  tests/unit/preload.mainStateBridge.test.ts
Due: electron_app

🚜 [refactor] Export preload runtime utilities
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/environment.ts
  electron-app/preload/logger.ts
  electron-app/preload/preloadRuntimeEnvironment.ts
  electron-app/preload/validators.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.environment.test.ts
  tests/unit/preload.logger.test.ts
  tests/unit/preload.preloadRuntimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Export preload event factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/ipcEventApiDomain.ts
  electron-app/preload/menuEventApi.ts
  electron-app/preload/preloadEventApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.menuEventApi.test.ts
  tests/unit/preload.preloadEventApi.test.ts
Due: electron_app

🚜 [refactor] Export preload support modules
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssemblyContext.ts
  electron-app/preload/ipcBridgeCatalog.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.apiAssemblyContext.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
Due: electron_app

🚜 [refactor] Export preload exposure helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/beforeExitHandler.ts
  electron-app/preload/developmentToolsGlobal.ts
  electron-app/preload/electronApiExposure.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.developmentToolsGlobal.test.ts
  tests/unit/preload.electronApiExposure.test.ts
Due: electron_app

🚜 [refactor] Export preload helper factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/devtoolsMenuApi.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronBridge.ts
  electron-app/preload/ipcHelpers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.devtoolsMenuApi.test.ts
  tests/unit/preload.electronBridge.test.ts
  tests/unit/preload.ipcHelpers.test.ts
Due: electron_app

🚜 [refactor] Export preload runtime loaders
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssembly.ts
  electron-app/preload/preloadApiAssemblyModuleLoader.ts
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadBootstrap.ts
  electron-app/preload/preloadFileModuleLoader.ts
  electron-app/preload/preloadIpcModuleLoader.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadPolicyModuleLoader.ts
  electron-app/preload/preloadRuntime.ts
  electron-app/preload/preloadStateModuleLoader.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Quarantine preload source require bridge
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.apiAssemblyContext.test.ts
  tests/unit/preload.apiDiagnostics.test.ts
  tests/unit/preload.appInfoApi.test.ts
  tests/unit/preload.clipboardBridge.test.ts
  tests/unit/preload.developmentToolsGlobal.test.ts
  tests/unit/preload.devtoolsMenuApi.test.ts
  tests/unit/preload.electronApiExposure.test.ts
  tests/unit/preload.electronBridge.test.ts
  tests/unit/preload.environment.test.ts
  tests/unit/preload.externalApi.test.ts
  tests/unit/preload.fileApi.test.ts
  tests/unit/preload.fitBrowserApi.test.ts
  tests/unit/preload.ipcHelpers.test.ts
  tests/unit/preload.logger.test.ts
  tests/unit/preload.mainStateApi.test.ts
  tests/unit/preload.mainStateBridge.test.ts
  tests/unit/preload.menuEventApi.test.ts
  tests/unit/preload.preloadEventApi.test.ts
  tests/unit/preload.preloadRuntimeEnvironment.test.ts
  tests/unit/preload.themeApi.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
Due: none

🧪 [test] Use native imports for preload policies
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.devtoolsMenuPolicy.test.ts
  tests/unit/preload.fitBrowserPathPolicy.test.ts
  tests/unit/preload.fitFilePathPolicy.test.ts
  tests/unit/preload.mainStatePathPolicy.test.ts
Due: none

🧪 [test] Use native imports for preload module mocks
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/helpers/preloadModuleMocks.ts
Due: none

🚜 [refactor] Export shared policies as ESM source
  docs/DEPRECATION_LEDGER.md
  electron-app/fitParser.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/security/externalUrlPolicy.ts
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/preload/preloadPolicyModuleLoader.ts
  electron-app/shared/devtoolsMenuPolicy.ts
  electron-app/shared/externalUrlPolicy.ts
  electron-app/shared/fitBrowserPathPolicy.ts
  electron-app/shared/fitFilePathPolicy.ts
  electron-app/shared/fitUnknownMessageLabels.ts
  electron-app/shared/mainStatePathPolicy.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🔥 [refactor] Remove external URL policy facade
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/externalUrlPolicy.ts
  goal-plan.md
  tests/unit/main/security/externalUrlPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Export FIT parser source API
  docs/DEPRECATION_LEDGER.md
  electron-app/fitParser.ts
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/runtime/fitParserFacade.ts
  electron-app/main/runtime/fitParserIntegration.ts
  electron-app/shared/fitParser.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/integration/mainProcessStateManager.ipc.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export main state source APIs
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/constants.ts
  electron-app/main/state/appState.ts
  electron-app/utils/state/integration/index.ts
  goal-plan.md
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export main timer test runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/gyazoStartupTimerState.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/runtime/primeTestEnvironment.ts
  goal-plan.md
  tests/unit/main.entrypoint.test.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main IPC payload policies
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/fileReadPayload.ts
  electron-app/main/ipc/fitIpcPayload.ts
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/main/security/fileAccessPolicyState.ts
  goal-plan.md
  tests/unit/main/ipc/binaryPayloadBoundaries.test.ts
  tests/unit/main/ipc/fileReadPayload.test.ts
  tests/unit/main/ipc/fitIpcPayload.test.ts
  tests/unit/main/ipc/registerFileSystemHandlers.test.ts
  tests/unit/main/security/fileAccessPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main IPC handler modules
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  goal-plan.md
  tests/unit/main/ipc/registerBrowserHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main IPC leaf handlers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerClipboardHandlers.ts
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main IPC registry policy
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/security/ipcSenderPolicy.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  goal-plan.md
  tests/unit/main/ipc/ipcRegistry.senderPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Export main window send helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/ipc/sendToRenderer.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/theme/getThemeFromRenderer.ts
  electron-app/main/updater/setupAutoUpdater.ts
  electron-app/main/window/windowValidation.ts
  goal-plan.md
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/main/updater/setupAutoUpdater.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main theme updater helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/theme/getThemeFromRenderer.ts
  electron-app/main/updater/setupAutoUpdater.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Export main bootstrap IPC setup
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/initializeApplication.ts
  goal-plan.md
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
