Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🏷️ [types] (electron-app) Type Node module accessors
  electron-app/main/runtime/nodeModules.js
  electron-app/types/main/runtime/nodeModules.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type initialize application result
  electron-app/main/runtime/initializeApplication.js
  electron-app/types/main/runtime/initializeApplication.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type Electron module accessors
  electron-app/main/runtime/electronAccess.js
  electron-app/types/main/runtime/electronAccess.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type Gyazo OAuth server helpers
  electron-app/main/oauth/gyazoOAuthServer.js
Due: electron_app

🏷️ [types] (electron-app) Type development helpers
  electron-app/main/dev/exposeDevHelpers.js
Due: electron_app

🏷️ [types] (electron-app) Type test environment priming
  electron-app/main/runtime/primeTestEnvironment.js
  electron-app/types/main/runtime/primeTestEnvironment.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type application event handlers
  electron-app/main/app/setupApplicationEventHandlers.js
Due: electron_app

🏷️ [types] (electron-app) Type window state validation
  electron-app/windowStateUtils.js
Due: electron_app, ü™ü Window State Management

🏷️ [types] (electron-app) Type filename auto-scroll state
  electron-app/utils/ui/unifiedControlBar.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type animation debug logging
  electron-app/utils/debug/lastAnimLog.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type sensor debug helpers
  electron-app/utils/debug/debugSensorInfo.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type drag drop file handling
  electron-app/utils/ui/dragDropHandler.js
Due: electron_app, üõ†Ô∏è Utilities

🛡️ [security] (electron-app) Type legacy UI globals
  electron-app/tests/strictTests/ui/main-ui.test.ts
  electron-app/utils/ui/mainUiGlobals.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type Leaflet map icons
  electron-app/utils/maps/layers/mapIcons.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type recent files barrel
  electron-app/utils/files/recent/index.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type system info updates
  electron-app/utils/app/initialization/updateSystemInfo.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart resize globals
  electron-app/utils/app/lifecycle/listenersResize.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type map theme toggle globals
  electron-app/utils/theming/specific/createMapThemeToggle.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type Leaflet base layers
  electron-app/utils/maps/layers/mapBaseLayers.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type map document globals
  electron-app/utils/maps/core/mapDocumentListeners.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type app menu fallback export
  electron-app/utils/app/menu/index.js
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] (electron-app) Clarify sanitize filename comments
  electron-app/utils/files/sanitizeFilename.js
  electron-app/utils/files/sanitizeFilename.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type menu IPC globals
  electron-app/utils/app/lifecycle/menuIpcListeners.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type performance utility wrappers
  electron-app/utils/app/performance/performanceUtils.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type cancellation errors
  electron-app/utils/app/async/cancellationToken.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart setting parsing
  electron-app/utils/app/initialization/getCurrentSettingsParsing.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart settings defaults
  electron-app/utils/app/initialization/getCurrentSettings.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart settings rerender globals
  electron-app/utils/app/initialization/getCurrentSettings.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart settings reset fallback
  electron-app/utils/app/initialization/getCurrentSettings.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type chart settings UI reset controls
  electron-app/utils/app/initialization/getCurrentSettings.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type main UI legacy globals
  electron-app/main-ui.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🛡️ [security] (electron-app) Type FIT parser IPC boundary
  electron-app/utils/files/import/fitParserIntegration.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type resource manager cleanup handles
  electron-app/utils/app/lifecycle/resourceManager.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type state debug tooling
  electron-app/main-ui.js
  electron-app/utils/debug/stateDevTools.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🛡️ [security] (electron-app) Build GPX export button safely
  electron-app/utils/files/export/createExportGPXButton.js
Due: electron_app, üõ†Ô∏è Utilities

🛡️ [security] (electron-app) Type FIT browser file open path
  electron-app/tests/unit/utils/files/import/openFitFileFromPath.test.ts
  electron-app/utils/files/import/openFitFileFromPath.js
Due: electron_app, üõ†Ô∏è Utilities

🛡️ [security] (electron-app) Type overlay FIT decoder path
  electron-app/tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type overlay file collection loading
  electron-app/tests/unit/utils/files/import/loadOverlayFiles.test.ts
  electron-app/tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
  electron-app/utils/files/import/loadOverlayFiles.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type overlay file selector boundary
  electron-app/tests/unit/utils/files/import/openFileSelector.test.ts
  electron-app/utils/files/import/openFileSelector.js
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [types] (electron-app) Type CSV clipboard export
  electron-app/tests/unit/utils/files/export/copyTableAsCSV.test.ts
  electron-app/utils/files/export/copyTableAsCSV.js
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
