Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Type theming runtimes through browser aliases
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/accentColorRuntime.ts
  electron-app/utils/theming/specific/updateMapThemeRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type rendering cleanup runtimes through browser aliases
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createUserDeviceInfoBoxRuntime.ts
  electron-app/utils/rendering/helpers/summaryColModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Use browser event target for fullscreen runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] Mark renderer utility bridge retired
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Scope Leaflet temporary cleanup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/rendererVendorMap.ts
  electron-app/renderer/rendererVendorMapRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorMapRuntime.test.ts
Due: electron_app

🚜 [refactor] Narrow event listener default target
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/events/eventListenerManager.ts
  electron-app/utils/ui/events/eventListenerManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/eventListenerManager.lifecycle.test.ts
  tests/unit/utils/ui/events/eventListenerManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow error listener target runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandling.ts
  electron-app/utils/errors/errorHandlingRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandling.test.ts
  tests/unit/utils/errorHandlingRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow fullscreen window target runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow theme event target runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  electron-app/utils/theming/core/themeRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/themeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow lifecycle renderer target handoff
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationLifecycleWiring.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationLifecycleWiring.test.ts
Due: electron_app

🚜 [refactor] Narrow file input renderer target handoff
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/fileInputStartup.ts
  electron-app/renderer/fileInputWiring.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
Due: electron_app

🚜 [refactor] Narrow test bootstrap renderer target
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/testOnlyBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Narrow renderer environment API wording
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationLifecycleWiring.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
  tests/unit/utils/errorHandlingRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow updater mock runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccess.ts
  electron-app/main/updater/autoUpdaterAccessRuntime.ts
  goal-plan.md
  tests/unit/main/updater/autoUpdaterAccess.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize updater mock global lookup
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccessRuntime.ts
  goal-plan.md
  tests/unit/main/updater/autoUpdaterAccess.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize process runtime global access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/runtime/processEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Bind renderer bridge receivers
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/clipboardBridge.ts
  electron-app/preload/devtoolsMenuApi.ts
  electron-app/preload/ipcHelpers.ts
  electron-app/preload/mainStateBridge.ts
  electron-app/preload/preloadEventApi.ts
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  electron-app/utils/state/domain/uiStateManager.ts
  goal-plan.md
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.ipcHelpers.test.ts
  tests/unit/preload.mainStateBridge.test.ts
  tests/unit/state/domain/uiStateManager.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Reuse browser runtime aliases in renderer environment
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type preload runtime factory composition
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.preloadRuntime.test.ts
Due: electron_app

🚜 [refactor] Remove preload API exposure record cast
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiExposure.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.electronApiExposure.test.ts
Due: electron_app

🚜 [refactor] Guard preload IPC state payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/ipcHelpers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.ipcHelpers.test.ts
Due: electron_app

🚜 [refactor] Guard fullscreen Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard lifecycle Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard main-state Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateClient.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateClient.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard master-state Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard update notification Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard theming Electron API scopes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/theming/core/theme.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
  tests/unit/utils/theming/core/theme.additional.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard FIT data Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard menu IPC Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard renderer state Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/rendererStateIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard version info Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard recent-files Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  goal-plan.md
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard renderer environment Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard file browser Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard export utility API payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.test.ts
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard DataTables constructor validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/renderTable.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/renderTable.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Remove Browser smoke recorder globals
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Retire Playwright map-theme event global
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Route settings fixtures through runtime
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/settingsStateManager.test.ts
Due: none

🧪 [test] Guard render chart timing fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: none
