Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧹 [test] Consolidate time-in-zone chart strict coverage
  tests/unit/strictTests/charts/rendering/renderTimeInZoneCharts.test.ts
  tests/unit/strictTests/renderTimeInZoneCharts.test.ts
Due: none

🧹 [test] Consolidate update notification strict coverage
  tests/unit/strictTests/showUpdateNotification.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: none

🧹 [test] Consolidate render notification strict coverage
  tests/unit/strictTests/showRenderNotification.test.ts
  tests/unit/strictTests/ui/notifications/showRenderNotification_logic.test.ts
Due: none

🧹 [test] Consolidate map action strict coverage
  tests/unit/strictTests/maps/controls/mapActionButtons.extra.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
Due: none

🧹 [test] Consolidate sanitizer allowlist coverage
  tests/unit/utils/dom/sanitizeHtmlAllowlist.test.ts
  tests/unit/utils/sanitizeHtmlAllowlist.test.ts
Due: none

🧹 [test] Consolidate map metric filter coverage
  tests/unit/maps/filters/mapMetricFilter.test.ts
  tests/unit/utils/mapMetricFilter.test.ts
Due: none

🧹 [test] Consolidate map drawing strict coverage
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/strictTests/mapDrawLaps.test.ts
Due: none

🧹 [test] Clarify preload source and dist coverage
  tests/unit/preload.dist.test.ts
  tests/unit/preload.source.test.ts
Due: none

🧹 [test] Quiet preload and state cleanup output
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerHistory.ts
  electron-app/utils/state/core/stateManagerReset.ts
  tests/unit/preload.dist.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [test] Quiet state manager unit logs
  tests/unit/utils/stateManager.test.ts
Due: none

🧹 [test] Quiet master state introspection logs
  tests/unit/masterStateManager.introspection.test.ts
Due: none

🧹 [test] Track root CI and Flatpak configs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧹 [test] Consolidate formatter boundary coverage
  tests/unit/utils/formatters.boundaries.test.ts
Due: none

🧹 [test] Consolidate filename sanitizer coverage
  tests/unit/utils/sanitizeFilename.test.ts
Due: none

🧹 [test] Consolidate map color coverage
  tests/unit/utils/maps/core/mapColors.test.ts
Due: none

🧹 [test] Strengthen sanitizer CSS coverage
  tests/unit/utils/dom/sanitizeHtmlAllowlist.test.ts
Due: none

🧹 [test] Stabilize map theme Playwright smoke
  tests/playwright/app-ui.spec.ts
Due: none

🧹 [test] Fix root audit test gates
  tests/playwright/app-ui.spec.ts
  tests/unit/strictTests/ui/main-ui.test.ts
  tests/unit/utils/charts/rendering/renderZoneChartNew.test.ts
  tests/unit/utils/files/recent/recentFiles.test.ts
Due: none

shield [security] Harden Electron renderer surfaces
  electron-app/main-ui.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/security/ipcSenderPolicy.ts
  electron-app/tsconfig.json
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/ui/events/eventListenerManager.ts
  electron-app/utils/ui/links/externalLinkHandlers.ts
  electron-app/utils/ui/modals/aboutModal.ts
  electron-app/utils/ui/modals/ensureAboutModal.ts
  electron-app/utils/ui/settingsModal.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  eslint.config.mjs
  static/app/index.html
  static/app/style.css
  tests/unit/main-ui.startup.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/main/ipc/ipcRegistry.senderPolicy.test.ts
  tests/unit/main/ipc/registerBrowserHandlers.test.ts
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
  tests/unit/utils/ui/links/externalLinkHandlers.test.ts
  tests/unit/utils/ui/modals/ensureAboutModal.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
  tsconfig.json
Due: electron_app, üõ†Ô∏è Utilities

shield [security] Harden AltFit embed bridge
  static/ffv/electron-altfit-bridge.js
  static/ffv/electron-analytics-blocker.js
  static/ffv/index.html
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

sparkles [ui] Trap focus in app modals
  electron-app/utils/ui/modals/aboutModal.ts
  electron-app/utils/ui/modals/modalFocusTrap.ts
  electron-app/utils/ui/settingsModal.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

wrench [build] Include hardened runtime modules
  static/ffv/index.html
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
  tsconfig.runtime.json
Due: none

wrench [lint] Align Electron app lint profile
  eslint.config.mjs
Due: none

broom [lint] Clean export utility async debt
  electron-app/utils/files/export/exportUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Reduce map lap lint noise
  electron-app/utils/maps/layers/mapDrawLaps.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean browser tab async handling
  electron-app/utils/ui/browser/fileBrowserTab.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean master state manager startup
  electron-app/utils/state/core/masterStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Reduce lap map drawing debt
  electron-app/utils/maps/layers/mapDrawLaps.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean inline zone color selector
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Split chart field toggles
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  electron-app/utils/ui/components/createSettingsHeader.ts
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.ts
  electron-app/utils/ui/components/index.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Split chart settings render flow
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/app/initialization/getCurrentSettings.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Split enhanced chart config
  electron-app/utils/charts/components/createEnhancedChart.ts
  electron-app/utils/charts/components/createEnhancedChartConfig.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean zone data setup
  electron-app/utils/data/processing/setupZoneData.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean map action controls
  electron-app/utils/maps/controls/mapActionButtons.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Clean zone color utilities
  electron-app/utils/data/zones/chartZoneColorUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

broom [lint] Trim render map unsafe patterns
  electron-app/utils/maps/core/renderMap.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Validate main-state IPC senders
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
Due: electron_app, üõ†Ô∏è Utilities

sparkles [ui] Restore focus-safe accent styles
  static/app/style.css
  tests/unit/strictTests/style/styleCssVariables.test.ts
Due: none

lock [security] Pin BrowserWindow preferences
  electron-app/windowStateUtils.ts
  tests/unit/windowStateUtils.persistence.test.ts
Due: electron_app

lock [security] Keep packaged web security enabled
  electron-app/windowStateUtils.ts
  tests/unit/windowStateUtils.persistence.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
