Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧹 [docs] Align architecture docs with TypeScript sources
  docs/APPLICATION_LAYOUT.md
  docs/APPLICATION_OVERVIEW.md
  docusaurus/docs/architecture/module-system.md
  docusaurus/docs/architecture/process-model.md
  scripts/lib/workspaces.mjs
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧹 [docs] Align security docs with TypeScript sources
  docusaurus/docs/architecture/security.md
  scripts/lib/workspaces.mjs
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧹 [docs] Align FIT parser API docs with current bridge
  docs/FIT_PARSER_MIGRATION_GUIDE.md
  docusaurus/docs/advanced/fit-parser-migration.md
  docusaurus/docs/api-reference/core-apis.md
  docusaurus/docs/api-reference/ipc-communication.md
  scripts/lib/workspaces.mjs
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧹 [docs] Align performance parser example with bridge API
  docusaurus/docs/advanced/performance.md
  scripts/lib/workspaces.mjs
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧪 [test] Cover Vitest wrapper spawn failures
  tests/unit/packaging/runVitest.test.ts
Due: none

🧪 [test] Cover Prettier wrapper spawn failures
  tests/unit/packaging/runPrettier.test.ts
Due: none

🧪 [test] Cover lint and typecheck wrapper spawn failures
  tests/unit/packaging/runEslint.test.ts
  tests/unit/packaging/runTypescript.test.ts
Due: none

🧪 [test] Strengthen chart status indicator assertions
  tests/unit/utils/charts/components/createChartStatusIndicator.test.ts
Due: none

🧪 [test] Strengthen global chart status assertions
  tests/unit/utils/charts/components/createGlobalChartStatusIndicator.test.ts
Due: none

🧪 [test] Strengthen global chart status count assertions
  tests/unit/utils/charts/components/createGlobalChartStatusIndicatorFromCounts.test.ts
Due: none

🧪 [test] Strengthen shown files list DOM assertions
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: none

🧪 [test] Strengthen shown files overlay item assertions
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: none

🧪 [test] Strengthen shown files list item management assertions
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: none

🐛 [fix] Remove stale shown files clear button
  electron-app/utils/rendering/components/createShownFilesList.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [build] Fix root agent path casing
  scripts/lib/workspaces.mjs
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧪 [test] Strengthen prettier root target guard
  tests/unit/packaging/runPrettier.test.ts
Due: none

🧪 [test] Loosen vendor package version guard
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
Due: none

♻️ [refactor] Reuse shared main UI constants
  electron-app/main-ui.ts
Due: electron_app

🧹 [config] Remove duplicated app metadata constants
  electron-app/utils/config/constants.ts
  tests/unit/utils/config.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [config] Drop unused app constants group
  electron-app/utils/config/constants.ts
  tests/unit/utils/config.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [docs] Align agent guidance with root workspace
  AGENTS.md
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] Align renderer dependency inventory guard
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
Due: none

🧪 [test] Guard root dev dependency policy
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] Guard pre-commit root tooling hooks
  tests/unit/packaging/preCommitConfig.test.ts
Due: none

🧪 [test] Strengthen quick color switcher state assertions
  tests/unit/utils/ui/quickColorSwitcher.test.ts
Due: none

🧹 [build] Drop stale app coverage cleanup path
  scripts/clean-workspace.mjs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/cleanWorkspace.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🧪 [test] Strengthen accent color preset assertions
  tests/unit/ui/modals/accentColorPicker.test.ts
Due: none

🐛 [fix] Prevent stale notification hides
  electron-app/utils/ui/notifications/showNotification.ts
  tests/unit/utils/showNotification.queueEdgeCases.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Strengthen filename auto-scroll assertions
  tests/unit/utils/ui/unifiedControlBar.test.ts
Due: none

🧪 [test] Strengthen notification fallback assertions
  tests/unit/utils/showNotification.interactions.test.ts
Due: none

🧪 [test] Strengthen credits marquee state assertions
  tests/unit/utils/ui/layout/enhanceCreditsSection.test.ts
Due: none

🧪 [test] Strengthen keyboard modal display assertions
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
Due: none

🧪 [test] Strengthen fullscreen button state assertions
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: none

🧪 [test] Strengthen map theme toggle state assertions
  tests/unit/utils/theming/specific/createMapThemeToggle.environment.test.ts
  tests/unit/utils/theming/specific/createMapThemeToggle.test.ts
Due: none

🧪 [test] Strengthen elevation profile popup assertions
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: none

🧪 [test] Strengthen marker count selector creation assertions
  tests/unit/utils/ui/controls/createMarkerCountSelector.test.ts
Due: none

🧪 [test] Strengthen power estimation modal assertions
  electron-app/utils/ui/modals/openPowerEstimationSettingsModal.ts
  tests/unit/utils/ui/modals/openPowerEstimationSettingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Strengthen keyboard shortcuts modal assertions
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Strengthen user device info box assertions
  electron-app/utils/rendering/components/createUserDeviceInfoBox.ts
  tests/unit/utils/rendering/components/createUserDeviceInfoBox.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Strengthen zone color picker modal assertions
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
