Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Route map lap drawing through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/layers/mapDrawLaps.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] Update global data bridge remaining targets
  docs/DEPRECATION_LEDGER.md
Due: none

🚜 [refactor] Route map core rendering through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart status updates through state subscriptions
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/components/chartStatusIndicator.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/components/chartStatusIndicator.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route unified global data facade through store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/unifiedStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/unifiedStateManager.globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Read Playwright activity state through renderer state
  docs/DEPRECATION_LEDGER.md
  tests/playwright/app-ui.spec.ts
Due: none

🚜 [refactor] Route sensor debug data through global data store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/debug/debugSensorInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/debugSensorInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract sync renderer notifications
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererUtils.ts
  electron-app/utils/state/domain/fitFileState.ts
  electron-app/utils/ui/notifications/syncRendererNotifications.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split master state notifications from renderer utils
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract sync renderer loading
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/utils/app/initialization/rendererUtils.ts
  electron-app/utils/legacy/globalUtilityApp.ts
  electron-app/utils/ui/loading/syncRendererLoading.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract renderer state bindings
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererUtils.ts
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/ui/rendererStateBindings.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove rendererUtils state bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Delete rendererUtils compatibility barrel
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/index.ts
  electron-app/utils/app/initialization/index.ts
  electron-app/utils/app/initialization/rendererUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/syncRendererUi.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop global setLoading utility
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/legacy/globalUtilityApp.ts
  electron-app/utils/legacy/globalUtilityRegistry.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/utils.global.exposure.test.ts
  tests/unit/utils/utils.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop formatting utility globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/legacy/globalUtilityFormatting.ts
  electron-app/utils/legacy/globalUtilityRegistry.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/utils.global.exposure.test.ts
  tests/unit/utils/utils.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route showFitData through typed helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove global CSV copy bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/files/export/copyTableAsCSV.ts
  electron-app/utils/legacy/globalUtilityData.ts
  electron-app/utils/legacy/globalUtilityRegistry.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/utils.global.exposure.test.ts
  tests/unit/utils/utils.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Extract renderer global API exposure
  electron-app/renderer.ts
  electron-app/renderer/globalApiExposure.ts
  tests/unit/renderer/globalApiExposure.test.ts
Due: electron_app

🚜 [refactor] Extract renderer menu action handlers
  electron-app/renderer.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  tests/unit/renderer/electronMenuActionHandlers.test.ts
Due: electron_app

📈 [perf] Track raw data table baseline metrics
  docs/PERFORMANCE_BASELINES.md
  scripts/run-performance-baseline.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
Due: none

🚜 [refactor] Extract renderer core module resolution
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/renderer/coreModuleResolution.test.ts
Due: electron_app

⚡️ [perf] Lazy-load tab-specific renderer vendors
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/maps/layers/mapIcons.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  static/app/index.html
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
  tests/unit/utils/maps/layers/mapIcons.test.ts
  tests/unit/utils/tabStateManager.regressions.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Quarantine legacy utility imports
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

👷 [ci] Rehearse releases across desktop platforms
  .github/workflows/release-rehearsal.yml
  docs/APPLICATION_OVERVIEW.md
  docs/DEVELOPMENT_GUIDE.md
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
Due: none

🐛 [fix] Load chart vendors for elevation profiles
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard renderer import graph boundaries
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Extract renderer import-time bootstrap
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
Due: electron_app

🚜 [refactor] Route tab rendering through typed imports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.fallback.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Refresh map side panels through typed renderers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Refresh overlay maps through typed renderer import
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadOverlayFiles.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadOverlayFiles.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Refresh estimated-power charts through typed APIs
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route shown file list updates through typed helper
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadOverlayFiles.ts
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/rendering/components/createShownFilesList.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  electron-app/utils/rendering/components/shownFilesListUpdater.ts
  electron-app/utils/ui/controls/createMarkerCountSelector.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/utils/files/import/loadOverlayFiles.test.ts
  tests/unit/utils/ui/controls/createMarkerCountSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Refresh overlay highlights through typed API
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove filename action global setup hooks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove AppState globalData bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move globalData bridge ownership out of UI globals
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/utils/ui/mainUiGlobals.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiGlobals.test.ts
Due: electron_app, üõ†Ô∏è Utilities

👷 [build] Force unsigned release rehearsal packages
  .github/workflows/release-rehearsal.yml
  docs/DEVELOPMENT_GUIDE.md
  scripts/run-electron-builder.mjs
  tests/unit/packaging/releaseRehearsalWorkflow.test.ts
  tests/unit/packaging/runElectronBuilder.test.ts
Due: none

📈 [perf] Classify FIT baseline fixture sizes
  docs/PERFORMANCE_BASELINES.md
  scripts/run-performance-baseline.mjs
  tests/unit/packaging/runPerformanceBaseline.test.ts
Due: none

🚜 [refactor] Split renderer state startup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor] Split renderer app startup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  tests/unit/renderer/applicationStartup.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
