Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧪 [test] Scope version info Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope CSV clipboard Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope overlay decoder Electron API fixtures
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.fallbacks.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope overlay FIT payload Electron API fixture
  docs/DEPRECATION_LEDGER.md
  tests/unit/files/import/loadSingleOverlayFile.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Scope file-path opener Electron API fixtures
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFitFileFromPath.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope file selector Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFileSelector.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFileSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope handle-open-file decode fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope handle-open-file complete fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope colocated handle-open-file fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope Gyazo OAuth Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.oauthState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope Gyazo modal Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope export auth Electron API fixture
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.test.ts
Due: none

🧪 [test] Scope colocated export auth fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope chart clipboard Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/exportUtils.chartExport.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope Fit Browser feature gate fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope main UI DOM Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/mainUiDomUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiDomUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope fullscreen Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope settings modal Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope shortcuts modal Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Remove renderer environment API fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope update notification Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope about modal Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/aboutModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/modals/aboutModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope file browser Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope theming Electron API fixtures
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/theming/core/theme.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
  tests/unit/utils/theming/core/theme.additional.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope FIT data Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope recent files Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope menu IPC Electron API fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope menu IPC unit fixture
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: none

♻️ [refactor] Scope lifecycle listener Electron API
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Scope lifecycle listener fixtures
  docs/DEPRECATION_LEDGER.md
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/events.test.ts
Due: none

🧪 [test] Scope strict lifecycle listener fixture
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
Due: none

♻️ [refactor] Scope state Electron API paths
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/integration/rendererStateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/state/integration/rendererStateIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope main process state client API
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateClient.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateClient.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Require scoped startup Electron API hooks
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
Due: electron_app

♻️ [refactor] Scope import-time listener Electron API
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

♻️ [refactor] Stop seeding renderer Electron API fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiRegistration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
Due: electron_app

♻️ [refactor] Remove renderer Electron API fallback runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] Align Electron API fallback migration notes
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

♻️ [refactor] Rename data-point filter state helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createDataPointFilterControl.ts
  electron-app/utils/ui/controls/dataPointFilterControl/metricsPreview.ts
  electron-app/utils/ui/controls/dataPointFilterControl/stateHelpers.ts
  tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/stateHelpers.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/summaryRefresher.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard data-point filter state naming
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
