Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧬 [types] Migrate performance utilities
  electron-app/tests/unit/utils/performanceMonitor.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/performance/index.ts
  electron-app/utils/performance/performanceMonitor.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate documentation standards utility
  electron-app/tests/unit/utils/documentationStandards.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/docs/documentationStandards.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Isolate chart renderer global bridges
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/core/renderChartRuntimeHelpers.js
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Tighten chart record access
  electron-app/utils/charts/core/renderChartJS.js
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (root) Align migration guidance and lint entrypoint
  .github/copilot-commit-message-instructions.md
  filefileviewer-ts-migration-plan-v2.md
  package.json
  tsconfig.eslint.json
Due: none

🚜 [refactor] (electron-app) Type chart renderer global access
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/core/renderChartRuntimeHelpers.js
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Remove chart renderer option casts
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type lap-zone chart globals
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type lap-zone chart config
  electron-app/utils/charts/rendering/renderLapZoneChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type time-in-zone chart wrapper
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type performance chart wrapper
  electron-app/utils/charts/rendering/renderPerformanceAnalysisCharts.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type event message chart data
  electron-app/utils/charts/rendering/renderEventMessagesChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type speed-distance chart data
  electron-app/utils/charts/rendering/renderSpeedVsDistanceChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type power-heart-rate chart data
  electron-app/utils/charts/rendering/renderPowerVsHeartRateChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type altitude profile chart data
  electron-app/utils/charts/rendering/renderAltitudeProfileChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type GPS track chart data
  electron-app/utils/charts/rendering/renderGPSTrackChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type GPS time chart data
  electron-app/utils/charts/rendering/renderGPSTimeChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type zone chart renderer
  electron-app/utils/charts/rendering/renderZoneChart.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type new zone chart renderer
  electron-app/utils/charts/rendering/renderZoneChartNew.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (electron-app) Type FIT parser boundaries
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🏷️ [types] (electron-app) Tighten FIT parser declarations
  electron-app/types/fitParser.d.ts
Due: electron_app

🏷️ [types] (electron-app) Tighten FIT IPC handler contracts
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/types/main/ipc/registerFitFileHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type FIT parser state integration
  electron-app/main/runtime/fitParserIntegration.js
  electron-app/types/main/runtime/fitParserIntegration.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type IPC setup entrypoint
  electron-app/main/ipc/setupIPCHandlers.js
  electron-app/types/main/ipc/setupIPCHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type renderer send helpers
  electron-app/main/ipc/sendToRenderer.js
  electron-app/main/window/windowValidation.js
  electron-app/types/main/ipc/sendToRenderer.d.ts
  electron-app/types/main/window/windowValidation.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type filesystem IPC handler
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/types/main/ipc/registerFileSystemHandlers.d.ts
Due: electron_app

🔒 [security] (electron-app) Tighten external IPC URL handling
  electron-app/main/ipc/registerExternalHandlers.js
  electron-app/main/security/externalUrlPolicy.js
  electron-app/types/main/ipc/registerExternalHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type clipboard IPC handler
  electron-app/main/ipc/registerClipboardHandlers.js
  electron-app/types/main/ipc/registerClipboardHandlers.d.ts
  electron-app/types/main/security/externalUrlPolicy.d.ts
Due: electron_app

🏷️ [types] (electron-app) Tighten IPC registry generics
  electron-app/main/ipc/ipcRegistry.js
  electron-app/types/main/ipc/ipcRegistry.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type info IPC handler
  electron-app/main/ipc/registerInfoHandlers.js
  electron-app/types/main/ipc/registerInfoHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type recent files IPC handler
  electron-app/main/ipc/registerRecentFileHandlers.js
  electron-app/types/main/ipc/registerRecentFileHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type dialog IPC handler
  electron-app/main/ipc/registerDialogHandlers.js
  electron-app/main/ipc/setupIPCHandlers.js
  electron-app/types/main/ipc/registerDialogHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type browser IPC handler
  electron-app/main/ipc/registerBrowserHandlers.js
  electron-app/types/main/ipc/registerBrowserHandlers.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type main window bootstrap
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/types/main/window/bootstrapMainWindow.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type initialize main window wrapper
  electron-app/main/window/initializeMainWindow.js
  electron-app/types/main/window/initializeMainWindow.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type menu theme helpers
  electron-app/main/menu/safeCreateAppMenu.js
  electron-app/main/theme/getThemeFromRenderer.js
  electron-app/types/main/menu/safeCreateAppMenu.d.ts
  electron-app/types/main/theme/getThemeFromRenderer.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type auto updater integration
  electron-app/main/updater/autoUpdaterAccess.js
  electron-app/main/updater/setupAutoUpdater.js
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/main/window/initializeMainWindow.js
  electron-app/types/main/updater/autoUpdaterAccess.d.ts
  electron-app/types/main/updater/setupAutoUpdater.d.ts
  electron-app/types/main/window/bootstrapMainWindow.d.ts
  electron-app/types/main/window/initializeMainWindow.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type main logging context helper
  electron-app/main/logging/logWithContext.js
  electron-app/types/main/logging/logWithContext.d.ts
Due: electron_app

🏷️ [types] (electron-app) Type main app state bridge
  electron-app/main/state/appState.js
  electron-app/types/main/state/appState.d.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
