Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] (updater) Require Vitest mock provider
  electron-app/main/updater/autoUpdaterAccessRuntime.ts
  tests/unit/main/updater/autoUpdaterAccess.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (parser) Require integration clock providers
  electron-app/main/runtime/fitParserIntegrationRuntime.ts
  tests/unit/main/runtime/fitParserIntegrationRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] (rendering) Require summary runtime providers
  electron-app/utils/rendering/helpers/renderSummaryRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (layout) Require credits runtime providers
  electron-app/utils/ui/layout/enhanceCreditsSectionRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/layout/enhanceCreditsSection.test.ts
  tests/unit/utils/ui/layout/enhanceCreditsSection.test.ts
  tests/unit/utils/ui/layout/enhanceCreditsSectionRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (controls) Require panel runtime providers
  electron-app/utils/ui/controls/dataPointFilterControl/panelControllerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/panelControllerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (export) Require export runtime providers
  electron-app/utils/files/export/exportUtilsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtilsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (theme) Require core theme runtime providers
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/themeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Require master state runtime providers
  electron-app/utils/state/core/masterStateRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Require UI state runtime providers
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/uiStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (debug) Require animation logger runtime shape
  electron-app/utils/debug/lastAnimLog.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/lastAnimLog.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Require plugin debug runtime shapes
  electron-app/utils/charts/plugins/chartBackgroundColorPlugin.ts
  electron-app/utils/charts/plugins/chartZoomResetPlugin.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/plugins/chartBackgroundColorPlugin.test.ts
  tests/unit/utils/charts/plugins/chartZoomResetPlugin.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (theme) Require setup theme preload API shape
  electron-app/utils/theming/core/setupTheme.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (browser) Require folder browser preload shape
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (startup) Require app-info preload shape
  electron-app/utils/app/initialization/loadVersionInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Require master preload API shape
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] (architecture) Guard release and map boundaries
  electron-app/utils/maps/controls/mapActionButtons.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (main) Narrow permission detail guards
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] (preload) Avoid global process stub
  tests/unit/preload-minimal.test.ts
Due: none

🧪 [test] (preload) Align dist API contract
  tests/unit/preload.dist.test.ts
Due: none

🚜 [refactor] (theming) Route map test env through runtime
  electron-app/utils/theming/specific/createMapThemeToggle.ts
  electron-app/utils/theming/specific/mapThemeToggleRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/specific/createMapThemeToggle.environment.test.ts
  tests/unit/utils/theming/specific/mapThemeToggleRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] (runtime) Restore process through facade
  tests/unit/main/ipc/registerInfoHandlers.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: none

🧪 [test] (files) Use runtime process fixtures
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
Due: none

🚜 [refactor] (controls) Route add-fit test env through runtime
  electron-app/utils/ui/controls/createAddFitFileToMapButton.ts
  electron-app/utils/ui/controls/createAddFitFileToMapButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createAddFitFileToMapButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route GPS debug env through chart runtime
  electron-app/utils/charts/rendering/renderGPSTimeChart.ts
  electron-app/utils/charts/rendering/renderGPSTrackChart.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route debug state through chart runtime
  electron-app/utils/charts/core/chartDebugState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (charts) Route lap-zone test env through chart runtime
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (debug) Route animation dev env through runtime
  electron-app/utils/debug/lastAnimLog.ts
  electron-app/utils/debug/lastAnimLogRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/lastAnimLog.test.ts
  tests/unit/utils/debug/lastAnimLogRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (performance) Route monitor env through runtime
  electron-app/utils/performance/performanceMonitor.ts
  electron-app/utils/performance/performanceMonitorRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/performanceMonitor.test.ts
  tests/unit/utils/performanceMonitorRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (recent-files) Route debug env through runtime
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenuRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/recentFilesContextMenuRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (version-info) Route process fallback through runtime
  electron-app/utils/app/initialization/loadVersionInfo.ts
  electron-app/utils/app/initialization/loadVersionInfoRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfoRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (lifecycle) Route listener env through runtime
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/listenersRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (exports) Route debug env through runtime
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/export/exportUtilsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtilsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (import) Route open-file env through runtime
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/handleOpenFileRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFileRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Route main-state env through runtime
  electron-app/utils/state/integration/mainProcessStateClient.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  electron-app/utils/state/integration/mainProcessStateRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (menu) Route app-menu process reads through runtime
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/app/menu/createAppMenuRuntime.ts
  tests/unit/menu/createAppMenuRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Route core test env through runtime
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerHistory.ts
  electron-app/utils/state/core/stateManagerReset.ts
  electron-app/utils/state/core/stateManagerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/stateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (window-state) Route env reads through runtime
  electron-app/windowStateRuntime.ts
  electron-app/windowStateUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/windowStateRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (app-events) Route process reads through runtime
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/app/setupApplicationEventHandlersRuntime.ts
  tests/unit/main/app/setupApplicationEventHandlersRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (logging) Route env reads through runtime
  electron-app/main/logging/logWithContext.ts
  electron-app/main/logging/logWithContextRuntime.ts
  tests/unit/main/logging/logWithContextRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (menu) Route safe menu env reads through runtime
  electron-app/main/menu/safeCreateAppMenu.ts
  electron-app/main/menu/safeCreateAppMenuRuntime.ts
  tests/unit/main/menu/safeCreateAppMenuRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app
