Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧪 [test] Route renderer active tab reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart active tab reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartCachePrewarm.ts
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartSuccessfulCompletion.ts
  goal-plan.md
  tests/unit/charts/core/renderChartCachePrewarm.test.ts
  tests/unit/charts/core/renderChartNotificationFlow.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route chart preflight active tab reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartPreflight.ts
  goal-plan.md
  tests/unit/charts/core/renderChartPreflight.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route renderer state sample reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route tab active reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveTabState.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Route tab active writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveTabState.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route tab visibility active-tab state
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route active tab content state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveTabState.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize active tab subscriptions
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveTabState.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route tab handler render state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  electron-app/utils/state/domain/rendererMapRenderState.ts
  electron-app/utils/state/domain/rendererSummaryState.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
  tests/unit/utils/state/domain/rendererMapRenderState.test.ts
  tests/unit/utils/state/domain/rendererSummaryState.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize raw FIT data subscriptions
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/activeFitRawDataState.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/activeFitRawDataState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route renderer raw data subscription
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route master raw data subscription
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI state manager through facades
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererActiveFileState.ts
  electron-app/utils/state/domain/rendererDragDropState.ts
  electron-app/utils/state/domain/uiStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveFileState.test.ts
  tests/unit/utils/state/domain/rendererDragDropState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route loading indicator state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/appActionsState.ts
  electron-app/utils/state/domain/fitFileState.ts
  electron-app/utils/state/domain/rendererLoadingContract.ts
  electron-app/utils/state/domain/rendererLoadingState.ts
  electron-app/utils/state/domain/uiStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/appActionsState.test.ts
  tests/unit/utils/state/domain/rendererLoadingState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI chrome state facades
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/rendererLayoutContract.ts
  electron-app/utils/state/domain/rendererLayoutState.ts
  electron-app/utils/state/domain/rendererNotificationContract.ts
  electron-app/utils/state/domain/rendererNotificationState.ts
  electron-app/utils/state/domain/uiStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererLayoutState.test.ts
  tests/unit/utils/state/domain/rendererNotificationState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart prewarm state facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartCachePrewarm.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  goal-plan.md
  tests/unit/charts/core/renderChartCachePrewarm.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart loading state facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartLifecycle.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart render times facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartActions.ts
  electron-app/utils/charts/core/renderChartJS.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartActions.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart status performance facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartStatus.ts
  electron-app/utils/state/domain/appActionsState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStatus.test.ts
  tests/unit/utils/state/domain/appActionsState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart export state facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartExportState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererExportContract.ts
  electron-app/utils/state/domain/rendererExportState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/state/domain/rendererExportState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart performance summary facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDataCompletion.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartPerformanceState.ts
  electron-app/utils/charts/core/renderChartSuccessfulCompletion.ts
  electron-app/utils/state/domain/appActionsState.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/charts/core/renderChartPerformanceState.test.ts
  tests/unit/utils/state/domain/appActionsState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart settings cache facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartSettingsManager.ts
  electron-app/utils/state/domain/settingsStateHelpers.ts
  electron-app/utils/state/domain/settingsStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/settingsStateManager.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart devtools snapshots facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDevTools.ts
  electron-app/utils/charts/core/renderChartJS.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDevTools.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop direct rerender state bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDirectRerender.ts
  electron-app/utils/charts/core/renderChartJS.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDirectRerender.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart notifications through facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDataCompletion.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartSuccessfulCompletion.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartNotificationFlow.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow chart state access helper
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartStateAccess.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartStateAccess.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route renderer integration loading facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route renderer integration theme facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route renderer integration active-tab facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route renderer integration chart-controls facade
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Strengthen renderer smoke regressions
  goal-plan.md
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Retire chart state access bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDataReadiness.ts
  electron-app/utils/charts/core/renderChartExportState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartPerformanceState.ts
  electron-app/utils/charts/core/renderChartRenderSettings.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  electron-app/utils/charts/core/renderChartStateAccess.ts
  electron-app/utils/state/domain/debugStateAccess.ts
  electron-app/utils/state/domain/index.ts
  electron-app/utils/state/domain/rendererStateUpdateOptions.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartSessionStart.test.ts
  tests/unit/utils/charts/core/renderChartStateAccess.test.ts
  tests/unit/utils/state/domain/debugStateAccess.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire import-time state override hook
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor](renderer) Route state startup services directly
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/stateManagerStartup.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject menu callback services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
  tests/unit/renderer/electronMenuActionHandlers.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject error notification service
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/errorHandling.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/errorHandling.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject lifecycle cleanup services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/lifecycleCleanup.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject import-time app state services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject application startup state services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
