Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Share measure-lite document provider
  electron-app/renderer/leafletMeasureLiteRuntime.js
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
Due: electron_app

🚜 [refactor] Share FIT parser clock providers
  docs/DEPRECATION_LEDGER.md
  electron-app/fitParserRuntime.ts
  electron-app/main/runtime/fitParserIntegrationRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Share main logging timestamp runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/main/logging/logWithContext.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Share preload devtools timestamps
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/developmentToolsGlobal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.developmentToolsGlobal.test.ts
Due: electron_app

🚜 [refactor] Share main state log timestamps
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Share chart export timestamps
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/ui/components/createSettingsHeader.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Share elevation profile opener runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Share export browser prompt providers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtilsRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Share lifecycle runtime globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listenersRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize viewport browser providers
  electron-app/utils/charts/components/chartStatusIndicatorRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  electron-app/utils/ui/controls/dataPointFilterControl/panelControllerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize event target runtime defaults
  electron-app/utils/app/lifecycle/resourceManagerRuntime.ts
  electron-app/utils/theming/specific/updateMapThemeRuntime.ts
  electron-app/utils/ui/events/eventListenerManagerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/theming/specific/updateMapThemeRuntime.test.ts
  tests/unit/utils/ui/events/eventListenerManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize renderer environment globals
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironmentRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize chart process shim runtime
  electron-app/utils/charts/core/renderChartRuntimeHelpersRuntime.ts
  electron-app/utils/runtime/processEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/runtime/processEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize elevation palette runtime global
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize Electron API global reads
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard retired renderer bridge globals
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🐛 [fix] Harden browser global runtime reads
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] Document browser global boundary
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Route main window env checks through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize app handler process reads
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/utils/runtime/processEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/runtime/processEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize lifecycle process checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/setupMainLifecycle.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize menu process checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize updater process checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/updater/autoUpdaterAccess.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize file policy process checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/fileAccessPolicy.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize IPC sender process reads
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/ipcSenderPolicy.ts
  electron-app/utils/runtime/processEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/runtime/processEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize menu platform checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize info handler process reads
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/utils/runtime/processEnvironment.ts
  tests/unit/main/ipc/registerInfoHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/runtime/processEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize version info process reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize state argv checks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize test priming env checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/primeTestEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize app event platform checks
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize app menu platform checks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/menu/createAppMenu.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize app menu focused window reads
  electron-app/utils/app/menu/createAppMenu.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize main window selection
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  electron-app/main/window/mainWindowSelection.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize app activation window selection
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/window/mainWindowSelection.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Share IPC focused window fallback
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/window/mainWindowSelection.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize main focused window callers
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Centralize theme browser defaults
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize error listener binding
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandlingRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandlingRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope chart runtime environment reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpersRuntime.ts
  goal-plan.md
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/charts/core/renderChartRuntimeHelpersRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities
