Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧹 [build] Move app build dependencies to root
  electron-app/package.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: electron_app

🧪 [test] Rename master state introspection tests
  electron-app/tests/unit/masterStateManager.introspection.test.ts
Due: electron_app

🧪 [test] Rename preload edge case tests
  electron-app/tests/unit/preload.edgeCases.test.ts
Due: electron_app

🧹 [build] Remove app package script aliases
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/package.json
Due: electron_app

🧪 [test] Remove duplicate state manager suite
  electron-app/tests/unit/utils/stateManager.comprehensive.test.ts
Due: electron_app

🧪 [test] Remove duplicate tab state manager suite
  electron-app/tests/unit/utils/tabStateManager.comprehensive.test.ts
Due: electron_app

🧪 [test] Remove simulated main process suite
  electron-app/tests/unit/main.comprehensive.test.ts
Due: electron_app

🧪 [test] Remove simulated main UI suite
  electron-app/tests/main-ui.startup.test.ts
  electron-app/tests/unit/main-ui.pattern.test.ts
Due: electron_app

🧪 [test] Rename parser and chart state suites
  electron-app/tests/unit/fitParser.decoder.test.ts
  electron-app/tests/unit/utils/renderChartJS.stateApi.test.ts
Due: electron_app

🧪 [test] Restore GPX XML parser test dependency
  package-lock.json
  package.json
Due: none

🧹 [build] Align VS Code tasks to root scripts
  .vscode/tasks.json
  electron-app/.vscode/tasks.json
Due: electron_app

🧹 [build] Run Electron start scripts from root
  package.json
Due: none

🛠️ [fix] Use inline map endpoint markers
  electron-app/tests/unit/utils/maps/layers/mapIcons.test.ts
  electron-app/utils/maps/layers/mapIcons.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [build] Remove stale app assets package references
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  scripts/build-win7.mjs
Due: none

🧹 [build] Root-align VS Code workspace config
  .vscode/launch.json
  .vscode/settings.json
Due: none

🧹 [build] Run CI Electron Builder from root
  .github/workflows/Build.yml
Due: none

🧹 [build] Run changelog generation without app directory hops
  .github/workflows/Build.yml
Due: none

🧪 [test] Cover renderer environment detection
  electron-app/tests/unit/utils/charts/core/renderChartRuntimeHelpers.environment.test.ts
  electron-app/tests/unit/utils/theming/specific/createMapThemeToggle.environment.test.ts
Due: electron_app

🛠️ [fix] Guard renderer environment checks
  .gitignore
  electron-app/tests/playwright/app-ui.spec.ts
  electron-app/tests/unit/utils/runtime/processEnvironment.test.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/charts/components/createEnhancedChart.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/rendering/renderGPSTimeChart.ts
  electron-app/utils/charts/rendering/renderGPSTrackChart.ts
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  electron-app/utils/charts/rendering/renderPerformanceAnalysisCharts.ts
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.ts
  electron-app/utils/charts/rendering/renderZoneChart.ts
  electron-app/utils/charts/rendering/renderZoneChartNew.ts
  electron-app/utils/charts/theming/chartThemeUtils.ts
  electron-app/utils/data/processing/setupZoneData.ts
  electron-app/utils/debug/lastAnimLog.ts
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/performance/performanceMonitor.ts
  electron-app/utils/runtime/processEnvironment.ts
  electron-app/utils/state/integration/mainProcessStateClient.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  electron-app/utils/theming/specific/createMapThemeToggle.ts
  electron-app/utils/ui/controls/createAddFitFileToMapButton.ts
  electron-app/utils/ui/modals/aboutModal.ts
  eslint.config.mjs
  scripts/format-runtime-output.mjs
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [fix] Keep main process env checks CommonJS safe
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  scripts/format-runtime-output.mjs
Due: electron_app, üõ†Ô∏è Utilities

🧹 [build] Install macOS dmg workaround from root
  .github/workflows/Build.yml
Due: none

wrench [build] Root-align packaging workflows
  .github/workflows/Build.yml
  .github/workflows/build-win7.yml
  .github/workflows/flatpak-build.yml
  electron-app/flatpak-build.yml
  package-lock.json
  package.json
  scripts/build-flatpak.mjs
  scripts/build-win7.mjs
Due: electron_app

books [docs] Document root workspace setup
  docusaurus/docs/development/setup.md
Due: none

wrench [docs] Deduplicate TypeDoc config
  docusaurus/README.md
  docusaurus/SETUP.md
  docusaurus/package.json
  docusaurus/typedoc.local.json
Due: none

test [charts] Replace chart state smoke coverage
  electron-app/tests/unit/utils/app/lifecycle/appActions.smoke.test.ts
  electron-app/tests/unit/utils/charts/core/renderChartStateManagement.test.ts
  electron-app/tests/unit/utils/renderChartJS.stateApi.test.ts
Due: electron_app

chore [repo] Remove stale nested lockfile ignores
  .lycheeignore
  .prettierignore
Due: none

chore [repo] Drop stale electron app node_modules references
  .github/workflows/Build.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak-build.yml
  lychee.toml
  tsconfig.vitest-typecheck.json
Due: none

test [preload] Assert logger missing-method behavior
  electron-app/tests/unit/preload.logger.test.ts
Due: electron_app

test [unit] Assert successful return paths
  electron-app/tests/unit/main/ipc/binaryPayloadBoundaries.test.ts
  electron-app/tests/unit/utils/ui/initStartup.test.ts
Due: electron_app

test [vitest] Resolve runtime TypeScript sources
  electron-app/tests/setupVitest.js
Due: electron_app

test [unit] Assert fallback return paths
  electron-app/tests/unit/main/security/setupBlockedRequests.test.ts
  electron-app/tests/unit/utils/logWithLevel.test.ts
Due: electron_app

chore [repo] Drop stale nested ignore entries
  .gitignore
  .lycheeignore
Due: none

test [playwright] Assert chart runtime rendering
  electron-app/tests/playwright/app-ui.spec.ts
Due: electron_app

test [unit] Assert state utility return paths
  electron-app/tests/unit/utils/stateManager.test.ts
  electron-app/tests/unit/utils/storageUtils.test.ts
Due: electron_app

test [playwright] Cover open file button path
  electron-app/tests/playwright/app-ui.spec.ts
Due: electron_app

fix [build] Tolerate missing runtime outputs
  scripts/format-runtime-output.mjs
Due: none

style [playwright] Format request logging
  electron-app/tests/playwright/app-ui.spec.ts
Due: electron_app

wrench [chore] Remove stale html cleanup paths
  .gitignore
  .prettierignore
  docs/APPLICATION_LAYOUT.md
  electron-app/tests/unit/utils/domHelpers.test.ts
  stylelint.config.mjs
  tsconfig.electron-app.json
Due: electron_app

test [unit] Assert tab edge case outcomes
  electron-app/tests/integration/tabStateIntegration.test.ts
Due: electron_app

test [unit] Assert summary modal close state
  electron-app/tests/rendering/helpers/summaryColModal.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
