Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧪 [test] Type Electron startup hook registrations
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
Due: none

🚜 [refactor] Type renderer runtime info
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/rendererStartupInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
  tests/unit/renderer/rendererStartupInfo.test.ts
Due: electron_app

🚜 [refactor] Type core vendor runtime payloads
  electron-app/renderer/rendererVendorShared.ts
  electron-app/utils/rendering/helpers/arqueroRuntime.ts
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
  tests/unit/utils/rendering/helpers/renderTable.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type test bootstrap override modules
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type import-time state manager overrides
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer state initialization
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer Electron startup hooks
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Guard AltFit smoke release coverage
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] Clean root lint test diagnostics
  tests/unit/main/menu/registerFullscreenHandler.test.ts
  tests/unit/main/menu/registerUpdateMenuHandlers.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: none

🚜 [refactor] Type renderer cleanup state manager
  electron-app/renderer/lifecycleCleanup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
Due: electron_app

🚜 [refactor] Type renderer file input overrides
  electron-app/renderer/fileInputWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Type renderer import-time overrides
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Type renderer test bootstrap overrides
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Type renderer debug state manager calls
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: electron_app

🚜 [refactor] Type renderer debug function modules
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: electron_app

🚜 [refactor] Type renderer Electron API registration
  electron-app/renderer/electronApiRegistration.ts
  electron-app/renderer/electronApiWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
Due: electron_app

🚜 [refactor] Type main UI Electron API shapers
  electron-app/renderer/mainUiElectronApi.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiElectronApiBindings.test.ts
Due: electron_app

🚜 [refactor] Type version info Electron API shaper
  electron-app/utils/app/initialization/loadVersionInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type menu IPC Electron API shaper
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type lifecycle Electron API shaper
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file-open Electron API shaper
  electron-app/utils/files/import/handleOpenFile.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type path-open Electron API shaper
  electron-app/utils/files/import/openFitFileFromPath.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type update notification Electron API shaper
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer Electron API runtime access
  electron-app/renderer.ts
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/mainUiBrowserRuntime.ts
  electron-app/renderer/mainUiElectronApiBindings.ts
  electron-app/renderer/mainUiRuntimeEnvironment.ts
  electron-app/renderer/rendererBrowserRuntime.ts
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
  tests/unit/renderer/mainUiElectronApiBindings.test.ts
  tests/unit/renderer/mainUiRuntimeEnvironment.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

🚜 [refactor] Type drag-drop Electron API guard
  electron-app/utils/ui/dragDropHandler.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type main UI DOM Electron API guard
  electron-app/utils/ui/mainUiDomUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiDomUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type fullscreen Electron API guard
  electron-app/utils/ui/controls/addFullScreenButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type showFitData Electron API guard
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file-browser Electron API guard
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type export Electron API guard
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.colocated.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Require scoped renderer Electron API access
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire renderer development flag alias
  electron-app/utils/app/initialization/rendererEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] Format release readiness tests
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiRuntimeEnvironment.test.ts
Due: none

🐛 [fix] Forward renderer Electron API scope
  electron-app/utils/app/initialization/setupWindow.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/strictTests/app/initialization/setupWindow.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/app/initialization/setupWindow.test.ts
  tests/unit/utils/ui/tabs/tabStateManagerHandlers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten renderer API validators
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiElectronApi.ts
  electron-app/utils/app/initialization/loadVersionInfo.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/showFitData.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/mainUiDomUtils.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Tighten development debug state access
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Isolate MapLibre layer factory
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/rendererVendorMap.ts
  electron-app/utils/maps/layers/mapBaseLayers.ts
  electron-app/utils/maps/layers/mapLibreLayerRuntime.ts
  electron-app/utils/maps/layers/mapVectorLayers.ts
  goal-plan.md
  tests/unit/maps/layers/mapBaseLayers.test.ts
  tests/unit/maps/layers/mapLibreLayerRuntime.test.ts
  tests/unit/maps/layers/mapVectorLayers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/maps/layers/mapBaseLayers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Apply Electron fuses before signing
  docs/DEVELOPMENT_GUIDE.md
  electron-builder.config.cjs
  scripts/apply-electron-fuses.mjs
  scripts/build-package.mjs
  tests/unit/packaging/applyElectronFuses.test.ts
  tests/unit/packaging/buildPackage.test.ts
  tests/unit/packaging/electronBuilderConfig.test.ts
Due: none

🚜 [refactor] Narrow renderer debug metadata snapshots
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/developmentDebugToolsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
  tests/unit/renderer/developmentDebugToolsRuntime.test.ts
Due: electron_app

🚜 [refactor] Type renderer debug utility groups
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
