Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Type main lifecycle Electron adapter
  electron-app/main/runtime/setupMainLifecycle.js
  electron-app/main/runtime/setupMainLifecycle.ts
Due: electron_app

🚜 [refactor] Validate utility bridge registry
  electron-app/utils.js
  electron-app/utils.ts
Due: electron_app

🚜 [refactor] Narrow window state lint quarantine
  electron-app/windowStateUtils.js
  electron-app/windowStateUtils.ts
Due: electron_app, ü™ü Window State Management

🚜 [refactor] (electron) Validate window state storage paths
  electron-app/windowStateUtils.js
  electron-app/windowStateUtils.ts
Due: electron_app, ü™ü Window State Management

🧹 [chore] (lint) Fix Electron remark config lint
  electron-app/.remarkrc.mjs
Due: electron_app

🧹 [chore] (coverage) Modernize coverage analyzer
  electron-app/analyze-coverage.mjs
Due: electron_app

🧹 [chore] (fit-parser) Centralize parser diagnostics
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🧹 [chore] (fit-parser) Normalize unknown message handling
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🧹 [chore] (fit-parser) Sort parser module declarations
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🧹 [chore] (fit-parser) Simplify parser validation branches
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🚜 [refactor] (fit-parser) Tighten SDK read handling
  electron-app/fitParser.js
  electron-app/shared/fitSdk.ts
Due: electron_app, üìä FIT Parsing

🚜 [refactor] (fit-parser) Add typed parser facade
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/runtime/fitParserFacade.js
  electron-app/main/runtime/fitParserFacade.ts
  electron-app/main/runtime/fitParserIntegration.js
  electron-app/main/runtime/fitParserIntegration.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/fitParser.d.ts
Due: electron_app

🏷️ [refactor] (ipc) Type FIT parser channels
  electron-app/main/ipc/registerFitFileHandlers.ts
Due: electron_app

🏷️ [refactor] (ipc) Map FIT invoke payloads
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/shared/ipc.ts
Due: electron_app

🏷️ [refactor] (fit-parser) Move parser contracts to shared source
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/runtime/fitParserFacade.ts
  electron-app/main/runtime/fitParserIntegration.ts
  electron-app/shared/fitParser.js
  electron-app/shared/fitParser.ts
  electron-app/types/fitParser.d.ts
Due: electron_app

🚜 [refactor] (fit-parser) Drop parser config fallback
  electron-app/fitParser.js
  electron-app/shared/fitParser.ts
  electron-app/tests/unit/fitParser.comprehensive.test.ts
Due: electron_app, üìä FIT Parsing

🏷️ [refactor] (fit-parser) Reuse parser adapter contracts
  electron-app/main/runtime/fitParserIntegration.ts
Due: electron_app

🧪 [test] (fit-parser) Drop obsolete config mocks
  electron-app/tests/unit/fitParser.comprehensive.test.ts
Due: electron_app

🛡️ [fix] (fit-parser) Reject async settings adapters
  electron-app/fitParser.js
  electron-app/shared/fitParser.ts
  electron-app/tests/unit/fitParser.comprehensive.test.ts
Due: electron_app, üìä FIT Parsing

🏷️ [test] (fit-parser) Type parser comprehensive test
  electron-app/tests/unit/fitParser.comprehensive.test.ts
Due: electron_app

🧹 [chore] (fit-parser) Remove parser declaration shim
  electron-app/types/fitParser.d.ts
Due: electron_app

🏷️ [refactor] (fit-parser) Reuse shared parser typedefs
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🏷️ [refactor] (fit-parser) Check parser export contract
  electron-app/fitParser.js
Due: electron_app, üìä FIT Parsing

🏷️ [refactor] (fit-parser) Type renderer parser integration
  electron-app/utils/files/import/fitParserIntegration.js
  electron-app/utils/files/import/fitParserIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Type drag-drop FIT decode result
  electron-app/utils/ui/dragDropHandler.js
  electron-app/utils/ui/dragDropHandler.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (files) Reject FIT decode error payloads
  electron-app/tests/unit/files/import/openFitFileFromPath.test.ts
  electron-app/utils/files/import/openFitFileFromPath.js
  electron-app/utils/files/import/openFitFileFromPath.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (files) Reject wrapped FIT parse errors
  electron-app/tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/files/import/handleOpenFile.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (files) Share FIT parse payload handling
  electron-app/tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/files/import/fitParsePayload.js
  electron-app/utils/files/import/fitParsePayload.ts
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.js
  electron-app/utils/files/import/openFitFileFromPath.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (lifecycle) Reject recent FIT parse errors
  electron-app/tests/unit/lifecycle/listeners.fitPayload.test.ts
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/lifecycle/listeners.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (files) Reject overlay FIT decode errors
  electron-app/tests/unit/files/import/loadSingleOverlayFile.fitPayload.test.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
  electron-app/utils/files/import/loadSingleOverlayFile.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (ui) Preserve drag-drop FIT decode errors
  electron-app/tests/unit/ui/dragDropHandler.fitPayload.test.ts
  electron-app/utils/ui/dragDropHandler.js
  electron-app/utils/ui/dragDropHandler.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (fit-parser) Share decode error guard
  electron-app/utils/files/import/fitParserIntegration.js
  electron-app/utils/files/import/fitParserIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (types) Drop generated FFV asset declarations
  .gitignore
  electron-app/types/ffv/assets/Results-H2VOSWW7.d.ts
  electron-app/types/ffv/assets/Sprite-BZ4Kwmf3.d.ts
  electron-app/types/ffv/assets/binaryString-DLpsQS3c.d.ts
  electron-app/types/ffv/assets/findFields-C7eiFatx.d.ts
  electron-app/types/ffv/assets/getMessagesForName-CXPND5Gu.d.ts
  electron-app/types/ffv/assets/index-B6xcXKpx.d.ts
  electron-app/types/ffv/assets/index-C1xoUegX.d.ts
  electron-app/types/ffv/assets/index-CQWboq_8.d.ts
  electron-app/types/ffv/assets/index-D4CCfpM1.d.ts
  electron-app/types/ffv/assets/index-LvWRIhnC.d.ts
  electron-app/types/ffv/assets/isUnknown-BvXlyTdW.d.ts
  electron-app/types/ffv/assets/useMeasure-Df3vRnzU.d.ts
  electron-app/types/ffv/assets/waypoint_icons_sprite-Dqa_dKt2.d.ts
Due: electron_app

🧹 [chore] (ui) Remove stale chart settings JSDoc casts
  electron-app/utils/ui/components/createSettingsHeader.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (export) Replace migrated JSDoc casts
  electron-app/utils/files/export/exportUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (state) Remove migrated state manager casts
  electron-app/utils/state/integration/mainProcessStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (runtime) Sync generated JS type-comment cleanup
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/ui/components/createSettingsHeader.js
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (errors) Remove promise-like inspection cast
  electron-app/utils/errors/errorHandling.js
  electron-app/utils/errors/errorHandling.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (deps) Vendor screenfull browser asset
  electron-app/vendor/screenfull-global.js
  electron-app/vendor/screenfull.js
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
