Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Remove main helper default exports
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/safeCreateAppMenu.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/security/setupBlockedRequests.ts
  electron-app/main/theme/getPersistedThemePreference.ts
  electron-app/main/updater/setupAutoUpdater.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove remaining main default aggregates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/gyazoStartupTimerState.ts
  electron-app/main/constants.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/main/security/fileAccessPolicyState.ts
  electron-app/main/state/appState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove logging barrel default export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/logging/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove errors barrel default export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove utility barrel default exports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/index.ts
  electron-app/utils/formatting/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove more utility barrel defaults
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/data/index.ts
  electron-app/utils/debug/index.ts
  electron-app/utils/rendering/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove utility category default barrels
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/index.ts
  electron-app/utils/app/menu/index.ts
  electron-app/utils/charts/index.ts
  electron-app/utils/config/index.ts
  electron-app/utils/maps/index.ts
  electron-app/utils/state/index.ts
  electron-app/utils/theming/index.ts
  electron-app/utils/ui/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/config.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove app menu default export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/menu/createAppMenu.ts
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove DOM helper default export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/dom/domHelpers.ts
  electron-app/utils/dom/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow chart notification state imports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartNotificationStateAccess.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer state manager imports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/rendererStateManagerAccess.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow FIT file state imports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow tab state test seams
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManagerDoc.ts
  electron-app/utils/ui/tabs/tabStateManagerSupport.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.fallback.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove tab test environment bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabTestEnvironment.ts
  electron-app/utils/ui/tabs/updateActiveTab.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/updateActiveTab.fallbacks.test.ts
  tests/unit/utils/updateActiveTab.stateBehavior.test.ts
  tests/unit/utils/updateTabVisibility.branches.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] Clear drawn map measurements
  electron-app/utils/maps/state/mapPluginControlState.ts
  electron-app/utils/rendering/components/createShownFilesList.ts
  tests/unit/maps/state/mapPluginControlState.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] Ignore stale browser folder loads
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Cover stale browser listing responses
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: none

🚜 [refactor] Make map action setup explicit
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Simplify renderer state touch bootstrap
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Scope main UI window theme setup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiStartup.ts
  electron-app/utils/app/initialization/setupWindow.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/strictTests/app/initialization/setupWindow.test.ts
  tests/unit/utils/app/initialization/setupWindow.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope decoded FIT data rendering
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/renderDecodedFitData.ts
  electron-app/utils/ui/dragDropHandler.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/renderDecodedFitData.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer theme startup IPC
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/mainUiThemeSync.ts
  electron-app/utils/theming/core/setupTheme.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split shared preload API domains
  docs/DEPRECATION_LEDGER.md
  electron-app/shared/preloadApi.ts
  electron-app/shared/preloadApiDomains.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧹 [chore] Fix chart notification re-export lint
  electron-app/utils/charts/core/renderChartNotificationStateAccess.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split FIT loaded IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerFitFileLoadedHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  tests/unit/main/ipc/registerFitFileLoadedHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split theme change IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerThemeChangedHandler.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerThemeChangedHandler.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split fullscreen IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerFullscreenHandler.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerFullscreenHandler.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split devtools menu IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerDevtoolsInjectMenuHandler.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerDevtoolsInjectMenuHandler.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split update menu IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerUpdateMenuHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerUpdateMenuHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split file menu IPC handling
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerFileMenuHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerFileMenuHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Move devtools menu gate into handler
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerDevtoolsInjectMenuHandler.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/main/menu/registerDevtoolsInjectMenuHandler.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split main UI Electron API bindings
  electron-app/renderer/mainUiElectronApiBindings.ts
  electron-app/renderer/mainUiStartup.ts
  tests/unit/renderer/mainUiElectronApiBindings.test.ts
Due: electron_app

🧪 [test] Guard main UI Electron API bindings
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Type renderer startup app actions
  electron-app/renderer/applicationStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer core AppActions resolution
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer debug app actions
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer lifecycle cleanup actions
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/lifecycleCleanup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
Due: electron_app

🚜 [refactor] Type renderer Electron menu actions
  electron-app/renderer/electronApiRegistration.ts
  electron-app/renderer/electronApiStartupHooks.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
Due: electron_app

🚜 [refactor] Type renderer Electron startup hooks
  electron-app/renderer/electronApiRegistration.ts
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer Electron hook registrations
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
Due: electron_app
