Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Normalize tab visibility state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/updateTabVisibility.branches.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer integration tabs
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/rendererStateIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize UI state active tabs
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/uiStateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Centralize chart active-tab checks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/charts/core/chartTabIntegration.ts
  electron-app/utils/charts/core/renderChartCachePrewarm.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartPreflight.ts
  electron-app/utils/charts/core/renderChartPrimaryFields.ts
  electron-app/utils/state/domain/rendererActiveTabState.ts
  tests/unit/charts/core/renderChartCachePrewarm.test.ts
  tests/unit/charts/core/renderChartNotificationFlow.test.ts
  tests/unit/charts/core/renderChartPreflight.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveTabState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize computed active-tab summaries
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/computedStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/core/computedStateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize active-tab state writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/rendererActiveTabContract.ts
  electron-app/utils/state/domain/rendererActiveTabState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/stateManager.subscriptions.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize active tab content state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/stateManager.subscriptions.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Guard tab readiness state keys
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/ui/tabs/tabReadinessState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabReadinessState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize browser state writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/browserState.ts
  electron-app/utils/state/domain/browserStateContract.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize FIT loading state writes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/fitFileLoadingContract.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize map base-layer state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/mapBaseLayerContract.ts
  electron-app/utils/state/domain/mapBaseLayerState.ts
  tests/unit/masterStateManager.introspection.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/mapBaseLayerState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer theme state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/rendererThemeContract.ts
  electron-app/utils/state/domain/rendererThemeState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererThemeState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer notification state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/rendererNotificationContract.ts
  electron-app/utils/state/domain/rendererNotificationState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererNotificationState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer interaction state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/rendererDragDropContract.ts
  electron-app/utils/state/domain/rendererDragDropState.ts
  electron-app/utils/state/domain/rendererLoadingContract.ts
  electron-app/utils/state/domain/rendererLoadingState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererDragDropState.test.ts
  tests/unit/utils/state/domain/rendererLoadingState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer active-file state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/rendererActiveFileContract.ts
  electron-app/utils/state/domain/rendererActiveFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/rendererActiveFileState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Normalize renderer render flags
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/domain/appActionsState.ts
  electron-app/utils/state/domain/rendererChartRenderState.ts
  electron-app/utils/state/domain/rendererMapRenderState.ts
  electron-app/utils/state/domain/rendererRenderStateContract.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/appActionsState.test.ts
  tests/unit/utils/state/domain/rendererChartRenderState.test.ts
  tests/unit/utils/state/domain/rendererMapRenderState.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart hover DOM access through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/plugins/addChartHoverEffectsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/addChartHoverEffectsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route settings export URLs through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/createSettingsHeader.ts
  electron-app/utils/ui/components/createSettingsHeaderRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/components/createSettingsHeaderRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route elevation popup DOM through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire recent file approval shim
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronApiFileDomain.ts
  electron-app/preload/fileApi.ts
  electron-app/preload/fileApiDomain.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/preload/ipcHelpers.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/main/ipc/registerRecentFileHandlers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.dist.test.ts
  tests/unit/preload.distApiMethods.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/preload.fileApi.test.ts
  tests/unit/preload.ipcHelpers.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
Due: electron_app

🚜 [refactor] Retire preload dev-mode marker
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  electron-app/utils/runtime/electronDevModeCompatibility.ts
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/core/masterStateRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
  tests/unit/utils/app/initialization/rendererEnvironmentRuntime.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/state/core/masterStateRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire computed define alias
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDependencyAccessors.ts
  electron-app/utils/charts/core/renderChartStateManagement.ts
  electron-app/utils/charts/core/renderChartStateManagementApi.ts
  electron-app/utils/state/core/computedStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/charts/core/renderChartStateManagement.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire map loading overlay bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move handle open file test out of runtime source
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
Due: none

🚜 [refactor] Move export utility test out of runtime source
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.colocated.test.ts
Due: none

🚜 [refactor] Normalize UI state notifications
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire resource manager helper exports
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/index.ts
  electron-app/utils/app/lifecycle/resourceManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/resourceManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove state migration helper
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Privatize app state initialization
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Privatize state integration helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Stop exporting main UI startup handles
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

🚜 [refactor] Remove window state default aggregate
  docs/DEPRECATION_LEDGER.md
  electron-app/windowStateUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove IPC default aggregates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/ipc/fileReadPayload.ts
  electron-app/main/ipc/fitIpcPayload.ts
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerClipboardHandlers.ts
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/ipc/sendToRenderer.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/security/ipcSenderPolicy.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Stabilize release gate isolation
  tests/integration/tabs/tabStateIntegration.test.ts
  tests/unit/main/theme/getPersistedThemePreference.test.ts
  tests/unit/renderer/applicationLifecycleWiring.test.ts
  tests/unit/strictTests/rendering/core/renderTable.test.ts
  tests/unit/utils/charts/core/chartTabIntegration.test.ts
  tests/unit/utils/files/export/createExportGPXButton.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
Due: none

🧹 [chore] Harden release audit tooling
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  docusaurus/package-lock.json
  package-lock.json
  package.json
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧹 [chore] Trigger dependency validation for ncu config
  .github/workflows/dependency-validation.yml
  docs/DEVELOPMENT_GUIDE.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Drop CSV objects table fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/files/export/copyTableAsCSV.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove theme aggregate compatibility export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove window validation default export
  electron-app/main/window/windowValidation.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove logging default export
  docs/DEPRECATION_LEDGER.md
  electron-app/main/logging/logWithContext.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app
