Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Route test priming through electron access
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/primeTestEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove logging Vitest global hook
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/logging/index.ts
  electron-app/utils/logging/logWithLevel.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/logging/logWithLevel.strict.test.ts
  tests/unit/utils/logWithLevel.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move session handler markers into module state
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Move test probe marker into module state
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/primeTestEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Move Chart plugin marker into module state
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartPluginRegistration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Resolve chart canvas instances through registry
  electron-app/utils/app/lifecycle/listenersResize.ts
  electron-app/utils/charts/core/chartInstanceRegistry.ts
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/addChartHoverEffects.test.ts
  tests/unit/utils/app/lifecycle/listenersResize.test.ts
  tests/unit/utils/charts/core/chartInstanceRegistry.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove overlay tooltip timeout expando
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart devtools history through state API
  electron-app/utils/charts/core/renderChartDevTools.ts
  electron-app/utils/charts/core/renderChartJS.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartDevTools.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire globalData state routing
  electron-app/utils/state/core/unifiedStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/unifiedStateManager.globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Rename elevation raw-data fallback cases
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: none

🧪 [test] Guard retired globalData runtime mentions
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop appState from renderer debug tools
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/developmentDebugGlobals.ts
  electron-app/renderer/globalSurfacesWiring.ts
  tests/unit/renderer/developmentDebugGlobals.test.ts
  tests/unit/renderer/globalSurfacesWiring.test.ts
Due: electron_app

🚜 [refactor] Remove renderer appState startup proxy
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/lifecycleCleanup.ts
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/renderer/lifecycleCleanup.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor] Remove import-time appState mock touch
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Route renderer app state through facade
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  electron-app/utils/state/domain/appDomainState.ts
  electron-app/utils/state/domain/index.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
  tests/unit/utils/state/domain/appDomainState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Keep settings modal hooks module scoped
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Keep measure-lite escape handler module scoped
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/leafletMeasureLite.js
  tests/unit/maps/controls/leafletMeasureLite.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Smoke clear map measurements
  tests/playwright/app-ui.spec.ts
Due: none

🧪 [test] Strengthen permission handler coverage
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
Due: none

🧪 [test] Repair fast verification test mocks
  tests/unit/utils/enableTabButtons.behavior.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/renderChartJS.stateApi.test.ts
  tests/unit/utils/tabStateManager.regressions.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.fallback.test.ts
Due: none

🧪 [test] Guard retired showFitData bridge
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
Due: none

🚨 [test] Quiet renderer lint warnings
  tests/unit/renderer/developmentDebugGlobals.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: none

🔨 [build] Split signed and unsigned package paths
  docs/DEVELOPMENT_GUIDE.md
  package.json
  scripts/check-signing-env.mjs
  tests/unit/packaging/checkSigningEnv.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Register renderer Electron API runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiRegistration.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/files/import/loadSingleOverlayFile.fitPayload.test.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiRegistration.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard loaded state across tab switches
  tests/playwright/app-ui.spec.ts
Due: none

🧪 [test] Move recent file harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Move lifecycle FIT harnesses off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
Due: none

🧪 [test] Move theme harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/theme.additional.test.ts
Due: none

🧪 [test] Move overlay fallback harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.fallbacks.test.ts
Due: none

🧪 [test] Move overlay import harnesses off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
  tests/unit/utils/files/import/openFileSelector.test.ts
Due: none

🧪 [test] Move known-path FIT harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: none

🧪 [test] Move CSV clipboard harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
Due: none

🧪 [test] Move fullscreen harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: none

🧪 [test] Move settings modal harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: none

🧪 [test] Move keyboard shortcuts harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
Due: none

🧪 [test] Move file browser harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: none

🧪 [test] Move update notification harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: none

🧪 [test] Move Gyazo export UI harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.ui.test.ts
Due: none

🧪 [test] Move chart export harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/exportUtils.chartExport.test.ts
Due: none

🧪 [test] Move version info harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/loadVersionInfo.test.ts
Due: none

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
