Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

♻️ [refactor] (electron-app) Type global utility bridge access
  electron-app/utils.js
Due: electron_app

♻️ [refactor] (electron-app) Type renderer mock globals
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

♻️ [refactor] (electron-app) Remove renderer ts nocheck
  electron-app/renderer.js
Due: electron_app, üñ•Ô∏è Renderer & UI

♻️ [refactor] (electron-app) Type Garmin FIT SDK boundary
  electron-app/fitParser.js
  electron-app/fitsdk.d.ts
  electron-app/shared/fit.ts
  electron-app/shared/fitSdk.ts
  electron-app/tsconfig.json
  electron-app/types/fitParser.d.ts
Due: electron_app, üìä FIT Parsing

♻️ [refactor] (electron-app) Type preload API declarations
  electron-app/types/preload.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Narrow ambient global types
  electron-app/global.d.ts
  electron-app/utils/charts/theming/chartThemeListener.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Type preload IPC helpers
  electron-app/preload.js
Due: electron_app, ‚ö° Core Electron Process

♻️ [refactor] (electron-app) Type main UI declarations
  electron-app/types/main-ui.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Type utility execution boundary
  electron-app/types/utils.d.ts
  electron-app/utils.js
Due: electron_app

♻️ [refactor] (electron-app) Tighten shared chart migration types
  electron-app/utils/types/sharedChartTypes.d.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Type renderer dependency boundary
  electron-app/renderer.js
  electron-app/types/renderer.d.ts
Due: electron_app, üñ•Ô∏è Renderer & UI

♻️ [refactor] (electron-app) Tighten utility declaration types
  electron-app/types/utils/config/constants.d.ts
  electron-app/types/utils/logging/logWithLevel.d.ts
  electron-app/types/utils/logging/rendererLogger.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Align DOM helper declarations
  electron-app/types/utils/dom/domHelpers.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Align performance monitor declarations
  electron-app/types/utils/performance/performanceMonitor.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Tighten debug utility declarations
  electron-app/types/utils/debug/debugSensorInfo.d.ts
  electron-app/types/utils/debug/index.d.ts
  electron-app/types/utils/debug/lastAnimLog.d.ts
  electron-app/types/utils/debug/stateDevTools.d.ts
Due: electron_app

♻️ [refactor] (electron-app) Remove broad declaration object types
  electron-app/types/utils/config/constants.d.ts
  electron-app/types/windowStateUtils.d.ts
  electron-app/utils/types/sharedChartTypes.d.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Tighten chart settings boundary types
  electron-app/types/utils/app/initialization/getCurrentSettings.d.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate chart setting parser to TypeScript
  electron-app/shared/fit.js
  electron-app/tests/strictTests/app/initialization/getCurrentSettingsParsing.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/getCurrentSettingsParsing.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate shared chart config loader to TypeScript
  electron-app/tests/strictTests/app/initialization/loadSharedConfiguration.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/loadSharedConfiguration.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate system info updater to TypeScript
  electron-app/tests/strictTests/app/initialization/updateSystemInfo.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/app/initialization/updateSystemInfo.d.ts
  electron-app/utils/app/initialization/updateSystemInfo.js
  electron-app/utils/app/initialization/updateSystemInfo.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate version info loader to TypeScript
  electron-app/tests/strictTests/app/initialization/loadVersionInfo.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/loadVersionInfo.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate renderer utilities to TypeScript
  electron-app/tests/strictTests/app/initialization/rendererUtils.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/app/initialization/rendererUtils.d.ts
  electron-app/utils/app/initialization/rendererUtils.ts
  electron-app/utils/ui/dom/elementIdUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate chart settings utility to TypeScript
  electron-app/tests/strictTests/app/initialization/getCurrentSettings.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/getCurrentSettings.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate setup window theming to TypeScript
  electron-app/tests/strictTests/app/initialization/setupWindow.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/setupWindow.ts
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/theming/core/theme.d.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate accent color utility to TypeScript
  electron-app/tests/strictTests/theming/core/accentColor.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/theming/core/accentColor.d.ts
  electron-app/utils/theming/core/accentColor.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate render notification heuristic to TypeScript
  electron-app/tests/strictTests/showRenderNotification.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/ui/notifications/showRenderNotification.d.ts
  electron-app/utils/ui/notifications/showRenderNotification.js
  electron-app/utils/ui/notifications/showRenderNotification.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab ID utilities to TypeScript
  electron-app/tests/strictTests/ui/tabs/tabIdUtils.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/ui/tabs/tabIdUtils.d.ts
  electron-app/utils/ui/tabs/tabIdUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate map theme updater to TypeScript
  electron-app/tests/strictTests/theming/specific/updateMapTheme.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/theming/specific/updateMapTheme.d.ts
  electron-app/utils/theming/specific/createMapThemeToggle.d.ts
  electron-app/utils/theming/specific/updateMapTheme.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate update notification utility to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/ui/notifications/showUpdateNotification.d.ts
  electron-app/utils/ui/events/eventListenerManager.d.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate event listener manager to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/ui/events/eventListenerManager.d.ts
  electron-app/utils/ui/events/eventListenerManager.d.ts
  electron-app/utils/ui/events/eventListenerManager.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab button setup to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/types/utils/ui/tabs/setupTabButton.d.ts
  electron-app/utils/ui/tabs/setupTabButton.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab state config to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/tabs/tabStateManagerConfig.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab document helper to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/tabs/tabStateManagerDoc.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab chart attach helper to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/charts/dom/chartDomUtils.d.ts
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.d.ts
  electron-app/utils/ui/tabs/tabStateManagerCharts.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab state support to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/tabs/tabStateManagerSupport.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab state handlers to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/browser/fileBrowserTab.d.ts
  electron-app/utils/ui/tabs/tabRenderingManager.d.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate cancellation tokens to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/async/cancellationToken.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab rendering manager to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/async/cancellationToken.js
  electron-app/utils/ui/tabs/tabRenderingManager.d.ts
  electron-app/utils/ui/tabs/tabRenderingManager.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate tab state manager to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/tabs/tabStateManager.d.ts
  electron-app/utils/ui/tabs/tabStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] (electron-app) Migrate active tab updater to TypeScript
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/tabs/updateActiveTab.ts
Due: electron_app, üõ†Ô∏è Utilities
