Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Move main process state exports off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/index.ts
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move legacy app state handle off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/appState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move zone data off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.ts
  electron-app/utils/data/processing/setupZoneData.ts
  electron-app/utils/data/zones/index.ts
  electron-app/utils/data/zones/zoneDataState.ts
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/charts/rendering/renderTimeInZoneCharts.test.ts
  tests/unit/strictTests/data/processing/setupZoneData.test.ts
  tests/unit/strictTests/renderLapZoneCharts.test.ts
  tests/unit/strictTests/ui/controls/createInlineZoneColorSelector.test.ts
  tests/unit/utils/data/processing/setupZoneData.test.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move chart notification suppression off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartNotificationHelpers.ts
  tests/unit/charts/core/renderChartNotificationHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move chart loading suppression off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move lifecycle listener cleanup off DOM expando
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/index.ts
  electron-app/utils/app/lifecycle/lifecycleListenerCleanupRegistry.ts
  electron-app/utils/app/lifecycle/listeners.ts
  tests/playwright/app-ui.spec.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move Gyazo startup timer off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/main/app/gyazoStartupTimerState.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Stop publishing resource manager globally
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/resourceManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/resourceManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Stabilize NODE_ENV unset load smoke
  tests/playwright/app-ui.spec.ts
Due: none

🚜 [refactor] Retire renderer API global exposure
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/globalApiExposure.ts
  electron-app/renderer/globalSurfacesWiring.ts
  electron-app/renderer/rendererStartupInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/globalSurfacesWiring.test.ts
  tests/unit/renderer/rendererStartupInfo.test.ts
Due: electron_app

🚜 [refactor] Stop clearing loaded FIT files global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire state manager API global bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/core/stateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move singleton state subscriptions off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/stateManager.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move file access policy state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/main/security/fileAccessPolicyState.ts
  tests/unit/main/security/fileAccessPolicy.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Move tab button enabled state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/enableTabButtons.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/enableTabButtons.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire tab state manager global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire main UI drag-drop global
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

🧪 [test] Isolate Electron Playwright profiles
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Retire main UI development globals
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

🚜 [refactor] Retire showFitData map render global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire menu modal presenter globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire summary active file global fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/renderSummary_and_helpers.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryHelpers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire about modal dev helper global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/aboutModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire preload before-exit registry global
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/beforeExitHandler.ts
  electron-app/preload/preloadBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Retire chart plugin renderer dev global reads
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugGlobals.ts
  electron-app/utils/charts/plugins/chartBackgroundColorPlugin.ts
  electron-app/utils/charts/plugins/chartZoomResetPlugin.ts
  electron-app/utils/debug/rendererDebugLoggingState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugGlobals.test.ts
  tests/unit/utils/charts/plugins/chartBackgroundColorPlugin.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Stabilize Electron Playwright smoke gate
  tests/playwright/app-ui.spec.ts
Due: none

🚜 [refactor] Retire animation debug renderer dev global read
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/debug/lastAnimLog.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/lastAnimLog.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart controls state global migration
  docs/DEPRECATION_LEDGER.md
  docs/STATE_MANAGEMENT_AI_CONTEXT.md
  electron-app/utils/state/integration/stateIntegration.ts
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire state integration timer globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire master state debug global monitoring
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire state devtools debug global
  docs/APPLICATION_OVERVIEW.md
  docs/DEPRECATION_LEDGER.md
  docs/STATE_MANAGEMENT_COMPLETE_GUIDE.md
  electron-app/utils/debug/stateDevTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/stateDevTools.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire state integration debug global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/stateIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire map plugin control globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/state/mapPluginControlState.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/maps/state/mapPluginControlState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart debug flag globals
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugGlobals.ts
  electron-app/utils/charts/components/createEnhancedChart.ts
  electron-app/utils/charts/core/chartDebugState.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/rendering/renderGPSTimeChart.ts
  electron-app/utils/charts/rendering/renderGPSTrackChart.ts
  electron-app/utils/charts/rendering/renderLapZoneCharts.ts
  electron-app/utils/charts/rendering/renderPerformanceAnalysisCharts.ts
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.ts
  electron-app/utils/charts/rendering/renderZoneChart.ts
  electron-app/utils/charts/theming/chartThemeUtils.ts
  electron-app/utils/data/processing/setupZoneData.ts
  tests/unit/charts/core/chartDebugState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugGlobals.test.ts
  tests/unit/strictTests/addChartHoverEffects.test.ts
  tests/unit/utils/charts/theming/chartThemeUtils.test.ts
  tests/unit/utils/data/processing/setupZoneData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart listener lifecycle globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartListenerState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRequestListener.ts
  electron-app/utils/charts/core/renderChartRuntimeBootstrap.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartStartup.ts
  tests/unit/charts/core/chartListenerState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart tab integration global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartTabIntegration.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartTabIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart state manager global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/charts/core/chartStateManagerRegistry.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  tests/unit/charts/core/chartStateManager.test.ts
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart actions global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/charts/core/chartActionsRegistry.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartStartup.ts
  tests/unit/charts/core/renderChartRuntimeHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart UI state manager global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartDependencyAccessors.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove vendor runtime global fallback
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/utils/charts/core/chartRuntime.ts
  electron-app/utils/maps/core/leafletRuntime.ts
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/charts/renderLapZoneChart.test.ts
  tests/unit/maps/layers/mapBaseLayers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/createEnhancedChart.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/utils/maps/layers/mapBaseLayers.test.ts
  tests/unit/utils/maps/layers/mapIcons.test.ts
  tests/vitest/setupVitest.mjs
Due: electron_app, üõ†Ô∏è Utilities
