Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

lint [charts] Preserve state manager binding
  electron-app/utils/charts/core/renderChartDirectRerender.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Format devtools visibility
  electron-app/utils/charts/core/renderChartDevTools.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Guard completion theme getter
  electron-app/utils/charts/core/renderChartDataCompletion.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Preserve completion bindings
  electron-app/utils/charts/core/renderChartCompletionState.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Handle render notification promises
  electron-app/utils/charts/core/renderChartDataReadiness.ts
  electron-app/utils/charts/core/renderChartNotificationFlow.ts
  electron-app/utils/charts/core/renderChartNotificationHelpers.ts
  electron-app/utils/charts/core/renderChartPlaceholders.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Clean chart performance helpers
  electron-app/utils/charts/core/chartSpecFactory.ts
  electron-app/utils/charts/core/renderChartPerformanceMonitor.ts
  electron-app/utils/charts/core/renderChartPerformanceSettings.ts
  electron-app/utils/charts/core/renderChartPluginRegistration.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Clean render helper callbacks
  electron-app/utils/charts/core/getChartCounts.ts
  electron-app/utils/charts/core/renderChartPreflight.ts
  electron-app/utils/charts/core/renderChartPreparedExecution.ts
  electron-app/utils/charts/core/renderChartPrimaryFields.ts
  electron-app/utils/charts/core/renderChartRenderSettings.ts
  electron-app/utils/charts/core/renderChartRenderedEvent.ts
  electron-app/utils/charts/core/renderChartRequestListener.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Preserve runtime helper bindings
  electron-app/utils/charts/core/renderChartRuntimeBootstrap.ts
  electron-app/utils/charts/core/renderChartRuntimeDependencies.ts
  electron-app/utils/charts/core/renderChartSessionStart.ts
  electron-app/utils/charts/core/renderChartSettingsManager.ts
  electron-app/utils/charts/core/renderChartSettingsSignature.ts
  electron-app/utils/charts/core/renderChartStartup.ts
  electron-app/utils/charts/core/renderChartStateManagementApi.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Clean runtime utility helpers
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartSeriesCache.ts
  electron-app/utils/charts/core/renderChartStateManagement.ts
  electron-app/utils/charts/core/renderChartTiming.ts
  electron-app/utils/charts/core/updateGlobalChartStatusIndicator.ts
  electron-app/utils/charts/index.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Type chart point limits
  electron-app/utils/charts/core/renderChartPointUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [charts] Clean chart cache prewarm
  electron-app/utils/charts/core/renderChartCachePrewarm.ts
Due: electron_app, üõ†Ô∏è Utilities

build [lint] Align root lint config
  .gitattributes
  .github/secret_scanning.yml
  SUPPORT.md
  eslint.config.mjs
Due: none

fix [preload] Honor main-state listener rejection
  electron-app/preload/mainStateBridge.ts
  tests/unit/preload.mainStateBridge.test.ts
Due: electron_app

bug [ui] Stabilize about modal reopen lifecycle
  electron-app/utils/ui/modals/aboutModal.ts
  tests/unit/ui/modals/aboutModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

security [ui] Gate renderer dev helpers
  electron-app/main-ui.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

security [preload] Disable generic IPC in production
  electron-app/preload.ts
  electron-app/preload/environment.ts
  electron-app/preload/genericIpcApi.ts
  tests/unit/preload.environment.test.ts
  tests/unit/preload.genericIpcApi.test.ts
Due: electron_app

test [app] Restore full Vitest suite
  electron-app/utils/app/initialization/loadSharedConfiguration.ts
  electron-app/utils/app/lifecycle/appActions.ts
  electron-app/utils/charts/core/renderChartNotificationHelpers.ts
  electron-app/utils/ui/controls/removeExitFullscreenOverlay.ts
  electron-app/utils/ui/dom/elementIdUtils.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

test [ui] Align missing file smoke assertion
  tests/playwright/app-ui.spec.ts
Due: none

wrench [lint] Scope root lint policy
  eslint.config.mjs
  global.d.ts
  scripts/ensure-electron-binary.mjs
  scripts/install-flatpak-dependencies.mjs
  scripts/update-changelog-check-run.mjs
Due: none

wrench [lint] Clean Docusaurus lint
  docusaurus/docusaurus.config.ts
  docusaurus/sidebars.ts
  docusaurus/src/components/GitHubStats/git-hub-stats.tsx
  docusaurus/src/components/HomepageFeatures/homepage-features.tsx
  docusaurus/src/js/modern-enhancements.ts
  docusaurus/src/js/modernEnhancements.ts
  docusaurus/src/pages/index.tsx
Due: none

bug [test] Fix runtime cleanup regressions
  electron-app/utils/dom/sanitizeHtmlAllowlist.ts
  electron-app/utils/state/core/unifiedStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

wrench [build] Clean docs and Playwright warnings
  docusaurus/blog/2024-01-01-welcome.md
  docusaurus/docusaurus.config.ts
  scripts/run-docusaurus.mjs
  scripts/run-playwright.mjs
  tests/unit/packaging/runDocusaurus.test.ts
  tests/unit/packaging/runPlaywright.test.ts
Due: none

lock [fix] Restore ZwiftMap embed
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  static/app/index.html
  static/app/style.css
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
  tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] Retry map rendering while globals attach
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

👷 [build] Prepare signed release packaging
  .github/workflows/Build.yml
  .github/workflows/docusaurus.yml
  docusaurus/package-lock.json
  docusaurus/package.json
  electron-builder.config.cjs
  package-lock.json
  package.json
  scripts/run-electron-builder.mjs
  tests/unit/packaging/electronBuilderConfig.test.ts
  tests/unit/packaging/runElectronBuilder.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🎨 [style] Tighten CSS architecture and focus states
  static/app/elevProfile.css
  static/app/style.css
Due: none

🎨 [style] Remove generated CSS aliases
  static/app/style.css
Due: none

🐛 [fix] Restore AltFit file handoff
  electron-app/utils/ui/mainUiGlobals.ts
  static/app/index.html
  static/ffv/electron-altfit-bridge.js
  static/ffv/index.html
  tests/playwright/app-ui.spec.ts
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🔨 [build] Inline simple tool scripts
  package.json
  scripts/build-renderer.mjs
  scripts/build-runtime.mjs
  scripts/lib/workspaces.mjs
  scripts/lint-css.mjs
  scripts/lint-docusaurus.mjs
  scripts/lint-root.mjs
  scripts/run-playwright.mjs
  scripts/run-prettier.mjs
  scripts/run-typescript.mjs
  scripts/run-vitest.mjs
  scripts/typecheck-docusaurus.mjs
  tests/unit/packaging/buildRenderer.test.ts
  tests/unit/packaging/buildRuntime.test.ts
  tests/unit/packaging/lintCss.test.ts
  tests/unit/packaging/runPlaywright.test.ts
  tests/unit/packaging/runPrettier.test.ts
  tests/unit/packaging/runTypescript.test.ts
  tests/unit/packaging/runVitest.test.ts
  tests/unit/packaging/typecheckDocusaurus.test.ts
  tests/unit/packaging/vitestRootConfig.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🔨 [build] Inline documentation lint scripts
  package.json
  scripts/lint-docusaurus-content.mjs
  scripts/lint-remark.mjs
  scripts/lint-secretlint.mjs
  tests/unit/packaging/lintDocusaurusContent.test.ts
  tests/unit/packaging/lintRemarkSecretlint.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🔨 [build] Fold changelog wrapper into workflow
  package.json
  scripts/generate-changelog-workflow.mjs
  scripts/generate-changelog.mjs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/generateChangelogWorkflow.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

🎨 [style] Format tooling and test files
  docusaurus/package.json
  electron-builder.config.cjs
  scripts/apply-electron-fuses.mjs
  scripts/ensure-electron-binary.mjs
  scripts/run-docusaurus.mjs
  scripts/run-electron-builder.mjs
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
  tests/unit/maps/controls/leafletMeasureLite.test.ts
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
  tests/unit/packaging/applyElectronFuses.test.ts
  tests/unit/packaging/electronBuilderConfig.test.ts
  tests/unit/packaging/prepareRuntimeDist.test.ts
  tests/unit/packaging/printAppDiff.test.ts
  tests/unit/packaging/runDocusaurus.test.ts
  tests/unit/packaging/sourceEntryDocs.test.ts
  tests/unit/packaging/vscodeWorkspaceTasks.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
  tests/unit/strictTests/loadingOverlay.test.ts
  tests/unit/strictTests/style/styleCssVariables.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/ui/modals/aboutModal.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/elementIdUtils.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.ipcPolicy.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: none

📝 [docs] Refresh tooling lint notes
  docs/lint-notes.md
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🧪 [test] Harden map-control Playwright wait
  tests/playwright/app-ui.spec.ts
Due: none

🧪 [test] Quiet Playwright loader warning
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  package-lock.json
  package.json
  tests/unit/packaging/vitestRootConfig.test.ts
Due: none

🚜 [refactor] Centralize renderer global data bridge
  electron-app/utils/formatting/display/formatTooltipData.ts
  electron-app/utils/state/core/globalDataStore.ts
  electron-app/utils/state/integration/stateIntegration.ts
  electron-app/utils/ui/mainUiGlobals.ts
  tests/unit/utils/formatTooltipData.test.ts
  tests/unit/utils/state/core/globalDataStore.test.ts
Due: electron_app, üõ†Ô∏è Utilities

👷 [build] Add release verification gate
  .github/workflows/Build.yml
  docs/APPLICATION_OVERVIEW.md
  docs/DEVELOPMENT_GUIDE.md
  new-goal.md
  package.json
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

👷 [ci] Add dependency validation workflow
  .github/workflows/dependency-validation.yml
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🔒️ [build] Add signing environment preflight
  .github/workflows/Build.yml
  docs/DEVELOPMENT_GUIDE.md
  docusaurus/docs/development/build-release.md
  package.json
  scripts/check-signing-env.mjs
  tests/unit/packaging/checkSigningEnv.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none
