Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

wrench [changelog] Move check run updates into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/updateChangelogCheckRun.test.ts
  package.json
  scripts/update-changelog-check-run.mjs
Due: electron_app

wrench [changelog] Move changelog generation into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/generateChangelogWorkflow.test.ts
  package.json
  scripts/generate-changelog-workflow.mjs
Due: electron_app

wrench [changelog] Move changelog commit into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/commitChangelogWorkflow.test.ts
  package.json
  scripts/commit-changelog-workflow.mjs
Due: electron_app

wrench [build] Move build dependency installs into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/installBuildDependencies.test.ts
  package.json
  scripts/install-build-dependencies.mjs
Due: electron_app

wrench [deps] Consolidate npm Dependabot workspace updates
  .github/dependabot.yml
Due: none

wrench [build] Move Flatpak dependency setup into root script
  .github/workflows/flatpak-build.yml
  electron-app/tests/unit/packaging/installFlatpakDependencies.test.ts
  package.json
  scripts/install-flatpak-dependencies.mjs
Due: electron_app

wrench [release] Move Flatpak asset upload into root script
  .github/workflows/flatpak-build.yml
  electron-app/tests/unit/packaging/publishFlatpakReleaseAssets.test.ts
  package.json
  scripts/publish-flatpak-release-assets.mjs
Due: electron_app

wrench [format] Include shared Electron tsconfig in prettier targets
  scripts/run-prettier.mjs
Due: none

test [tests] Move root script tests out of electron app
  package.json
  scripts/run-prettier.mjs
  tests/unit/packaging/buildCiMatrix.test.ts
  tests/unit/packaging/bumpAppVersion.test.ts
  tests/unit/packaging/cleanReleases.test.ts
  tests/unit/packaging/cleanWorkspace.test.ts
  tests/unit/packaging/commitChangelogWorkflow.test.ts
  tests/unit/packaging/electronBuilderFiles.test.ts
  tests/unit/packaging/fixLatestYmlSha512.test.ts
  tests/unit/packaging/generateChangelogWorkflow.test.ts
  tests/unit/packaging/generateReleaseNotes.test.ts
  tests/unit/packaging/installBuildDependencies.test.ts
  tests/unit/packaging/installFlatpakDependencies.test.ts
  tests/unit/packaging/listReleaseDistFiles.test.ts
  tests/unit/packaging/organizeDistributables.test.ts
  tests/unit/packaging/printDistributableHashes.test.ts
  tests/unit/packaging/printElectronAppDiff.test.ts
  tests/unit/packaging/publishAppVersion.test.ts
  tests/unit/packaging/publishFlatpakReleaseAssets.test.ts
  tests/unit/packaging/renameSquirrelWin32ReleaseAssets.test.ts
  tests/unit/packaging/renameWindowsLatestYml.test.ts
  tests/unit/packaging/updateBuildMatrixSummary.test.ts
  tests/unit/packaging/updateChangelogCheckRun.test.ts
  tests/unit/packaging/updateChangelogJobSummary.test.ts
  tests/unit/packaging/updateReleaseJobSummary.test.ts
  vitest.config.ts
Due: none

test [tests] Align root unit test lint rules
  eslint.config.mjs
Due: none

docs [docs] Note Vitest UI dependency purpose
  docs/RENDERER_DEPENDENCY_INVENTORY.md
Due: none

test [tests] Rename migration-era utility tests
  electron-app/tests/unit/utils/formatManufacturer.mapping.test.ts
  electron-app/tests/unit/utils/formatters.boundaries.test.ts
  electron-app/tests/unit/utils/stateManager.subscriptions.test.ts
Due: electron_app

test [tests] Rename notification edge case tests
  electron-app/tests/unit/utils/showNotification.displayFailure.test.ts
  electron-app/tests/unit/utils/showNotification.queueEdgeCases.test.ts
Due: electron_app

test [tests] Rename enable tab button behavior test
  electron-app/tests/unit/utils/enableTabButtons.behavior.test.ts
Due: electron_app

docs [docs] Align Electron app license copy
  electron-app/LICENSE.md
Due: electron_app

chore [metadata] Remove stale app readme field
  electron-app/package.json
Due: electron_app

test [tests] Rename tab state regression test
  electron-app/tests/unit/utils/tabStateManager.regressions.test.ts
Due: electron_app

test [tests] Rename active tab state behavior test
  electron-app/tests/unit/utils/updateActiveTab.stateBehavior.test.ts
Due: electron_app

test [tests] Typecheck tab state regression test
  electron-app/tests/unit/utils/tabStateManager.regressions.test.ts
Due: electron_app

test [tests] Remove tab state suppression
  electron-app/tests/unit/utils/tabStateManager.regressions.test.ts
Due: electron_app

test [tests] Type notification queue edge cases
  electron-app/tests/unit/utils/showNotification.queueEdgeCases.test.ts
  electron-app/utils/ui/notifications/showNotification.ts
Due: electron_app, üõ†Ô∏è Utilities

test [tests] Type chart state reset fixture
  electron-app/tests/unit/utils/renderChartJS.stateApi.test.ts
Due: electron_app

test [tests] Use spy for menu array guard
  electron-app/tests/unit/menu/createAppMenu.test.ts
Due: electron_app

test [tests] Remove renderer strict suppressions
  electron-app/tests/strictTests/electron/renderer.strict.test.ts
Due: electron_app

test [tests] Guard measure vendor split
  electron-app/renderer/vendorGlobalsCore.ts
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
Due: electron_app

test [tests] Cover runtime dist asset prep
  scripts/prepare-runtime-dist.mjs
  tests/unit/packaging/prepareRuntimeDist.test.ts
Due: none

build [scripts] Default Electron launch to app workspace
  package.json
  scripts/run-electron.mjs
  tests/unit/packaging/runElectron.test.ts
Due: none

build [tests] Run Vitest from repository root
  package.json
  scripts/clean-workspace.mjs
  tests/unit/packaging/cleanWorkspace.test.ts
  tests/unit/packaging/vitestRootConfig.test.ts
  vitest.config.ts
Due: none

build [lint] Share root ESLint runner
  scripts/lint-docusaurus.mjs
  scripts/lint-electron-app.mjs
  scripts/lint-root.mjs
  scripts/run-eslint.mjs
  tests/unit/packaging/runEslint.test.ts
Due: none

build [scripts] Centralize app workspace paths
  scripts/build-ci-matrix.mjs
  scripts/build-win7.mjs
  scripts/bump-app-version.mjs
  scripts/bundle-preload.mjs
  scripts/clean-runtime-dist.mjs
  scripts/clean-workspace.mjs
  scripts/lib/workspaces.mjs
  scripts/normalize-coverage-lcov.mjs
  scripts/prepare-runtime-dist.mjs
  scripts/run-electron-builder.mjs
  scripts/run-electron.mjs
  scripts/run-eslint.mjs
  scripts/run-typescript.mjs
  tests/unit/packaging/runElectronBuilder.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

build [tests] Add Vitest suite aliases
  package.json
  scripts/run-vitest.mjs
  tests/unit/packaging/runVitest.test.ts
  tests/unit/packaging/vitestRootConfig.test.ts
Due: none

build [types] Centralize TypeScript runner tasks
  scripts/run-typescript.mjs
  tests/unit/packaging/runTypescript.test.ts
Due: none

build [format] Centralize Prettier runner targets
  scripts/run-prettier.mjs
  tests/unit/packaging/runPrettier.test.ts
Due: none

build [runtime] Centralize runtime build steps
  scripts/build-runtime.mjs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/buildRuntime.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

build [clean] Remove coverage output during workspace cleanup
  scripts/clean-workspace.mjs
  tests/unit/packaging/cleanWorkspace.test.ts
Due: none

build [release] Centralize app version pathspecs
  scripts/lib/workspaces.mjs
  scripts/publish-app-version.mjs
  tests/unit/packaging/workspaces.test.ts
Due: none

build [lint] Centralize CSS lint runner
  scripts/lint-css.mjs
  tests/unit/packaging/lintCss.test.ts
Due: none

build [docs] Centralize Docusaurus asset sync
  scripts/lib/workspaces.mjs
  scripts/sync-docusaurus-static-assets.mjs
  tests/unit/packaging/syncDocusaurusStaticAssets.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

build [docs] Centralize Docusaurus runner
  scripts/run-docusaurus.mjs
  tests/unit/packaging/runDocusaurus.test.ts
Due: none

build [docs] Centralize docs build runner
  scripts/build-docs.mjs
  tests/unit/packaging/buildDocs.test.ts
Due: none

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
