Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🧹 [chore] (deps) Remove stale renderer import map
  electron-app/index.html
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor DOMPurify browser asset
  electron-app/index.html
  electron-app/vendor/purify.min.js
  electron-app/vendor/purify.min.js.map
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor JSZip browser asset
  electron-app/index.html
  electron-app/vendor/jszip.min.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor Hammer.js browser asset
  electron-app/index.html
  electron-app/vendor/hammer.min.js
  electron-app/vendor/hammer.min.js.map
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor Chart.js zoom plugin asset
  electron-app/index.html
  electron-app/vendor/chartjs-plugin-zoom.min.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor Chart.js browser asset
  electron-app/index.html
  electron-app/utils/ui/controls/createElevationProfileButton.js
  electron-app/utils/ui/controls/createElevationProfileButton.ts
  electron-app/vendor/chart.umd.js
  electron-app/vendor/chart.umd.js.map
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🧹 [chore] (deps) Vendor Chart.js date adapter asset
  electron-app/index.html
  electron-app/vendor/chartjs-adapter-date-fns.bundle.min.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor DataTables browser assets
  electron-app/index.html
  electron-app/vendor/dataTables.dataTables.min.css
  electron-app/vendor/dataTables.dataTables.min.js
  electron-app/vendor/dataTables.min.js
  electron-app/vendor/jquery.min.js
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (deps) Vendor Leaflet browser assets
  electron-app/index.html
  electron-app/vendor/leaflet-draw/images/layers-2x.png
  electron-app/vendor/leaflet-draw/images/layers.png
  electron-app/vendor/leaflet-draw/images/marker-icon-2x.png
  electron-app/vendor/leaflet-draw/images/marker-icon.png
  electron-app/vendor/leaflet-draw/images/marker-shadow.png
  electron-app/vendor/leaflet-draw/images/spritesheet-2x.png
  electron-app/vendor/leaflet-draw/images/spritesheet.png
  electron-app/vendor/leaflet-draw/images/spritesheet.svg
  electron-app/vendor/leaflet-draw/leaflet.draw.css
  electron-app/vendor/leaflet-draw/leaflet.draw.js
  electron-app/vendor/leaflet-minimap/Control.MiniMap.min.css
  electron-app/vendor/leaflet-minimap/Control.MiniMap.min.js
  electron-app/vendor/leaflet-minimap/images/toggle.png
  electron-app/vendor/leaflet-minimap/images/toggle.svg
  electron-app/vendor/leaflet.fullscreen/Control.FullScreen.css
  electron-app/vendor/leaflet.fullscreen/Control.FullScreen.umd.js
  electron-app/vendor/leaflet.locatecontrol/L.Control.Locate.min.css
  electron-app/vendor/leaflet.locatecontrol/L.Control.Locate.min.js
  electron-app/vendor/leaflet.locatecontrol/L.Control.Locate.min.js.map
  electron-app/vendor/leaflet.locatecontrol/dist/L.Control.Locate.min.css.map
  electron-app/vendor/leaflet.markercluster/MarkerCluster.Default.css
  electron-app/vendor/leaflet.markercluster/MarkerCluster.css
  electron-app/vendor/leaflet.markercluster/leaflet.markercluster.js
  electron-app/vendor/leaflet.markercluster/leaflet.markercluster.js.map
  electron-app/vendor/leaflet/images/layers-2x.png
  electron-app/vendor/leaflet/images/layers.png
  electron-app/vendor/leaflet/images/marker-icon-2x.png
  electron-app/vendor/leaflet/images/marker-icon.png
  electron-app/vendor/leaflet/images/marker-shadow.png
  electron-app/vendor/leaflet/leaflet.css
  electron-app/vendor/leaflet/leaflet.js
  electron-app/vendor/leaflet/leaflet.js.map
Due: electron_app, üñ•Ô∏è Renderer & UI

🧹 [chore] (charts) Remove renderer require fallbacks
  electron-app/utils/charts/core/renderChartNotificationHelpers.js
  electron-app/utils/charts/core/renderChartNotificationHelpers.ts
  electron-app/utils/charts/core/renderChartThemeHelpers.js
  electron-app/utils/charts/core/renderChartThemeHelpers.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (charts) Remove stale module injection shim
  electron-app/utils/charts/core/renderChartDependencyAccessors.js
  electron-app/utils/charts/core/renderChartDependencyAccessors.ts
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartModuleHelpers.js
  electron-app/utils/charts/core/renderChartModuleHelpers.ts
  electron-app/utils/charts/core/renderChartStateAccess.js
  electron-app/utils/charts/core/renderChartStateAccess.ts
  electron-app/utils/charts/core/renderChartStateView.js
  electron-app/utils/charts/core/renderChartStateView.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (state) Remove global require fallback
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/state/integration/mainProcessStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (preload) Type Electron bridge resolver
  electron-app/preload.js
Due: electron_app, ‚ö° Core Electron Process

🧹 [chore] (state) Remove master global require fallback
  electron-app/utils/state/core/masterStateManager.js
  electron-app/utils/state/core/masterStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (main) Route permission dialog through electron access
  electron-app/main/app/setupApplicationEventHandlers.js
  electron-app/main/app/setupApplicationEventHandlers.ts
Due: electron_app

🧹 [chore] (recent) Resolve app path through electron access
  electron-app/utils/files/recent/recentFiles.js
  electron-app/utils/files/recent/recentFiles.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (main) Route session access through electron access
  electron-app/main/runtime/electronAccess.js
  electron-app/main/runtime/electronAccess.ts
  electron-app/main/security/setupBlockedRequests.js
Due: electron_app

🧹 [chore] (menu) Resolve Electron through runtime access
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/app/menu/createAppMenu.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (window) Resolve test Electron access through runtime
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.js
  electron-app/main/window/initializeMainWindow.ts
Due: electron_app

🧹 [chore] (runtime) Route lifecycle Electron access
  electron-app/main/runtime/setupMainLifecycle.js
  electron-app/main/runtime/setupMainLifecycle.ts
Due: electron_app

🧹 [chore] (state) Route main state Electron access
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/state/integration/mainProcessStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (runtime) Centralize test Electron priming
  electron-app/main/runtime/primeTestEnvironment.js
  electron-app/main/runtime/primeTestEnvironment.ts
Due: electron_app

🧹 [chore] (tsconfig) Force explicit module detection
  electron-app/tsconfig.json
  electron-app/tsconfig.runtime.json
Due: electron_app

Revert "🧹 [chore] (tsconfig) Force explicit module detection"
  electron-app/tsconfig.json
  electron-app/tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (preload) Centralize preload API contract
  electron-app/global.d.ts
  electron-app/preload.js
  electron-app/shared/preloadApi.ts
Due: electron_app, ‚ö° Core Electron Process

🏷️ [chore] (state) Reuse shared main-state IPC types
  electron-app/utils/state/integration/mainProcessStateClient.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ipc) Name FIT invoke contracts
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/shared/ipc.ts
Due: electron_app

🏷️ [chore] (ipc) Type info invoke channels
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/shared/ipc.ts
Due: electron_app

🏷️ [chore] (ipc) Type FIT browser listing contract
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ipc) Type external invoke contracts
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/shared/ipc.ts
Due: electron_app

🏷️ [chore] (ipc) Type file read contract
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type clipboard invoke contracts
  electron-app/main/ipc/registerClipboardHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type recent-file invoke contracts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type dialog invoke contracts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type FIT browser invoke contracts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type info invoke contracts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type external invoke payloads
  electron-app/main/ipc/registerExternalHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type devtools menu contract
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🏷️ [chore] (ipc) Type main-state contracts
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/state/integration/mainProcessStateClient.js
  electron-app/utils/state/integration/mainProcessStateClient.ts
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/state/integration/mainProcessStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities
