Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor](renderer) Inject file input open handler
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/domElementAccess.ts
  electron-app/renderer/fileInputWiring.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject startup theme services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject startup notification services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject startup setup services
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor](renderer) Inject diagnostics debug services
  docs/APPLICATION_OVERVIEW.md
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/rendererDiagnosticsWiring.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
  tests/unit/renderer/rendererDiagnosticsWiring.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: electron_app

🚜 [refactor](renderer) Delete core-module test bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/fileInputStartup.ts
  electron-app/renderer/fileInputWiring.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/startupCallbackTypes.ts
  electron-app/renderer/testOnlyBootstrap.ts
  electron-app/renderer/testOnlyBootstrapRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
  tests/unit/renderer/testOnlyBootstrapRuntime.test.ts
  tests/unit/strictTests/electron/renderer.strict.test.ts
Due: electron_app

🚜 [refactor](renderer) Centralize browser runtime ambient slots
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚨 [fix] (lint) Resolve renderer lint violations
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/lifecycleCleanup.ts
Due: electron_app

🚜 [refactor](renderer) Share startup runtime info contract
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/rendererRuntimeInfoTypes.ts
  electron-app/renderer/rendererStartupInfo.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererStartupInfo.test.ts
Due: electron_app

🚜 [refactor](renderer) Narrow main UI API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiElectronApi.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor](renderer) Narrow debug runtime metadata candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugToolsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor](runtime) Narrow process environment candidates
  docs/DEPRECATION_LEDGER.md
  electron-app/main/menu/registerUpdateMenuHandlers.ts
  electron-app/utils/runtime/processEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](renderer) Narrow screenfull runtime validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/screenfullRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/screenfullRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](renderer) Narrow core vendor runtime guards
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/dom/domPurifyRuntime.ts
  electron-app/utils/rendering/helpers/arqueroRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/dom/domPurifyRuntime.test.ts
  tests/unit/utils/rendering/helpers/arqueroRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](runtime) Narrow promise-like error handling
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandling.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandling.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](files) Narrow FIT path API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFitFileFromPath.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](files) Narrow overlay selector API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFileSelector.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFileSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](files) Narrow overlay decoder API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](files) Narrow FIT dialog API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor](rendering) Narrow FIT data notify API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Narrow drag-drop decoder API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dragDropHandler.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Narrow main UI decoder API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/mainUiDomUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/mainUiDomUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (export) Narrow CSV clipboard API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSV.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Narrow fullscreen API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Narrow update API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/notifications/showUpdateNotification.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (ui) Narrow settings API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (browser) Narrow file-browser API validation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (preload) Split Electron API domain composition
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiDomainComposition.ts
  electron-app/preload/electronApiFactory.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.electronApiDomainComposition.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (runtime) Narrow browser ambient slots
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (state) Guard loaded FIT clear handling
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Retire loaded FIT mirror
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Remove AppActions FIT load fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/appActions.ts
  electron-app/utils/app/lifecycle/appActionsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/appActions.test.ts
  tests/unit/utils/app/lifecycle/appActionsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (state) Retire unified state facade
  docs/APPLICATION_LAYOUT.md
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/unifiedStateManager.ts
  electron-app/utils/state/core/unifiedStateManagerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/unifiedStateManager.globalDataStore.test.ts
  tests/unit/utils/state/core/unifiedStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] (state) Update retired bridge ledger
  docs/DEPRECATION_LEDGER.md
Due: none

🛡️ [fix] (vendor) Validate split runtime readiness
  electron-app/renderer/vendorBundleLoader.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] (renderer) Capture preload API scopes
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiRuntimeEnvironment.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (vendor) Validate Leaflet readiness payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/maps/core/leafletRuntime.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (vendor) Validate chart data readiness payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/utils/charts/core/chartRuntime.ts
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
  tests/unit/utils/charts/core/chartRuntime.test.ts
  tests/unit/utils/rendering/core/dataTableRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] (vendor) Type split readiness payloads
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/rendererVendorShared.ts
  electron-app/utils/charts/core/chartRuntime.ts
  electron-app/utils/maps/core/leafletRuntime.ts
  electron-app/utils/rendering/core/dataTableRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🐛 [fix] (vendor) Defer loaded markers until validation
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/rendererVendorShared.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorShared.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
