Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

lock [security] Enforce generic IPC allowlists
  electron-app/preload.ts
  electron-app/preload/environment.ts
  tests/unit/preload.environment.test.ts
Due: electron_app

sparkles [ui] Make accent picker dialog accessible
  electron-app/ui/modals/accentColorPicker.ts
  tests/unit/ui/modals/accentColorPicker.test.ts
Due: electron_app

wrench [deps] Update patch dependencies
  docs/APPLICATION_OVERVIEW.md
  docs/DEVELOPMENT_GUIDE.md
  package-lock.json
  package.json
Due: none

test [vitest] Refresh stale gate expectations
  tests/unit/packaging/rootAssetReferences.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
  tests/unit/utils/files/export/exportUtils.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: none

wrench [deps] Prepare Electron 42.3.3
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  package-lock.json
  package.json
  scripts/ensure-electron-binary.mjs
  scripts/lib/workspaces.mjs
  scripts/start-electron.mjs
  tests/unit/packaging/startElectron.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

lock [security] Restrict renderer CSP egress
  static/app/index.html
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

lock [security] Deny untrusted about blank origins
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/main/app/setupApplicationEventHandlers.permissions.test.ts
Due: electron_app

lock [security] Drop IPC event from renderer callbacks
  electron-app/preload/genericIpcApi.ts
  electron-app/shared/ipc.ts
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/preload.distApiMethods.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/preload.genericIpcApi.test.ts
  tests/unit/preload.source.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Flip Electron package fuses
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  package-lock.json
  package.json
  scripts/apply-electron-fuses.mjs
  scripts/build-package.mjs
  scripts/lib/workspaces.mjs
  tests/unit/packaging/applyElectronFuses.test.ts
  tests/unit/packaging/buildPackage.test.ts
  tests/unit/packaging/workspaces.test.ts
Due: none

lock [security] Name main UI IPC events
  electron-app/main-ui.ts
  electron-app/preload.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/preloadApi.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app

lock [security] Drop legacy fit loaded send fallback
  electron-app/utils/rendering/core/showFitData.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Name browser feature IPC event
  electron-app/preload.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Name Gyazo OAuth IPC event
  electron-app/preload.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/files/export/exportUtils.test.ts
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Use named update check sender
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

test [vitest] Refresh named IPC expectations
  electron-app/utils/files/export/exportUtils.test.ts
  tests/unit/preload.dist.test.ts
  tests/unit/preload.distApiMethods.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/files/export/exportUtils.oauthState.test.ts
  tests/unit/utils/files/export/exportUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Name menu IPC events
  electron-app/preload.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
  tests/unit/preload.dist.test.ts
  tests/unit/preload.distApiMethods.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

fix [ui] Trap focus in power settings modal
  electron-app/utils/ui/modals/openPowerEstimationSettingsModal.ts
  tests/unit/utils/ui/modals/openPowerEstimationSettingsModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Remove remote font dependency
  static/app/index.html
  static/app/style.css
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

fix [ui] Clarify disabled control states
  static/app/style.css
Due: none

test [vitest] Refresh menu IPC listener fixtures
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: none

lock [security] Name lifecycle IPC events
  electron-app/preload.ts
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/preload.dist.test.ts
  tests/unit/preload.distApiMethods.test.ts
  tests/unit/preload.distBridgeBehavior.test.ts
  tests/unit/preload/ipcBridgeCatalog.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Deny renderer child windows
  electron-app/main/app/setupApplicationEventHandlers.ts
  tests/unit/main/app/setupApplicationEventHandlers.fileUrlPolicy.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

fix [ui] Restore about modal Escape handling
  electron-app/utils/ui/modals/aboutModal.ts
  electron-app/utils/ui/modals/ensureAboutModal.ts
  tests/unit/ui/modals/aboutModal.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Require approved Save As source
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

lock [security] Gate updater actions on main state
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/updater/setupAutoUpdater.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

lock [security] Deny production devtools menu injection
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

fix [ui] Announce loading overlay status
  electron-app/utils/ui/components/LoadingOverlay.ts
  tests/unit/strictTests/loadingOverlay.test.ts
Due: electron_app, üõ†Ô∏è Utilities

fix [ui] Trap focus in zone color picker
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: electron_app, üõ†Ô∏è Utilities

fix [ui] Trap focus in summary column selector
  electron-app/utils/rendering/helpers/summaryColModal.ts
  tests/unit/utils/rendering/helpers/showColModal.interactions.test.ts
Due: electron_app, üõ†Ô∏è Utilities

fix [ui] Define theme CSS tokens
  static/app/style.css
Due: none

fix [ui] Clean shortcut modal focus trap
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Deny renderer recent approvals
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/preload.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  tests/unit/lifecycle/listeners.fitPayload.test.ts
  tests/unit/lifecycle/recentFilesContextMenu.fitPayload.test.ts
  tests/unit/main/ipc/registerRecentFileHandlers.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lock [security] Stop auto-granting browser roots
  electron-app/main/ipc/setupIPCHandlers.ts
Due: electron_app

lock [security] Restrict renderer state reads
  electron-app/utils/state/integration/mainProcessStateManager.ts
  tests/unit/state/integration/mainProcessStateManager.ipc.test.ts
Due: electron_app, üõ†Ô∏è Utilities

test [vitest] Refresh hardened UI IPC expectations
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/state/integration/mainProcessStateManager.test.ts
  tests/unit/utils/ui/modals/ensureAboutModal.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
Due: none

a11y [ui] Harden keyboard interactions
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/controls/mapLapSelector.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/controls/createDataPointFilterControl.ts
  electron-app/utils/ui/controls/dataPointFilterControl/panelController.ts
  static/app/index.html
  static/app/style.css
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/maps/controls/mapLapSelector.test.ts
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
  tests/unit/utils/ui/browser/fileBrowserTab.accessibility.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/panelController.test.ts
Due: electron_app, üõ†Ô∏è Utilities

a11y [ui] Trap export modal focus
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/utils/exportUtils.chartExport.test.ts
Due: electron_app, üõ†Ô∏è Utilities

test [ui] Preserve keyboard compatibility
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/ui/controls/dataPointFilterControl/panelController.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
Due: electron_app, üõ†Ô∏è Utilities

lint [security] Clear policy lint errors
  electron-app/main/security/fileAccessPolicy.ts
  electron-app/main/security/ipcSenderPolicy.ts
Due: electron_app

lint [ipc] Clear main IPC lint errors
  electron-app/main/ipc/fileReadPayload.ts
  electron-app/main/ipc/fitIpcPayload.ts
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/registerBrowserHandlers.ts
  electron-app/main/ipc/registerClipboardHandlers.ts
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  tests/unit/main/ipc/registerInfoHandlers.test.ts
Due: electron_app
