Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Type preload external factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/gyazoExternalApi.ts
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/shellExternalApi.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type preload app factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiDiagnostics.ts
  electron-app/preload/beforeExitHandler.ts
  electron-app/preload/clipboardBridge.ts
  electron-app/preload/developmentToolsGlobal.ts
  electron-app/preload/devtoolsMenuApi.ts
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.clipboardBridge.test.ts
  tests/unit/preload.devtoolsMenuApi.test.ts
Due: electron_app

🚜 [refactor] Type preload IPC factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiExposure.ts
  electron-app/preload/electronBridge.ts
  electron-app/preload/ipcHelpers.ts
  electron-app/preload/logger.ts
  electron-app/preload/menuEventApi.ts
  electron-app/preload/preloadEventApi.ts
  electron-app/preload/preloadIpcModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/validators.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.ipcHelpers.test.ts
  tests/unit/preload.preloadEventApi.test.ts
Due: electron_app

🚜 [refactor] Type renderer menu callbacks
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiWiring.test.ts
  tests/unit/renderer/electronMenuActionHandlers.test.ts
Due: electron_app

🚜 [refactor] Type renderer file input handlers
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/fileInputStartup.ts
  electron-app/renderer/fileInputWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Type renderer test bootstrap handlers
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/testOnlyBootstrap.test.ts
Due: electron_app

🚜 [refactor] Type renderer startup setup calls
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
Due: electron_app

🚜 [refactor] Retire renderer function bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Type renderer state startup dependencies
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor] Type renderer diagnostics dependencies
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/rendererDiagnosticsWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Localize renderer file-input override shaping
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/fileInputWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Localize renderer import-time override shaping
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Keep renderer module records private
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/coreModuleResolution.test.ts
Due: electron_app

🚜 [refactor] Narrow renderer test-only overrides
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type Electron API startup hooks
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiStartupHooks.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Tighten renderer core-module contract
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type renderer app-domain core modules
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/stateManagerStartup.ts
  electron-app/utils/state/domain/appDomainState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type renderer lifecycle listener setup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/utils/app/lifecycle/listeners.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type renderer setup-theme core module
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Localize renderer debug function bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

👷 [build] Add signed release verification gate
  docs/DEPRECATION_LEDGER.md
  docs/DEVELOPMENT_GUIDE.md
  docusaurus/docs/development/build-release.md
  package.json
  tests/unit/packaging/workspacePackageBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: none

🚜 [refactor] Narrow renderer file input core dependency
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/fileInputWiring.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputWiring.test.ts
Due: electron_app

🚜 [refactor] Narrow renderer startup core dependency
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
Due: electron_app

🚜 [refactor] Narrow renderer import-time core dependency
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/importTimeBootstrap.test.ts
Due: electron_app

🚜 [refactor] Share renderer Electron menu dependency type
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiWiring.ts
  electron-app/renderer/electronMenuActionHandlers.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronMenuActionHandlers.test.ts
Due: electron_app

🚜 [refactor] Name renderer state startup core dependency
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Localize renderer diagnostics core contract
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Localize renderer startup dependency contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronMenuActionHandlers.ts
  electron-app/renderer/fileInputWiring.ts
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Localize renderer startup core contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/importTimeBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Remove state manager debug state export
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Keep renderer core resolver contract private
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/coreModuleResolution.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Keep AltFit base64 bridge handler private
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-altfit-bridge.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Stop AltFit bridge loader aliasing
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-altfit-bridge.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🐛 [fix] Keep AltFit bridge loader fallback local
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-altfit-bridge.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Remove AltFit Electron API shim
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-altfit-bridge.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Remove generated AltFit loader global
  docs/DEPRECATION_LEDGER.md
  static/ffv/assets/index-LvWRIhnC.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Use direct AltFit file-input handoff
  docs/DEPRECATION_LEDGER.md
  static/ffv/electron-altfit-bridge.js
  tests/unit/packaging/appHtmlSecurityPolicy.test.ts
Due: none

🚜 [refactor] Prefer scoped Electron API providers
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope main UI Electron API wiring
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiDragDropStartup.ts
  electron-app/renderer/mainUiElectronApi.ts
  electron-app/renderer/mainUiExternalLinks.ts
  electron-app/renderer/mainUiRuntimeEnvironment.ts
  electron-app/renderer/mainUiStartup.ts
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/links/externalLinkHandlers.ts
  electron-app/utils/ui/setupExternalLinkHandlers.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiRuntimeEnvironment.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Use scoped Electron API fixtures
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
  tests/unit/utils/ui/links/externalLinkHandlers.test.ts
Due: none

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
