Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧪 [test] Strengthen shown files list coverage
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
Due: electron_app

🧪 [test] Strengthen logWithLevel coverage
  electron-app/tests/unit/utils/logWithLevel.comprehensive.test.ts
Due: electron_app

wrench [build] Stabilize runtime TypeScript output
  electron-app/main/ipc/registerBrowserHandlers.js
  electron-app/main/ipc/registerInfoHandlers.js
  electron-app/main/menu/setupMenuAndEventHandlers.js
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/main/window/initializeMainWindow.js
  electron-app/package.json
  electron-app/scripts/format-runtime-output.mjs
  electron-app/shared/fitSdk.js
  electron-app/shared/preloadApi.js
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/async/pLimitCompat.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/files/export/copyTableAsCSV.js
  electron-app/utils/files/import/fitFileValidation.js
  electron-app/utils/files/import/fitParsePayload.js
  electron-app/utils/formatting/display/formatCapitalize.js
  electron-app/utils/logging/getErrorInfo.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/domain/settingsStateCore.js
  electron-app/utils/state/domain/settingsStateSchema.js
  electron-app/utils/state/integration/mainProcessStateClient.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/controls/createMarkerCountSelector.js
  electron-app/utils/ui/links/externalLinkHandlers.js
Due: electron_app, üõ†Ô∏è Utilities

test [test] Cover binary IPC payload boundaries
  electron-app/tests/unit/main/ipc/binaryPayloadBoundaries.test.ts
Due: electron_app

test [test] Migrate FIT IPC handler test to TypeScript
  electron-app/tests/unit/main/ipc/registerFitFileHandlers.test.js
  electron-app/tests/unit/main/ipc/registerFitFileHandlers.test.ts
Due: electron_app

test [test] Migrate chart settings test to TypeScript
  electron-app/tests/charts/chartSettings.test.js
  electron-app/tests/charts/chartSettings.test.ts
Due: electron_app

wrench [build] Migrate blocked request guard to TypeScript
  electron-app/eslint.config.mjs
  electron-app/main/security/setupBlockedRequests.ts
  electron-app/tests/unit/main/security/setupBlockedRequests.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app

wrench [build] Migrate Vitest config to TypeScript
  electron-app/vitest.config.ts
Due: electron_app

wrench [build] Extract FIT unknown message labels
  electron-app/fitParser.js
  electron-app/shared/fitUnknownMessageLabels.js
  electron-app/shared/fitUnknownMessageLabels.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, üìä FIT Parsing

wrench [build] Migrate main entrypoint to TypeScript
  electron-app/eslint.config.mjs
  electron-app/main.js
  electron-app/main.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Migrate accent color picker to TypeScript
  electron-app/eslint.config.mjs
  electron-app/tests/unit/ui/modals/accentColorPicker.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/ui/modals/accentColorPicker.ts
  electron-app/utils/app/lifecycle/menuIpcListeners.js
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
Due: electron_app, üõ†Ô∏è Utilities

wrench [build] Migrate main UI entrypoint to TypeScript
  electron-app/eslint.config.mjs
  electron-app/main-ui.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/ui/mainUiGlobals.ts
Due: electron_app, üõ†Ô∏è Utilities

wrench [build] Migrate FIT parser to TypeScript
  electron-app/eslint.config.mjs
  electron-app/fitParser.ts
  electron-app/shared/fit.ts
  electron-app/shared/fitParser.ts
  electron-app/tsconfig.runtime.json
Due: electron_app

wrench [build] Extract preload before-exit handler
  electron-app/preload.js
  electron-app/preload/beforeExitHandler.js
  electron-app/preload/beforeExitHandler.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload validators
  electron-app/preload.js
  electron-app/preload/validators.js
  electron-app/preload/validators.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract renderer environment detection
  electron-app/renderer.js
  electron-app/tests/unit/utils/app/initialization/rendererEnvironment.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/app/initialization/rendererEnvironment.js
  electron-app/utils/app/initialization/rendererEnvironment.ts
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

wrench [build] Sync renderer environment output
  electron-app/utils/app/initialization/rendererEnvironment.js
Due: electron_app, üõ†Ô∏è Utilities

wrench [build] Extract preload environment detection
  electron-app/preload.js
  electron-app/preload/environment.js
  electron-app/preload/environment.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.environment.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload main-state bridge
  electron-app/preload.js
  electron-app/preload/mainStateBridge.js
  electron-app/preload/mainStateBridge.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload Electron bridge resolver
  electron-app/preload.js
  electron-app/preload/electronBridge.js
  electron-app/preload/electronBridge.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.electronBridge.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload IPC helpers
  electron-app/preload.js
  electron-app/preload/ipcHelpers.js
  electron-app/preload/ipcHelpers.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.ipcHelpers.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload logger
  electron-app/preload.js
  electron-app/preload/logger.js
  electron-app/preload/logger.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.logger.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Type preload IPC helper factories
  electron-app/preload/ipcHelpers.ts
Due: electron_app

wrench [build] Extract preload generic IPC API
  electron-app/preload.js
  electron-app/preload/genericIpcApi.js
  electron-app/preload/genericIpcApi.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.genericIpcApi.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload clipboard bridge
  electron-app/preload.js
  electron-app/preload/clipboardBridge.js
  electron-app/preload/clipboardBridge.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.clipboardBridge.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload API diagnostics
  electron-app/preload.js
  electron-app/preload/apiDiagnostics.js
  electron-app/preload/apiDiagnostics.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.apiDiagnostics.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload main-state API
  electron-app/preload.js
  electron-app/preload/mainStateApi.js
  electron-app/preload/mainStateApi.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.mainStateApi.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Extract preload devtools menu API
  electron-app/preload.js
  electron-app/preload/devtoolsMenuApi.js
  electron-app/preload/devtoolsMenuApi.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload.devtoolsMenuApi.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

wrench [build] Convert preload entrypoint to TypeScript
  electron-app/eslint.config.mjs
  electron-app/preload.ts
  electron-app/tsconfig.runtime.json
Due: electron_app

wrench [build] Refresh runtime JS before tests
  electron-app/package.json
Due: electron_app

test [build] Align FIT parser integration test
  electron-app/tests/unit/utils/files/import/fitParserIntegration.test.ts
Due: electron_app

test [build] Use valid FIT overlay decode fixture
  electron-app/tests/unit/utils/files/import/loadSingleOverlayFile.test.ts
Due: electron_app

test [build] Expect empty FIT buffer validation
  electron-app/tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app

test [build] Use Electron access mock for main state IPC
  electron-app/tests/unit/utils/state/integration/mainProcessStateManager.test.ts
Due: electron_app

test [build] Align elevation profile script fixture
  electron-app/tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
Due: electron_app

test [build] Refresh legacy coverage mocks
  electron-app/tests/unit/main.complete-coverage.test.ts
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  electron-app/tests/unit/utils/formatTooltipData.comprehensive.test.ts
Due: electron_app

wrench [build] Bundle sandboxed preload
  electron-app/fitParser.js
  electron-app/fitParser.ts
  electron-app/index.html
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/preload.js
  electron-app/preload.ts
  electron-app/scripts/bundle-preload.mjs
  electron-app/tests/unit/lifecycle/listeners.test.ts
  electron-app/tests/unit/utils/updateActiveTab.simple.test.ts
  electron-app/utils/app/lifecycle/listeners.ts
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing

test [build] Reduce test lint blockers
  electron-app/eslint.config.mjs
  electron-app/tests/charts/renderLapZoneChart.test.ts
  electron-app/tests/jsdomSetup.ts
  electron-app/tests/shims/nodeWebStorage.ts
Due: electron_app

test [build] Remove flaky tab integration waits
  electron-app/tests/integration/realAppTabBug.test.ts
Due: electron_app

test [build] Harden main basic coverage
  electron-app/tests/unit/main.basic.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
