Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🧪 [test] Isolate renderer unit test mocks
  tests/unit/state/domain/uiStateManager.test.ts
  tests/unit/utils/enableTabButtons.behavior.test.ts
  tests/unit/utils/rendering/components/createTables.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: none

🚜 [refactor] Inject master state dependencies
  electron-app/utils/state/core/masterStateManager.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Retire chart global-data naming
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartRenderedEvent.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Tighten legacy utility bridge guardrail
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard chart startup bridge terminology
  electron-app/utils/charts/core/renderChartRequestListener.ts
  electron-app/utils/charts/core/renderChartRuntimeBootstrap.ts
  electron-app/utils/charts/core/renderChartStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Rename temporary Leaflet global cleanup
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  electron-app/renderer/rendererVendorMap.ts
  electron-app/renderer/rendererVendorMapRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorMapRuntime.test.ts
Due: electron_app

🧪 [test] Guard chart actions dependency wording
  electron-app/utils/charts/core/renderChartActions.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Rename chart notification state access
  electron-app/utils/charts/core/chartStateManager.ts
  electron-app/utils/charts/core/renderChartCompletionState.ts
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartNotificationStateAccess.ts
  electron-app/utils/charts/core/renderChartStateAccess.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard active chart bridge wording
  electron-app/utils/charts/core/chartTabIntegration.ts
  electron-app/utils/charts/core/renderChartDomHelpers.ts
  electron-app/utils/charts/core/renderChartExecution.ts
  electron-app/utils/ui/tabs/tabStateManagerConfig.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Reuse renderer Electron API runtime
  electron-app/renderer/rendererBrowserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Name renderer file-opening state
  electron-app/renderer/stateManagerStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/stateManagerStartup.test.ts
Due: electron_app

🚜 [refactor] Share renderer file-opening ref type
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/importTimeBootstrap.ts
  electron-app/renderer/lifecycleCleanup.ts
  electron-app/renderer/rendererDiagnosticsWiring.ts
  electron-app/renderer/testOnlyBootstrap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Route file input constructor checks through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/fileInputStartup.ts
  electron-app/renderer/fileInputStartupRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/fileInputStartup.test.ts
Due: electron_app

🚜 [refactor] Route file browser storage through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/browser/fileBrowserTabRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTabRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route theme storage through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/themeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route setup theme storage through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/theming/core/setupThemeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/setupThemeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route summary column storage through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  electron-app/utils/rendering/helpers/renderSummaryRuntime.ts
  electron-app/utils/rendering/helpers/summaryColModal.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryHelpers.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route main theme reads through settings
  docs/DEPRECATION_LEDGER.md
  electron-app/main/theme/getThemeFromRenderer.ts
  tests/unit/main/theme/getThemeFromRenderer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Rename persisted theme preference service
  docs/DEPRECATION_LEDGER.md
  electron-app/main.ts
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/main/ipc/registerDialogHandlers.ts
  electron-app/main/ipc/registerRecentFileHandlers.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/theme/getPersistedThemePreference.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/main.test.ts
  tests/unit/main/ipc/registerRecentFileHandlers.test.ts
  tests/unit/main/theme/getPersistedThemePreference.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Trim stale main menu script bridge
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/menu/safeCreateAppMenu.ts
  tests/unit/main.entrypoint.test.ts
  tests/unit/main.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/electron/main.handlers.strict.test.ts
Due: electron_app

🚜 [refactor] Move preload candidate lookup to browser runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiBrowserRuntime.ts
  electron-app/renderer/rendererBrowserRuntime.ts
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type summary selector runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiSummaryColumnSelectorRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiSummaryColumnSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type application startup through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartupRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartupRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type settings header through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/components/createSettingsHeaderRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/components/createSettingsHeaderRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type element-id runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dom/elementIdUtilsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type drag-drop runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/dragDropHandlerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type Open FIT path runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFitFileFromPathRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type tab-button helper through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/enableTabButtonsHelpersRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map document listeners through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/mapDocumentListenersRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type AltFit handoff through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/altFitSenderRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type quick color runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/quickColorSwitcherRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type network runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/net/networkUtilsRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type active-tab runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/tabs/updateActiveTabRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type performance runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/performance/performanceUtilsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type control-bar runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/unifiedControlBarRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type sanitizer runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/dom/sanitizeHtmlAllowlistRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file selector runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/openFileSelectorRuntime.ts
  electron-app/utils/runtime/browserRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type cancellation runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/async/cancellationTokenRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type loading runtime through browser adapters
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/loading/syncRendererLoadingRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
