Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

✨ [feat] Adds estimated power on maps
  CHANGELOG.md
  docs/DEVELOPMENT_GUIDE.md
  docs/MAP_THEME_TOGGLE.md
  docs/USER_GUIDE.md
  docusaurus/docs/visualization/maps.md
  electron-app/.stylelintignore
  electron-app/CHANGELOG.md
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/style.css
  electron-app/stylelint.config.js
  electron-app/tests/unit/state/domain/settingsStateManager.test.ts
  electron-app/utils.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/data/processing/estimateCyclingPower.js
  electron-app/utils/data/processing/powerEstimationSettings.js
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/ui/controls/createPowerEstimationButton.js
  electron-app/utils/ui/modals/openPowerEstimationSettingsModal.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🛠️ [fix] Improve map theming and UI polish
  docs/MAP_THEME_TOGGLE.md
  electron-app/style.css
  electron-app/stylelint.config.js
  electron-app/tests/strictTests/maps/core/renderMap.test.ts
  electron-app/tests/unit/theming/specific/updateMapTheme.test.ts
  electron-app/tests/unit/utils/data/processing/estimateCyclingPower.test.ts
  electron-app/tests/unit/utils/data/processing/powerEstimationSettings.test.ts
  electron-app/tests/unit/utils/formatTooltipData.comprehensive.test.ts
  electron-app/tests/unit/utils/ui/controls/createPowerEstimationButton.test.ts
  electron-app/tests/unit/utils/ui/modals/openPowerEstimationSettingsModal.test.ts
  electron-app/utils/maps/controls/mapLapSelector.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/rendering/core/renderTable.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/theming/core/accentColor.js
  electron-app/utils/theming/specific/createMapThemeToggle.js
  electron-app/utils/theming/specific/updateMapTheme.js
  electron-app/utils/ui/controls/createPowerEstimationButton.js
  electron-app/vitest.config.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enhance map measure and calendar UX
  docs/USER_GUIDE.md
  docusaurus/docs/visualization/maps.md
  electron-app/eslint.config.mjs
  electron-app/style.css
  electron-app/utils/dom/escapeHtml.js
  electron-app/utils/dom/index.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/maps/layers/mapIcons.js
  electron-app/utils/rendering/core/renderTable.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/modals/openPowerEstimationSettingsModal.js
  electron-app/vendor/leaflet-measure-lite.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🛠️ [fix] Improves CSP-safe exports and tables
  electron-app/index.html
  electron-app/preload.js
  electron-app/style.css
  electron-app/tests/strictTests/rendering/core/renderTable.test.ts
  electron-app/tests/strictTests/ui/controls/createInlineZoneColorSelector.test.ts
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/files/export/shareChartsAsURL.test.ts
  electron-app/tests/unit/utils/exportUtils.basic.test.ts
  electron-app/tests/unit/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/utils/formatChartFields.comprehensive.test.ts
  electron-app/tests/unit/utils/rendering/components/createTables.test.ts
  electron-app/tests/unit/utils/rendering/core/renderSummary.additional.test.ts
  electron-app/tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/files/export/copyTableAsCSV.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/formatting/display/formatChartFields.js
  electron-app/utils/maps/controls/mapLapSelector.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/maps/layers/mapIcons.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/components/createTables.js
  electron-app/utils/rendering/core/renderSummary.js
  electron-app/utils/rendering/core/renderTable.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/rendering/helpers/summaryColModal.js
  electron-app/utils/ui/controls/createDataPointFilterControl.js
  electron-app/vendor/leaflet-measure-lite.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Centralizes chart settings state
  docusaurus/src/pages/index.module.css
  docusaurus/src/pages/index.tsx
  electron-app/style.css
  electron-app/tests/strictTests/ensureChartSettingsDropdowns.test.ts
  electron-app/tests/unit/charts/core/chartStateManager.test.ts
  electron-app/tests/unit/utils/app/initialization/loadSharedConfiguration.test.ts
  electron-app/tests/unit/utils/charts/components/chartStatusIndicator.test.ts
  electron-app/tests/unit/utils/charts/core/chartSpecFactory.test.ts
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  electron-app/tests/unit/utils/ui/controls/createHRZoneControls.additional.test.ts
  electron-app/tests/unit/utils/ui/controls/createPowerZoneControlsSimple.test.ts
  electron-app/types/utils/charts/core/chartSpecFactory.d.ts
  electron-app/types/utils/state/domain/settingsStateManager.d.ts
  electron-app/utils/app/initialization/loadSharedConfiguration.js
  electron-app/utils/charts/components/chartStatusIndicator.js
  electron-app/utils/charts/core/chartSpecFactory.js
  electron-app/utils/charts/core/chartStateManager.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/ui/components/createSettingsHeader.js
  electron-app/utils/ui/controls/createHRZoneControls.js
  electron-app/utils/ui/controls/createPowerZoneControls.js
  electron-app/utils/ui/controls/createPowerZoneControlsSimple.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Moves chart settings to state
  electron-app/style.css
  electron-app/tests/unit/utils/charts/core/chartSpecFactory.test.ts
  electron-app/tests/unit/utils/getUnitSymbol.comprehensive.test.ts
  electron-app/types/utils/app/initialization/getCurrentSettings.d.ts
  electron-app/types/utils/charts/plugins/chartOptionsConfig.d.ts
  electron-app/types/utils/data/lookups/getUnitSymbol.d.ts
  electron-app/types/utils/data/zones/chartZoneColorUtils.d.ts
  electron-app/types/utils/state/domain/settingsStateManager.d.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/charts/components/chartStatusIndicator.js
  electron-app/utils/charts/core/chartSpecFactory.js
  electron-app/utils/charts/core/chartStateManager.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/plugins/chartOptionsConfig.js
  electron-app/utils/data/lookups/getUnitSymbol.js
  electron-app/utils/data/zones/chartZoneColorUtils.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/formatting/converters/convertValueToUserUnits.js
  electron-app/utils/formatting/display/formatTooltipWithUnits.js
  electron-app/utils/formatting/formatters/formatTime.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/ui/components/createSettingsHeader.js
  electron-app/utils/ui/controls/createInlineZoneColorSelector.js
  electron-app/utils/ui/controls/createPowerZoneControls.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🧪 [test] Aligns tests with settings state
  electron-app/package.json
  electron-app/tests/globalSetup.js
  electron-app/tests/strictTests/ensureChartSettingsDropdowns.test.ts
  electron-app/tests/strictTests/ui/controls/createInlineZoneColorSelector.test.ts
  electron-app/tests/strictTests/utils/formatting/formatters/formatTime.strict.test.ts
  electron-app/tests/unit/utils/charts/components/chartStatusIndicator.test.ts
  electron-app/tests/unit/utils/convertValueToUserUnits.comprehensive.test.ts
  electron-app/tests/unit/utils/converters.comprehensive.test.ts
  electron-app/tests/unit/utils/formatTime.comprehensive.test.ts
  electron-app/tests/unit/utils/formatTooltipWithUnits.comprehensive.test.ts
  electron-app/tests/unit/utils/getUnitSymbol.branches.test.ts
  electron-app/tests/unit/utils/getUnitSymbol.comprehensive.test.ts
  electron-app/tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
  electron-app/vitest.config.js
Due: electron_app

✨ [feat] Enhance high altitude power estimation and testing
  .vscode/tasks.json
  electron-app/.vscode/tasks.json
  electron-app/tests/strictTests/renderAltitudeProfileChart.test.ts
  electron-app/tests/unit/utils/data/processing/estimateCyclingPower.highAltitude.test.ts
  electron-app/utils/data/processing/estimateCyclingPower.js
  electron-app/utils/files/import/handleOpenFile.test.ts
Due: electron_app, üõ†Ô∏è Utilities

⚡ [perf] Improve chart render stability
  .github/agents/BeastMode.agent.md
  docusaurus/package-lock.json
  docusaurus/package.json
  electron-app/.vscode/tasks.json
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/tests/strictTests/rendering/core/showFitData.test.ts
  electron-app/tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  electron-app/tests/unit/utils/data/processing/estimateCyclingPower.highAltitude.test.ts
  electron-app/utils/charts/components/createEnhancedChart.js
  electron-app/utils/charts/core/chartStateManager.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/data/processing/setupZoneData.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üõ†Ô∏è Utilities

🔧 [build] Update macOS build configurations
  .github/workflows/Build.yml
Due: none

🔧 [build] Implement retry logic for macOS builds in CI workflow
  .github/workflows/Build.yml
Due: none

🔧 [build] Update dependencies in package.json
  .github/agents/BeastMode.agent.md
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

🔧 [build] Update dependencies in package.json and package-lock.json - 🔧 Upgrade "@easyops-cn/docusaurus-search-local" from "^0.52.2" to "^0.52.3" - 🔧 Upgrade "@types/node" from "^25.0.10" to "^25.1.0"
  docusaurus/package-lock.json
  docusaurus/package.json
Due: none

✨ [feat] Implement data point filter control and tab state management enhancements
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/style.css
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/core/stateManagerDefaults.js
  electron-app/utils/state/core/stateManagerHistory.js
  electron-app/utils/state/core/stateManagerPathUtils.js
  electron-app/utils/state/core/stateManagerReset.js
  electron-app/utils/state/domain/settingsStateCore.js
  electron-app/utils/state/domain/settingsStateHelpers.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/state/domain/settingsStateSchema.js
  electron-app/utils/ui/controls/createDataPointFilterControl.js
  electron-app/utils/ui/controls/dataPointFilterControl/panelController.js
  electron-app/utils/ui/controls/dataPointFilterControl/summaryRefresher.js
  electron-app/utils/ui/tabs/tabStateManager.js
  electron-app/utils/ui/tabs/tabStateManagerConfig.js
  electron-app/utils/ui/tabs/tabStateManagerHandlers.js
  electron-app/utils/ui/tabs/tabStateManagerSupport.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🔧 [build] Enhance linting setup and documentation
  docs/lint-notes.md
  docusaurus/package.json
  electron-app/eslint.config.mjs
  electron-app/index.html
  package.json
Due: electron_app, üñ•Ô∏è Renderer & UI

🔧 [build] Update BeastMode agent tools and configuration
  .github/agents/BeastMode.agent.md
Due: none

🔧 [build] Update Docusaurus ESLint plugin and configuration
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

🚜 [refactor] Centralizes UI DOM helpers
  .htmlhintrc
  electron-app/eslint.config.mjs
  electron-app/index.html
  electron-app/types/utils/charts/dom/chartDomUtils.d.ts
  electron-app/types/utils/charts/index.d.ts
  electron-app/types/utils/ui/dom/elementIdUtils.d.ts
  electron-app/types/utils/ui/tabs/index.d.ts
  electron-app/types/utils/ui/tabs/tabIdUtils.d.ts
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/charts/components/createGlobalChartStatusIndicatorFromCounts.js
  electron-app/utils/charts/core/chartStateManager.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/dom/chartDomUtils.js
  electron-app/utils/charts/index.js
  electron-app/utils/maps/controls/mapActionButtons.js
  electron-app/utils/rendering/helpers/updateControlsState.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/state/integration/rendererStateIntegration.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.js
  electron-app/utils/ui/controls/enableTabButtons.js
  electron-app/utils/ui/controls/enableTabButtonsDebug.js
  electron-app/utils/ui/controls/enableTabButtonsHelpers.js
  electron-app/utils/ui/dom/elementIdUtils.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
  electron-app/utils/ui/tabs/index.js
  electron-app/utils/ui/tabs/tabIdUtils.js
  electron-app/utils/ui/tabs/tabStateManager.js
  electron-app/utils/ui/tabs/tabStateManagerCharts.js
  electron-app/utils/ui/tabs/updateActiveTab.js
  electron-app/utils/ui/tabs/updateTabVisibility.js
  electron-app/vitest.config.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Modularize IPC listener setup and improve state management
  electron-app/eslint.config.mjs
  electron-app/index.html
  electron-app/main/ipc/registerDialogHandlers.js
  electron-app/main/menu/setupMenuAndEventHandlers.js
  electron-app/renderer.js
  electron-app/style.css
  electron-app/ui/modals/accentColorPicker.js
  electron-app/utils/app/initialization/updateSystemInfo.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/lifecycle/menuIpcListeners.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/theming/core/setupTheme.js
  electron-app/utils/ui/controls/enableTabButtons.js
  electron-app/utils/ui/modals/aboutModal.js
  electron-app/utils/ui/modals/injectModalStyles.js
  electron-app/utils/ui/settingsModal.js
  electron-app/utils/ui/tabs/updateTabVisibility.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enhance fullscreen functionality and chart hover effects
  .ncurc.json
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/style.css
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/plugins/chartLegendItemBoxPlugin.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/ui/controls/addFullScreenButton.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🎨 [style] Improve code formatting and documentation clarity
  electron-app/style.css
  electron-app/types/utils/charts/plugins/chartLegendItemBoxPlugin.d.ts
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/plugins/chartLegendItemBoxPlugin.js
  electron-app/utils/maps/controls/mapMeasureTool.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/ui/controls/addFullScreenButton.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enhance map rendering and UI icon integration
  electron-app/style.css
  electron-app/tests/strictTests/addChartHoverEffects.test.ts
  electron-app/utils/charts/components/createGlobalChartStatusIndicator.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/plugins/chartTitleOverlayUtils.js
  electron-app/utils/maps/controls/mapLapSelector.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/rendering/core/renderSummary.js
  electron-app/utils/rendering/core/renderTable.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/icons/iconFactory.js
  electron-app/utils/ui/tabs/updateTabVisibility.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

Update flatpak-build.yml
  .github/workflows/flatpak-build.yml
Due: none

[skip-ci] Enhance Dependabot configuration with multi-ecosystem support
  .github/dependabot.yml
Due: none

🧹 [chore] Clean up code structure and remove unused imports
  .github/workflows/docusaurus.yml
  .github/workflows/sitemap.yml
  CNAME
  README.md
  docs/README.md
  docusaurus/CHECKLIST.md
  docusaurus/README.md
  docusaurus/SETUP.md
  docusaurus/docusaurus.config.ts
  electron-app/.npmpackagejsonlintrc.json
  electron-app/index.html
  electron-app/package.json
  sitemap.xml
Due: electron_app, üñ•Ô∏è Renderer & UI

🔧 [build] Update package.json and configuration files
  .github/workflows/summary.yml
  .gitignore
  .prettierrc
  .prettierrc.json
  .remarkignore
  .remarkrc.mjs
  .secretlintrc.cjs
  .vscode/settings.json
  agents.md
  electron-app/.prettierignore
  electron-app/.prettierrc
  electron-app/.remarkignore
  electron-app/.remarkrc.mjs
  electron-app/.secretlintrc.cjs
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/prettier.config.mjs
  electron-app/stylelint.config.js
  electron-app/stylelint.config.mjs
  electron-app/tsconfig.build.json
  electron-app/tsconfig.eslint.json
  electron-app/tsconfig.js.json
  electron-app/tsconfig.vitest-typecheck.json
  electron-app/tsconfig.vitest.json
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
  stylelint.config.js
  stylelint.config.mjs
Due: electron_app

🧹 [chore] Remove obsolete GitHub Actions workflows
  .github/workflows/ActionLint.yml
  .github/workflows/Build.yml
  .github/workflows/devskim.yml
  .github/workflows/electronegativity.yml
  .github/workflows/eslint.yml
  .github/workflows/git-sizer-dispatch.yml
  .github/workflows/git-sizer.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/mega-linter.yml
  .github/workflows/npm-audit.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/prettier.yml
  .github/workflows/print-release-asset-sizes.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/release-stats.yml
  .github/workflows/scorecards.yml
  .github/workflows/security-devops.yml
  .github/workflows/sitemap.yml
  .github/workflows/spelling_action.yml
  .github/workflows/stylelint.yml
  .github/workflows/superlinter.yml
  .github/workflows/typos.yml
  .github/workflows/vitest.yml
  .github/workflows/vscode-version.yml
  agents.md
Due: none

📝 [docs] Add contributor and migration guidance
  agents.md
  filefileviewer-ts-migration-plan-v2.md
Due: none

🔧 [build] Add strict runtime TypeScript migration foundation
  electron-app/eslint.config.mjs
  electron-app/fitParser.js
  electron-app/fitsdk.d.ts
  electron-app/global.d.ts
  electron-app/package.json
  electron-app/shared/fit.ts
  electron-app/shared/ipc.ts
  electron-app/tsconfig.json
  electron-app/tsconfig.runtime.json
Due: electron_app, üìä FIT Parsing

🧬 [types] Migrate config and ANT lookup utilities
  electron-app/tests/unit/utils/config.comprehensive.test.ts
  electron-app/utils/config/constants.ts
  electron-app/utils/config/index.ts
  electron-app/utils/data/lookups/dataAntManufacturerIDs.ts
  electron-app/utils/data/lookups/dataAntProductIds.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate state core utilities
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.js
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/core/stateManagerHistory.js
  electron-app/utils/state/core/stateManagerHistory.ts
  electron-app/utils/state/core/stateManagerPathUtils.ts
  electron-app/utils/state/core/stateManagerReset.ts
  electron-app/utils/state/domain/settingsStateSchema.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate formatting utilities
  electron-app/utils/formatting/converters/convertArrayBufferToBase64.ts
  electron-app/utils/formatting/converters/convertDistanceUnits.ts
  electron-app/utils/formatting/converters/convertMpsToKmh.ts
  electron-app/utils/formatting/converters/convertMpsToMph.ts
  electron-app/utils/formatting/converters/convertTemperatureUnits.ts
  electron-app/utils/formatting/converters/convertTimeUnits.ts
  electron-app/utils/formatting/display/formatAntNames.ts
  electron-app/utils/formatting/display/formatCapitalize.ts
  electron-app/utils/formatting/display/formatChartFields.ts
  electron-app/utils/formatting/display/formatSpeedTooltip.ts
  electron-app/utils/formatting/formatters/formatDistance.ts
  electron-app/utils/formatting/formatters/formatDuration.ts
  electron-app/utils/formatting/formatters/formatHeight.ts
  electron-app/utils/formatting/formatters/formatManufacturer.ts
  electron-app/utils/formatting/formatters/formatProduct.ts
  electron-app/utils/formatting/formatters/formatSensorName.ts
  electron-app/utils/formatting/formatters/formatUtils.ts
  electron-app/utils/formatting/formatters/formatWeight.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate logging and error utilities
  electron-app/tests/unit/utils/errorHandling.test.ts
  electron-app/types/utils/errors/errorHandling.d.ts
  electron-app/utils/errors/errorHandling.ts
  electron-app/utils/errors/index.ts
  electron-app/utils/logging/getErrorInfo.js
  electron-app/utils/logging/getErrorInfo.ts
  electron-app/utils/logging/index.ts
  electron-app/utils/logging/logWithLevel.ts
  electron-app/utils/logging/rendererLogger.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate DOM and filename safety utilities
  electron-app/tests/strictTests/ensureChartSettingsDropdowns.test.ts
  electron-app/tests/unit/utils/domSecurityHelpers.test.ts
  electron-app/tests/unit/utils/sanitizeFilename.test.ts
  electron-app/tests/unit/utils/sanitizeHtmlAllowlist.test.ts
  electron-app/utils/dom/domHelpers.ts
  electron-app/utils/dom/escapeHtml.ts
  electron-app/utils/dom/sanitizeCssColorToken.ts
  electron-app/utils/dom/sanitizeHtmlAllowlist.ts
  electron-app/utils/files/sanitizeFilename.test.ts
  electron-app/utils/files/sanitizeFilename.ts
  electron-app/utils/ui/components/createSettingsHeader.js
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate async and network utilities
  electron-app/tests/unit/utils/asyncNetworkUtils.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/async/pLimitCompat.js
  electron-app/utils/async/pLimitCompat.ts
  electron-app/utils/net/networkUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🧬 [types] Migrate storage utilities
  electron-app/tests/unit/utils/storageUtils.test.ts
  electron-app/tsconfig.runtime.json
  electron-app/utils/storage/storageUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
