Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🧪 [test] Tighten chart zoom canvas fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/plugins/chartZoomResetPlugin.test.ts
Due: none

🧪 [test] Tighten chart status browser fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/components/chartStatusIndicator.test.ts
Due: none

🧪 [test] Tighten additional theme fixture restore
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/theme.additional.test.ts
Due: none

🧪 [test] Tighten OAuth crypto fixture restore
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.oauthState.test.ts
Due: none

🧪 [test] Tighten renderChartJS browser fixture restore
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
Due: none

🧪 [test] Tighten state integration fixture restores
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/stateIntegration.comprehensive.test.ts
  tests/unit/utils/state/integration/stateIntegration.simple.test.ts
Due: none

🧪 [test] Tighten master state fixture restores
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
Due: none

🧪 [test] Tighten data-point filter fixture restores
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
Due: none

🧪 [test] Tighten data-point filter runtime scope
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createDataPointFilterControlRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createDataPointFilterControlRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard Leaflet.draw wrapper status
  docs/DEPRECATION_LEDGER.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  goal-plan.md
  tests/unit/packaging/vendorMeasureAssetPolicy.test.ts
Due: none

🧪 [test] Tighten process nextTick setup guard
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/setupVitest.mjs
Due: none

🧪 [test] Tighten state middleware storage fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/stateMiddleware.branches.test.ts
Due: none

🧪 [test] Tighten map draw laps window fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Tighten error handling telemetry fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandling.test.ts
Due: none

🚜 [refactor] Remove ambient error telemetry fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandling.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandling.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope active-tab document resolution
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/updateActiveTab.ts
  electron-app/utils/ui/tabs/updateActiveTabRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/updateActiveTabRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope tab-state document resolution
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabDocumentRuntime.ts
  electron-app/utils/ui/tabs/tabStateManagerDoc.ts
  electron-app/utils/ui/tabs/tabStateManagerSupport.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabDocumentRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope state devtools runtime detection
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/debug/stateDevTools.ts
  electron-app/utils/debug/stateDevToolsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/stateDevToolsRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope master state runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/core/masterStateRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/masterStateRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope resource manager unload runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/resourceManager.ts
  electron-app/utils/app/lifecycle/resourceManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/resourceManagerRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope recent-files menu viewport access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenuRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/recentFilesContextMenuRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer debug runtime checks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/plugins/chartBackgroundColorPlugin.ts
  electron-app/utils/charts/plugins/chartZoomResetPlugin.ts
  electron-app/utils/debug/lastAnimLog.ts
  electron-app/utils/debug/rendererDebugRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/rendererDebugRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope state defaults runtime access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/core/stateManagerDefaultsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/stateManagerDefaultsRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope main state duration clock
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateManager.ts
  electron-app/utils/state/integration/mainProcessStateRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/mainProcessStateRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope render-summary scheduling runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryHelpers.ts
  electron-app/utils/rendering/helpers/renderSummaryRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/rendering/helpers/renderSummaryRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope settings modal timing runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  electron-app/utils/ui/settingsModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/settingsModalRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope keyboard shortcuts modal runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  electron-app/utils/ui/modals/keyboardShortcutsModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModalRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope about modal timing runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/aboutModal.ts
  electron-app/utils/ui/modals/aboutModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/modals/aboutModal.test.ts
  tests/unit/utils/ui/modals/aboutModalRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer notification timing runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showNotification.ts
  electron-app/utils/ui/notifications/showNotificationRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/showNotificationRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Clean runtime facade lint
  electron-app/utils/app/lifecycle/resourceManagerRuntime.ts
  electron-app/utils/rendering/helpers/renderSummaryRuntime.ts
  electron-app/utils/state/core/masterStateRuntime.ts
  electron-app/utils/ui/modals/aboutModalRuntime.ts
  electron-app/utils/ui/modals/keyboardShortcutsModalRuntime.ts
  electron-app/utils/ui/settingsModalRuntime.ts
  electron-app/utils/ui/tabs/tabDocumentRuntime.ts
  electron-app/utils/ui/tabs/updateActiveTabRuntime.ts
  goal-plan.md
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope notification timer runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/notificationTimerRuntime.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  electron-app/utils/ui/notifications/syncRendererNotifications.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/notifications/notificationTimerRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope drag-drop animation runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/dragDropHandlerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/dragDropHandlerRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope tab map invalidation runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlersRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/tabs/tabStateManagerHandlersRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer startup timer runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/applicationStartupRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
  tests/unit/renderer/applicationStartupRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Scope vendor loader runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/renderer/vendorBundleLoaderRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/vendorBundleLoaderRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Scope network utility runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/net/networkUtils.ts
  electron-app/utils/net/networkUtilsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/networkUtilsRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope state devtools interval runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/debug/stateDevTools.ts
  electron-app/utils/debug/stateDevToolsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/stateDevToolsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope renderer debug metadata runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/developmentDebugTools.ts
  electron-app/renderer/developmentDebugToolsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugToolsRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Scope overlay load concurrency runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadOverlayFiles.ts
  electron-app/utils/files/import/loadOverlayFilesRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadOverlayFiles.test.ts
  tests/unit/utils/files/import/loadOverlayFilesRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Scope CSV clipboard runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  electron-app/utils/files/export/copyTableAsCSVRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/copyTableAsCSVRuntime.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities
