Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🧪 [test] Remove tab-button window fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/enableTabButtons.behavior.test.ts
Due: none

🧪 [test] Remove active-tab window fallback fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/updateActiveTab.fallbacks.test.ts
Due: none

🧪 [test] Remove chart-status window fixture
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/components/chartStatusIndicator.test.ts
Due: none

🧪 [test] Remove export utility window fixtures
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.test.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/exportUtils.chartExport.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Remove Vitest global window console patch
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/vitest/globalSetup.mjs
Due: none

🧪 [test] Remove handle-open-file window fixture
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.test.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

👷 [ci] Document dependency validation release gate
  docs/DEVELOPMENT_GUIDE.md
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
Due: none

🚜 [refactor] Split preload loader contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadApiAssemblyModuleLoader.ts
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadFileModuleLoader.ts
  electron-app/preload/preloadIpcModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadPolicyModuleLoader.ts
  electron-app/preload/preloadStateModuleLoader.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow preload assembly context modules
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssemblyContext.ts
  electron-app/preload/preloadModuleTypes.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow preload assembly input modules
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssembly.ts
  electron-app/preload/preloadModuleTypes.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Split Electron API domain options
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiAppInfoDomain.ts
  electron-app/preload/electronApiClipboardDomain.ts
  electron-app/preload/electronApiDeveloperDomain.ts
  electron-app/preload/electronApiDiagnosticsDomain.ts
  electron-app/preload/electronApiDialogDomain.ts
  electron-app/preload/electronApiExternalDomain.ts
  electron-app/preload/electronApiFileDomain.ts
  electron-app/preload/electronApiMenuDomain.ts
  electron-app/preload/electronApiStateDomain.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow preload app theme contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/appInfoApi.ts
  electron-app/preload/themeApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow main UI Electron API contract
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiElectronApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow file browser preload contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadModuleTypes.ts
  electron-app/utils/files/import/openFileSelector.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow Fit Browser gate preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer menu command contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow shell and clipboard bridge contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/copyTableAsCSV.ts
  electron-app/utils/ui/links/externalLinkHandlers.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer FIT decode bridge contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/mainUiDomUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow FIT data preload event contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/core/showFitData.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow settings modal menu bridge contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModal.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow setup theme bridge contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/setupTheme.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow core theme menu bridge contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer state preload event contract
  docs/DEPRECATION_LEDGER.md
  electron-app/shared/preloadApi.ts
  electron-app/utils/state/integration/rendererStateIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow recent-files menu preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow version info preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow menu IPC preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow main-state preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/mainProcessStateClient.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow handle-open preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow export utility preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow lifecycle listener preload contract
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard full preload contract imports
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Retire elevation palette global fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/browserRuntime.ts
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
  tests/unit/utils/ui/controls/createElevationProfileButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow renderer environment input access
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  electron-app/utils/runtime/browserRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/runtime/browserRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow preload environment policy access
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/environment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.environment.test.ts
Due: electron_app

🚜 [refactor] Narrow preload logger method dispatch
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/logger.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.logger.test.ts
Due: electron_app

🚜 [refactor] Track preload before-exit wrappers locally
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/beforeExitHandler.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.beforeExitHandler.test.ts
Due: electron_app

🚜 [refactor] Narrow file browser method guards
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow menu IPC method guards
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow version info method guards
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/loadVersionInfo.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow main UI API candidate guards
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiElectronApi.ts
  goal-plan.md
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app
