Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Route UI-state unload lookup through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/state/domain/uiStateManager.test.ts
  tests/unit/utils/state/domain/uiStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI-state active file display through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/uiStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI-state tab lookups through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/uiStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI-state measurement listener through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI-state theme lookups through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManager.ts
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/domain/uiStateManagerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Require providers for renderer runtime environment
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Bind notification frame providers
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/notifications/showNotificationRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/notifications/showNotificationRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Bind theme media provider
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split preload external API shaper
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiDomains.ts
  electron-app/preload/electronApiExternalDomain.ts
  electron-app/preload/electronApiFactory.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Split preload state API shaper
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiDomains.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronApiStateDomain.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Split exposed preload API domains
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiAppInfoDomain.ts
  electron-app/preload/electronApiClipboardDomain.ts
  electron-app/preload/electronApiDeveloperDomain.ts
  electron-app/preload/electronApiDiagnosticsDomain.ts
  electron-app/preload/electronApiDomains.ts
  electron-app/preload/electronApiExternalDomain.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronApiFactoryOptions.ts
  electron-app/preload/electronApiFileDomain.ts
  electron-app/preload/electronApiMenuDomain.ts
  electron-app/preload/electronApiStateDomain.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Scope renderer Electron API capture
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Remove ambient Electron API fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/runtime/electronApiRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
  tests/unit/utils/runtime/electronApiRuntime.test.ts
  tests/unit/utils/ui/mainUiDomUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Narrow startup Electron API scope
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiStartupHooks.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
Due: electron_app

🚜 [refactor] Remove ambient master dev flag
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart updates through registry
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartStateManagerRegistry.ts
  electron-app/utils/charts/core/chartUpdater.ts
  electron-app/utils/charts/theming/chartThemeListener.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartUpdater.test.ts
  tests/unit/utils/charts/theming/chartThemeListener.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route zone color renders through registry
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route field toggles through chart state registry
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/createFieldTogglesSection.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ensureChartSettingsDropdowns.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route inline zone colors through chart state registry
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/controls/createInlineZoneColorSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route app chart lifecycle through registry
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/app/initialization/loadSharedConfiguration.ts
  electron-app/utils/app/initialization/setupWindow.ts
  electron-app/utils/charts/core/chartStateManagerRegistry.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/app/initialization/getCurrentSettings.test.ts
  tests/unit/strictTests/app/initialization/loadSharedConfiguration.test.ts
  tests/unit/strictTests/app/initialization/setupWindow.test.ts
  tests/unit/utils/app/initialization/loadSharedConfiguration.test.ts
  tests/unit/utils/app/initialization/setupWindow.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Bootstrap chart state outside tab integration
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/chartStateManagerBootstrap.ts
  electron-app/utils/charts/core/chartStateManagerRegistry.ts
  electron-app/utils/charts/core/chartTabIntegration.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/core/chartTabIntegration.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route map draw-lap info DOM through runtime
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/layers/mapDrawLapsRuntime.ts
  tests/unit/maps/layers/mapDrawLapsRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route lifecycle downloads through runtime
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/listenersRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route icon factory DOM creation through runtime
  electron-app/utils/ui/icons/iconFactory.ts
  electron-app/utils/ui/icons/iconFactoryRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/icons/iconFactoryRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route fullscreen icon SVG creation through runtime
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart hover SVG creation through runtime
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/plugins/addChartHoverEffectsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/addChartHoverEffectsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route keyboard modal SVG creation through runtime
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  electron-app/utils/ui/modals/keyboardShortcutsModalRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModalRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard SVG creation runtime boundary
  docs/DEPRECATION_LEDGER.md
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Route map export SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/createExportGPXButtonRuntime.ts
  electron-app/utils/files/export/createPrintButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route UI control SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/components/LoadingOverlayRuntime.ts
  electron-app/utils/ui/controls/createAddFitFileToMapButtonRuntime.ts
  electron-app/utils/ui/controls/createMarkerCountSelectorRuntime.ts
  electron-app/utils/ui/controls/dataPointFilterControl/elementFactoryRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route more UI SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/helpers/renderSummaryRuntime.ts
  electron-app/utils/theming/specific/mapThemeToggleRuntime.ts
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route map control SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapFullscreenControlRuntime.ts
  electron-app/utils/maps/controls/mapMeasureToolRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route fullscreen SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addExitFullscreenOverlayRuntime.ts
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route settings modal SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/settingsModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route modal SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/aboutModalRuntime.ts
  electron-app/utils/ui/modals/keyboardShortcutsModalRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route chart hover SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/plugins/addChartHoverEffectsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route quick color SVG creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/quickColorSwitcher.ts
  electron-app/utils/ui/quickColorSwitcherRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/quickColorSwitcherRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route accent picker open access through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/ui/modals/accentColorPicker.ts
  electron-app/ui/modals/accentColorPickerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/modals/accentColorPickerRuntime.test.ts
Due: electron_app

🚜 [refactor] Route accent picker preview access through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/ui/modals/accentColorPicker.ts
  electron-app/ui/modals/accentColorPickerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/modals/accentColorPickerRuntime.test.ts
Due: electron_app

🚜 [refactor] Route accent picker element creation through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/ui/modals/accentColorPicker.ts
  electron-app/ui/modals/accentColorPickerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/modals/accentColorPickerRuntime.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
