Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

build [deps] Use shared depend plugin
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

docs [cleanup] Remove duplicate state guide
  docs/2-STATE_MANAGEMENT_COMPLETE_GUIDE.md
Due: none

test [vitest] Add UI runner script
  package.json
Due: none

docs [cleanup] Remove empty migration placeholders
  docs/APPLICATION_OVERVIEW.md
  electron-app/utils/MIGRATION_PROGRESS.md
  electron-app/utils/REORGANIZATION_COMPLETE.md
Due: electron_app, üõ†Ô∏è Utilities

docs [cleanup] Move state client guide to docs
  docs/APPLICATION_OVERVIEW.md
  docs/MAIN_PROCESS_STATE_CLIENT_USAGE.md
Due: none

test [packaging] Guard app markdown surface
  electron-app/tests/unit/packaging/electronBuilderFiles.test.ts
Due: electron_app

docs [debug] Align Electron attach workflow
  docs/DEVELOPMENT_GUIDE.md
Due: none

test [lifecycle] Tighten context menu assertions
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
Due: electron_app

docs [layout] Align workspace package ownership
  docs/APPLICATION_LAYOUT.md
Due: none

test [tabs] Tighten duplicate handler assertion
  electron-app/tests/unit/utils/tabStateManager.focused.test.ts
  tsconfig.electron-app.eslint.json
  tsconfig.vitest-typecheck.json
Due: electron_app

test [charts] Tighten speed tooltip assertions
  docs/APPLICATION_LAYOUT.md
  docusaurus/docs/development/testing.md
  electron-app/tests/strictTests/renderSpeedVsDistanceChart.test.ts
Due: electron_app

docs [readme] Align workflow badges
  README.md
Due: none

wrench [tooling] Forward prettier path arguments
  scripts/run-prettier.mjs
Due: none

chore [cleanup] Drop stale app scratch ignores
  .gitignore
Due: none

docs [tooling] Clarify root lint and prettier commands
  docs/lint-notes.md
Due: none

test [startup] Assert main UI cleanup behavior
  electron-app/tests/main-ui.startup.test.ts
Due: electron_app

chore [cleanup] Remove orphan linter configs
  .djlintrc
  .hintrc
  .htmlhintrc
  .mega-linter.yml
Due: none

chore [cleanup] Remove unused scanner configs
  .checkov.yml
  .devskim.json
  .jscpd.json
  ActionLintConfig.yaml
  kics.yaml
  lychee.toml
  scripts/run-prettier.mjs
Due: none

test [playwright] Tighten map runtime assertions
  tests/playwright/app-ui.spec.ts
Due: none

chore [cleanup] Remove orphan VS Code extension config
  .vscode-test.mjs
  .vscodeignore
  eslint.config.mjs
  scripts/run-prettier.mjs
Due: none

chore [cleanup] Clean Flatpak build outputs
  scripts/clean-workspace.mjs
Due: none

wrench [tooling] Consolidate release cleanup script
  .github/CleanReleases.ps1
  .github/workflows/cleanReleases.yml
  scripts/clean-releases.mjs
Due: none

chore [cleanup] Remove orphan root config files
  .ignoresecrets
  .lycheeignore
  config.toml
Due: none

test [tooling] Cover release cleanup planning
  electron-app/tests/unit/packaging/cleanReleases.test.ts
  scripts/clean-releases.mjs
Due: electron_app

test [tooling] Cover workspace cleanup script
  electron-app/tests/unit/packaging/cleanWorkspace.test.ts
  scripts/clean-workspace.mjs
Due: electron_app

wrench [release] Move version bump into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/bumpAppVersion.test.ts
  package.json
  scripts/bump-app-version.mjs
Due: electron_app

wrench [release] Move version publishing into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/publishAppVersion.test.ts
  package.json
  scripts/publish-app-version.mjs
Due: electron_app

wrench [release] Centralize distributable hash logging
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/printDistributableHashes.test.ts
  package.json
  scripts/print-distributable-hashes.mjs
Due: electron_app

wrench [release] Move release notes into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/generateReleaseNotes.test.ts
  package.json
  scripts/generate-release-notes.mjs
Due: electron_app

wrench [release] Centralize Windows latest yml renames
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/renameWindowsLatestYml.test.ts
  package.json
  scripts/rename-windows-latest-yml.mjs
Due: electron_app

wrench [release] Move distributable organization into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/organizeDistributables.test.ts
  package.json
  scripts/organize-distributables.mjs
Due: electron_app

wrench [release] Move latest yml hash fix into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/fixLatestYmlSha512.test.ts
  package.json
  scripts/fix-latest-yml-sha512.mjs
Due: electron_app

wrench [release] Move Squirrel win32 rename into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/renameSquirrelWin32ReleaseAssets.test.ts
  package.json
  scripts/rename-squirrel-win32-release-assets.mjs
Due: electron_app

wrench [release] Move release-dist listing into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/listReleaseDistFiles.test.ts
  package.json
  scripts/list-release-dist-files.mjs
Due: electron_app

wrench [tsconfig] Share Electron app compiler defaults
  tsconfig.electron-app.base.json
  tsconfig.electron-app.json
  tsconfig.runtime.json
Due: none

wrench [build] Move CI matrix build logic into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/buildCiMatrix.test.ts
  package.json
  scripts/build-ci-matrix.mjs
Due: electron_app

wrench [release] Move electron app diff debug into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/printElectronAppDiff.test.ts
  package.json
  scripts/print-electron-app-diff.mjs
Due: electron_app

wrench [build] Move build matrix summary into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/updateBuildMatrixSummary.test.ts
  package.json
  scripts/update-build-matrix-summary.mjs
Due: electron_app

wrench [release] Move release summary into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/updateReleaseJobSummary.test.ts
  package.json
  scripts/update-release-job-summary.mjs
Due: electron_app

wrench [changelog] Move changelog summary into root script
  .github/workflows/Build.yml
  electron-app/tests/unit/packaging/updateChangelogJobSummary.test.ts
  package.json
  scripts/update-changelog-job-summary.mjs
Due: electron_app
