Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

♻️ [refactor] Scope overlay file reader runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/files/import/loadSingleOverlayFileRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFile.fallbacks.test.ts
  tests/unit/utils/files/import/loadSingleOverlayFileRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope drag-drop file reader runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/dragDropHandlerRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
  tests/unit/utils/ui/dragDropHandlerRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope lifecycle body class updates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/listenersRuntime.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/listenersRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope shown-files theme detection
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createShownFilesList.ts
  electron-app/utils/rendering/components/shownFilesListRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/shownFilesListRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope chart-hover body updates
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/plugins/addChartHoverEffects.ts
  electron-app/utils/charts/plugins/addChartHoverEffectsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/addChartHoverEffectsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope shown-files DOM runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createShownFilesList.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope fullscreen button DOM runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope core theme body runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/themeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope keyboard modal DOM runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/modals/keyboardShortcutsModal.ts
  electron-app/utils/ui/modals/keyboardShortcutsModalRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModal.test.ts
  tests/unit/utils/ui/modals/keyboardShortcutsModalRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope export download body appends
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  electron-app/utils/files/export/exportUtilsRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtilsRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope export modal body appends
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope core theme body reads
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/core/theme.ts
  electron-app/utils/theming/core/themeRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/themeRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope fullscreen body observation
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/controls/addFullScreenButtonRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButtonRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope render-map body fallback
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/core/renderMapRuntime.ts
  tests/unit/maps/core/renderMapRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

♻️ [refactor] Scope renderer runtime function types
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/applicationLifecycleWiring.ts
  electron-app/renderer/applicationStartup.ts
  electron-app/renderer/lifecycleCleanup.ts
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

♻️ [refactor] Remove OAuth callback close script
  docs/DEPRECATION_LEDGER.md
  electron-app/main/oauth/gyazoOAuthServer.ts
  tests/unit/main/oauth/gyazoOAuthServer.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

♻️ [refactor] Require explicit renderer runtime scopes
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/mainUiBrowserRuntime.ts
  electron-app/renderer/mainUiExternalLinks.ts
  electron-app/renderer/mainUiRuntimeEnvironment.ts
  electron-app/renderer/mainUiStartup.ts
  electron-app/renderer/mainUiUnloadFlow.ts
  electron-app/renderer/rendererBrowserRuntime.ts
  electron-app/renderer/runtimeEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/mainUiRuntimeEnvironment.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

♻️ [refactor] Move state root behind store
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/core/stateManagerDefaults.ts
  electron-app/utils/state/core/stateManagerReset.ts
  electron-app/utils/state/core/stateManagerStore.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/core/stateManagerStore.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🔒 [refactor] Harden preload update event contract
  electron-app/preload/preloadEventApi.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/shared/preloadApi.ts
  tests/unit/preload.preloadEventApi.test.ts
Due: electron_app

♻️ [refactor] Inject main UI runtime dependencies
  electron-app/renderer/mainUiExternalLinks.ts
  electron-app/renderer/mainUiStartup.ts
  electron-app/renderer/mainUiUnloadFlow.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

♻️ [refactor] Defer main UI runtime resolution
  electron-app/renderer/mainUiStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Inject renderer startup runtime
  electron-app/renderer/applicationStartup.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/applicationStartup.test.ts
Due: electron_app

🚜 [refactor] Inject vendor loader runtime
  electron-app/renderer/vendorBundleLoader.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
Due: electron_app

🚜 [refactor] Inject vendor shared runtime
  electron-app/renderer/rendererVendorShared.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorShared.test.ts
Due: electron_app

🚜 [refactor] Inject development debug runtime
  electron-app/renderer/developmentDebugTools.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/developmentDebugTools.test.ts
Due: electron_app

🚜 [refactor] Inject vendor map runtime
  electron-app/renderer/rendererVendorMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🧪 [test] Guard renderer runtime singleton cleanup
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🧪 [test] Guard dependency and smoke coverage gates
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Inject animation debug logger runtime
  electron-app/utils/debug/lastAnimLog.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/debug/lastAnimLog.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject chart background debug runtime
  electron-app/utils/charts/plugins/chartBackgroundColorPlugin.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/plugins/chartBackgroundColorPlugin.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject chart zoom reset debug runtime
  electron-app/utils/charts/plugins/chartZoomResetPlugin.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/plugins/chartZoomResetPlugin.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject element-id utility runtime
  electron-app/utils/ui/dom/elementIdUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/elementIdUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject storage utility runtime
  electron-app/utils/storage/storageUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/storageUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject cancellation timer runtime
  electron-app/utils/app/async/cancellationToken.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/async/cancellationToken.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject network utility runtime
  electron-app/utils/net/networkUtils.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/asyncNetworkUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject icon factory runtime
  electron-app/utils/ui/icons/iconFactory.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/iconFactory.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject sanitizer allowlist runtime
  electron-app/utils/dom/sanitizeHtmlAllowlist.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/dom/sanitizeHtmlAllowlist.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject map theme toggle state runtime
  electron-app/utils/theming/specific/mapThemeToggleState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/specific/mapThemeToggleState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject map theme toggle runtime
  electron-app/utils/theming/specific/createMapThemeToggle.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/theming/specific/createMapThemeToggle.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Inject chart canvas runtime
  electron-app/utils/charts/components/createChartCanvas.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/charts/components/createChartCanvas.test.ts
Due: electron_app, üõ†Ô∏è Utilities
