Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Read map lap data from managed state
  electron-app/utils/maps/layers/mapDrawLaps.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Read map core data from managed state
  electron-app/utils/maps/core/renderMap.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard global data reader boundary
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Split preload module loading
  docs/DEPRECATION_LEDGER.md
  electron-app/preload.ts
  electron-app/preload/preloadModuleLoader.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Split preload API assembly
  docs/DEPRECATION_LEDGER.md
  electron-app/preload.ts
  electron-app/preload/electronApiFactory.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Move preload module typing
  docs/DEPRECATION_LEDGER.md
  electron-app/preload.ts
  electron-app/preload/preloadModuleLoader.ts
  electron-app/preload/preloadModuleTypes.d.ts
Due: electron_app

🧪 [test] Capture dependency validation diagnostics
  .github/workflows/dependency-validation.yml
  tests/unit/packaging/dependencyValidationWorkflow.test.ts
Due: none

🚜 [refactor] Keep preload module types in source
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadModuleTypes.ts
  tsconfig.runtime.json
Due: electron_app

👷 [ci] Surface signing verification status
  .github/workflows/Build.yml
  scripts/update-build-matrix-summary.mjs
  tests/unit/packaging/updateBuildMatrixSummary.test.ts
  tests/unit/packaging/workspacePackageBoundaries.test.ts
Due: none

🚜 [refactor] Prefer fit file raw data selectors
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/utils/state/domain/fitFileState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

📝 [docs] Refresh renderer migration guidance
  docs/APPLICATION_LAYOUT.md
  docs/APPLICATION_OVERVIEW.md
  docs/DEPRECATION_LEDGER.md
  docs/DEVELOPMENT_GUIDE.md
  docs/PERFORMANCE_BASELINES.md
  docs/RENDERER_DEPENDENCY_INVENTORY.md
  docs/STATE_MANAGEMENT_COMPLETE_GUIDE.md
Due: none

🚜 [refactor] Remove AltFit legacy global handoff
  docs/DEPRECATION_LEDGER.md
  electron-app/main-ui.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
  electron-app/utils/files/import/handleOpenFile.test.ts
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/files/import/sendFitFileToAltFitReader.ts
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/mainUiGlobals.ts
  tests/unit/main-ui.startup.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
  tests/unit/utils/files/import/sendFitFileToAltFitReader.test.ts
  tests/unit/utils/ui/mainUiGlobals.test.ts
  tsconfig.runtime.json
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove chart render global fallbacks
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/chartSettingsRender.ts
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/listenersResize.ts
  electron-app/utils/charts/core/chartUpdater.ts
  electron-app/utils/ui/controls/createInlineZoneColorSelector.ts
  electron-app/utils/ui/modals/openZoneColorPicker.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/charts/core/chartUpdater.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] Format renderer bridge tests
  tests/unit/strictTests/ui/main-ui.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/files/import/sendFitFileToAltFitReader.test.ts
Due: none

🧹 [chore] Remove empty main UI test global type
  tests/unit/strictTests/ui/main-ui.test.ts
Due: none

🚜 [refactor] Move overlay highlight state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove shown files list global updater
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createShownFilesList.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove chart updater globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/app/lifecycle/listenersResize.ts
  electron-app/utils/charts/core/chartUpdater.ts
  electron-app/utils/charts/theming/chartThemeListener.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/app/lifecycle/listenersResize.test.ts
  tests/unit/utils/charts/theming/chartThemeListener.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map marker count off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/state/mapMarkerCountState.ts
  electron-app/utils/ui/controls/createMarkerCountSelector.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/maps/state/mapMarkerCountState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/controls/markerCountSelector.test.ts
  tests/unit/utils/ui/controls/createMarkerCountSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map action timers off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map measure control off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/state/mapMeasureControlState.ts
  electron-app/utils/rendering/components/createShownFilesList.ts
  tests/unit/maps/state/mapMeasureControlState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move Leaflet map instance off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/state/mapLeafletInstanceState.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  electron-app/utils/ui/tabs/tabStateManagerHandlers.ts
  electron-app/utils/ui/tabs/updateTabVisibility.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/maps/state/mapLeafletInstanceState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
  tests/unit/utils/updateTabVisibility.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map polyline registry off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/state/mapPolylineRegistryState.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/maps/state/mapPolylineRegistryState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/strictTests/maps/controls/mapActionButtons.test.ts
  tests/unit/strictTests/maps/core/renderMap.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map activity layer state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/state/mapActivityLayerState.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/maps/state/mapActivityLayerState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map data point filter state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/state/mapDataPointFilterState.ts
  electron-app/utils/ui/controls/createDataPointFilterControl.ts
  electron-app/utils/ui/controls/dataPointFilterControl/stateHelpers.ts
  electron-app/utils/ui/controls/dataPointFilterControl/summaryRefresher.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/maps/state/mapDataPointFilterState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/createDataPointFilterControl.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/stateHelpers.test.ts
  tests/unit/utils/ui/controls/dataPointFilterControl/summaryRefresher.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move active map file index off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/layers/mapDrawLaps.ts
  electron-app/utils/maps/state/mapActiveMainFileState.ts
  tests/unit/maps/layers/mapDrawLaps.test.ts
  tests/unit/maps/state/mapActiveMainFileState.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move add FIT overlay button state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFitOverlayButtonState.ts
  electron-app/utils/ui/controls/createAddFitFileToMapButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/controls/addFitFileButton.test.ts
  tests/unit/utils/ui/controls/addFitOverlayButtonState.test.ts
  tests/unit/utils/ui/controls/createAddFitFileToMapButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map theme toggle state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/theming/specific/createMapThemeToggle.ts
  electron-app/utils/theming/specific/mapThemeToggleState.ts
  electron-app/utils/theming/specific/updateMapTheme.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/theming/specific/createMapThemeToggle.test.ts
  tests/unit/utils/theming/specific/createMapThemeToggle.environment.test.ts
  tests/unit/utils/theming/specific/mapThemeToggleState.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map document listener state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/core/mapDocumentListeners.ts
  electron-app/utils/maps/core/renderMap.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/maps/core/mapDocumentListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move file browser library cache off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserLibraryCache.ts
  electron-app/utils/ui/browser/fileBrowserTab.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserLibraryCache.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move fullscreen listener state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/addFullScreenButton.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/controls/addFullScreenButton.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move menu IPC forward registry off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  tests/unit/lifecycle/listeners.test.ts
  tests/unit/lifecycle/menuIpcKeyboardShortcuts.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
  tests/unit/utils/app/events.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move filename scroll state off DOM expando
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/unifiedControlBar.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/unifiedControlBar.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move quick color switcher state off DOM expando
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/quickColorSwitcher.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/quickColorSwitcher.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map action cleanup state off DOM expando
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapActionButtons.ts
  tests/unit/maps/controls/mapActionButtons.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move map measure escape state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapMeasureTool.ts
  tests/unit/maps/controls/mapMeasureTool.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move lap selector mouseup state off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/maps/controls/mapLapSelector.ts
  tests/unit/maps/controls/mapLapSelector.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/maps/controls/mapLapSelector.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move app menu exports off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/menu/createAppMenu.ts
  electron-app/utils/app/menu/index.ts
  tests/unit/menu/createAppMenu.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Move FIT file state manager off globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
  electron-app/utils/rendering/core/showFitData.ts
  electron-app/utils/state/domain/fitFileState.ts
  tests/unit/files/import/handleOpenFile.decodePayload.test.ts
  tests/unit/files/import/openFitFileFromPath.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/openFitFileFromPath.test.ts
Due: electron_app, üõ†Ô∏è Utilities
