Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

✨ [feat] Integrate Vite for HMR and debugging
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  VITE_SETUP_SUMMARY.md
  electron-app/electron-builder.config.js
  electron-app/ffv/assets/jszip.min-Cw1MSAQl.js
  electron-app/index.html
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/renderer.js
  electron-app/scripts/dev-runner.mjs
  electron-app/style.css
  electron-app/tsconfig.json
  electron-app/ui-enhancements.css
  electron-app/ui-utilities.css
  electron-app/utils/CHANGELOG.md
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/helpers/mapMarkerSummary.js
  electron-app/utils/maps/helpers/markerSampler.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/ui/controls/createMarkerCountSelector.js
  electron-app/vite.config.js
  electron-app/windowStateUtils.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, ü™ü Window State Management

🧪 [test] Enhance test suite coverage
  electron-app/tests/unit/utils/charts/fullscreen/chartFullscreenManager.test.ts
  electron-app/tests/unit/utils/formatTooltipData.aliases.test.ts
  electron-app/tests/unit/utils/maps/helpers/mapMarkerSummary.test.ts
  electron-app/tests/unit/utils/rendering/components/createUserDeviceInfoBox.test.ts
  electron-app/types/electron-builder.config.d.ts
  electron-app/types/electron-builder.config.d.ts.map
  electron-app/types/ffv/assets/jszip.min-Cw1MSAQl.d.ts
  electron-app/types/ffv/assets/jszip.min-Cw1MSAQl.d.ts.map
  electron-app/types/scripts/dev-runner.d.mts
  electron-app/types/scripts/dev-runner.d.mts.map
  electron-app/types/stylelint.config.d.ts
  electron-app/types/stylelint.config.d.ts.map
  electron-app/types/utils/charts/fullscreen/chartFullscreenManager.d.ts
  electron-app/types/utils/charts/fullscreen/chartFullscreenManager.d.ts.map
  electron-app/types/utils/charts/plugins/addChartHoverEffects.d.ts
  electron-app/types/utils/charts/plugins/addChartHoverEffects.d.ts.map
  electron-app/types/utils/formatting/display/formatTooltipData.d.ts.map
  electron-app/types/utils/maps/core/renderMap.d.ts.map
  electron-app/types/utils/maps/helpers/mapMarkerSummary.d.ts
  electron-app/types/utils/maps/helpers/mapMarkerSummary.d.ts.map
  electron-app/types/utils/maps/helpers/markerSampler.d.ts
  electron-app/types/utils/maps/helpers/markerSampler.d.ts.map
  electron-app/types/utils/maps/layers/mapDrawLaps.d.ts
  electron-app/types/utils/maps/layers/mapDrawLaps.d.ts.map
  electron-app/types/utils/rendering/components/createUserDeviceInfoBox.d.ts
  electron-app/types/utils/rendering/components/createUserDeviceInfoBox.d.ts.map
  electron-app/types/utils/ui/controls/createMarkerCountSelector.d.ts.map
  electron-app/types/vite.config.d.ts
  electron-app/types/vite.config.d.ts.map
  electron-app/types/windowStateUtils.d.ts.map
  electron-app/ui-enhancements.css
  electron-app/utils/charts/fullscreen/chartFullscreenManager.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/helpers/mapMarkerSummary.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/rendering/components/createUserDeviceInfoBox.js
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [fix] Enhance map marker rendering and debugging
  .vscode/launch.json
  VITE_SETUP_SUMMARY.md
  electron-app/package.json
  electron-app/scripts/dev-runner.mjs
  electron-app/tests/unit/maps/layers/mapDrawLaps.test.ts
  electron-app/types/utils/charts/fullscreen/chartFullscreenManager.d.ts.map
  electron-app/types/utils/maps/helpers/mapMarkerSummary.d.ts.map
  electron-app/types/utils/maps/helpers/markerSampler.d.ts.map
  electron-app/types/utils/maps/layers/mapDrawLaps.d.ts
  electron-app/types/utils/maps/layers/mapDrawLaps.d.ts.map
  electron-app/types/utils/rendering/components/createUserDeviceInfoBox.d.ts.map
  electron-app/types/utils/ui/controls/createMarkerCountSelector.d.ts.map
  electron-app/ui-enhancements.css
  electron-app/utils/charts/fullscreen/chartFullscreenManager.js
  electron-app/utils/files/export/createExportGPXButton.js
  electron-app/utils/files/export/createPrintButton.js
  electron-app/utils/maps/controls/mapMeasureTool.js
  electron-app/utils/maps/helpers/mapMarkerSummary.js
  electron-app/utils/maps/helpers/markerSampler.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/rendering/components/createUserDeviceInfoBox.js
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.js
  electron-app/utils/ui/controls/createElevationProfileButton.js
  electron-app/utils/ui/controls/createMarkerCountSelector.js
  electron-app/vite.config.js
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] Refactors map controls for better UI
  electron-app/style.css
  electron-app/tests/strictTests/addChartHoverEffects.test.ts
  electron-app/tests/strictTests/maps/core/renderMap.test.ts
  electron-app/tests/unit/maps/layers/mapDrawLaps.test.ts
  electron-app/tests/unit/utils/formatTooltipData.aliases.test.ts
  electron-app/tests/unit/utils/formatTooltipData.comprehensive.test.ts
  electron-app/tests/unit/utils/rendering/components/createUserDeviceInfoBox.test.ts
  electron-app/tests/unit/utils/theming/core/setupTheme.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/types/utils/files/export/createExportGPXButton.d.ts
  electron-app/types/utils/files/export/createExportGPXButton.d.ts.map
  electron-app/types/utils/files/export/createPrintButton.d.ts.map
  electron-app/types/utils/files/import/loadOverlayFiles.d.ts.map
  electron-app/types/utils/formatting/display/formatTooltipData.d.ts
  electron-app/types/utils/formatting/display/formatTooltipData.d.ts.map
  electron-app/types/utils/maps/controls/mapFullscreenControl.d.ts.map
  electron-app/types/utils/maps/controls/mapMeasureTool.d.ts
  electron-app/types/utils/maps/controls/mapMeasureTool.d.ts.map
  electron-app/types/utils/maps/core/renderMap.d.ts
  electron-app/types/utils/maps/core/renderMap.d.ts.map
  electron-app/types/utils/maps/layers/mapDrawLaps.d.ts.map
  electron-app/types/utils/rendering/components/createShownFilesList.d.ts.map
  electron-app/types/utils/rendering/components/createUserDeviceInfoBox.d.ts.map
  electron-app/types/utils/theming/core/setupTheme.d.ts.map
  electron-app/types/utils/ui/controls/createElevationProfileButton.d.ts.map
  electron-app/types/utils/ui/modals/baseModal.d.ts
  electron-app/types/utils/ui/modals/baseModal.d.ts.map
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/controls/mapActionButtons.js
  electron-app/utils/maps/controls/mapFullscreenControl.js
  electron-app/utils/maps/controls/mapMeasureTool.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/components/createUserDeviceInfoBox.js
  electron-app/utils/theming/core/setupTheme.js
  electron-app/utils/ui/modals/baseModal.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Modernize app state management
  .gitignore
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/tests/globalSetup.js
  electron-app/tests/setupVitest.js
  electron-app/tests/strictTests/app/initialization/getCurrentSettings.test.ts
  electron-app/tests/strictTests/data/processing/setupZoneData.test.ts
  electron-app/tests/strictTests/rendering/core/showFitData.test.ts
  electron-app/tests/unit/utils/formatTooltipData.comprehensive.test.ts
  electron-app/utils/app/events.js
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/charts/components/chartStatusIndicator.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/charts/rendering/renderEventMessagesChart.js
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
  electron-app/utils/charts/rendering/renderTimeInZoneCharts.js
  electron-app/utils/charts/theming/chartThemeListener.js
  electron-app/utils/data/processing/setupZoneData.js
  electron-app/utils/debug/debugSensorInfo.js
  electron-app/utils/files/export/createExportGPXButton.js
  electron-app/utils/files/import/getOverlayFileName.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/helpers/mapMarkerSummary.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/state/core/appStateStore.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/domain/globalDataState.js
  electron-app/utils/state/domain/overlayState.js
  electron-app/utils/state/domain/zoneState.js
  electron-app/utils/state/integration/stateIntegration.js
  electron-app/utils/ui/controls/createElevationProfileButton.js
  electron-app/utils/ui/controls/createInlineZoneColorSelector.js
  electron-app/utils/ui/controls/createMarkerCountSelector.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
Due: electron_app, üõ†Ô∏è Utilities

✨ [feat] Implement interactive map with overlays
  electron-app/tests/helpers/createStateManagerMock.ts
  electron-app/tests/strictTests/maps/components/MapViewRoot.test.tsx
  electron-app/types/utils/maps/controls/mapZoomSlider.d.ts
  electron-app/types/utils/maps/helpers/measurementFormatting.d.ts
  electron-app/utils/maps/components/MapViewRoot/MapControls.jsx
  electron-app/utils/maps/components/MapViewRoot/MapViewRoot.jsx
  electron-app/utils/maps/controls/mapZoomSlider.js
  electron-app/utils/maps/helpers/measurementFormatting.js
  electron-app/utils/state/hooks/useAppState.js
Due: electron_app, üõ†Ô∏è Utilities

🎨 [style] Enhance UI theming and chart styles
  electron-app/style.css
  electron-app/tests/charts/renderLapZoneChart.test.ts
  electron-app/tests/strictTests/charts/renderZoneChart.test.ts
  electron-app/tests/strictTests/data/zones/renderSinglePowerZoneBar.test.ts
  electron-app/tests/strictTests/renderLapZoneCharts.test.ts
  electron-app/tests/strictTests/theming/specific/createMapThemeToggle.test.ts
  electron-app/tests/unit/main.targeted-100-coverage.test.ts
  electron-app/tests/unit/main.ultimate-100-coverage.test.ts
  electron-app/tests/unit/state/domain/uiStateManager.test.ts
  electron-app/tests/unit/theming/specific/updateMapTheme.test.ts
  electron-app/tests/unit/utils/app/lifecycle/appActions.test.ts
  electron-app/tests/unit/utils/charts/plugins/addChartHoverEffects.propagation.test.ts
  electron-app/tests/unit/utils/charts/rendering/renderZoneChartNew.test.ts
  electron-app/tests/unit/utils/data/zones/renderSingleHRZoneBar.test.ts
  electron-app/tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  electron-app/tests/unit/utils/theming/core/theme.additional.test.ts
  electron-app/ui-enhancements.css
  electron-app/utils/app/lifecycle/appActions.js
  electron-app/utils/charts/fullscreen/chartFullscreenManager.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/plugins/chartZoomResetPlugin.js
  electron-app/utils/charts/rendering/renderLapZoneChart.js
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
  electron-app/utils/charts/rendering/renderZoneChart.js
  electron-app/utils/charts/rendering/renderZoneChartNew.js
  electron-app/utils/config/constants.js
  electron-app/utils/data/zones/renderSingleHRZoneBar.js
  electron-app/utils/data/zones/renderSinglePowerZoneBar.js
  electron-app/utils/maps/components/MapViewRoot/MapControls.jsx
  electron-app/utils/maps/components/MapViewRoot/MapViewRoot.jsx
  electron-app/utils/rendering/core/renderTable.js
  electron-app/utils/state/core/appStateStore.js
  electron-app/utils/state/core/masterStateManager.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/theming/core/theme.js
  electron-app/utils/theming/specific/createMapThemeToggle.js
  electron-app/utils/theming/specific/updateMapTheme.js
  electron-app/utils/ui/quickColorSwitcher.js
  electron-app/utils/ui/settingsModal.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enhance codebase with linting rules
  debug-charts-tab.js
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/scripts/dev-runner.mjs
  electron-app/style.css
  electron-app/ui/modals/accentColorPicker.js
  electron-app/utils/app/lifecycle/appActions.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/plugins/chartOptionsConfig.js
  electron-app/utils/charts/rendering/renderLapZoneChart.js
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
  electron-app/utils/charts/rendering/renderZoneChart.js
  electron-app/utils/charts/rendering/renderZoneChartNew.js
  electron-app/utils/data/zones/renderSingleHRZoneBar.js
  electron-app/utils/data/zones/renderSinglePowerZoneBar.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/state/integration/rendererStateIntegration.js
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enable TypeScript ESLint rules
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/tests/strictTests/createGlobalChartStatusIndicatorFromCounts.test.ts
  electron-app/tests/unit/state/domain/uiStateManager.test.ts
  electron-app/tests/unit/utils/charts/components/createGlobalChartStatusIndicator.test.ts
  electron-app/tests/unit/utils/rendering/helpers/updateControlsState.test.ts
  electron-app/ui-enhancements.css
  electron-app/utils/charts/components/createGlobalChartStatusIndicator.js
  electron-app/utils/charts/components/createGlobalChartStatusIndicatorFromCounts.js
  electron-app/utils/charts/rendering/renderLapZoneCharts.js
  electron-app/utils/maps/components/MapViewRoot/MapControls.jsx
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/helpers/updateControlsState.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/ui/components/ensureChartSettingsDropdowns.js
  electron-app/utils/ui/icons/iconMappings.js
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Modernize array handling
  electron-app/eslint.config.mjs
  electron-app/main.js
  electron-app/utils/app/lifecycle/resourceManager.js
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/rendering/renderLapZoneChart.js
  electron-app/utils/charts/theming/chartOverlayColorPalette.js
  electron-app/utils/data/processing/extractDeveloperFieldsList.js
  electron-app/utils/dom/domHelpers.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/files/recent/recentFiles.js
  electron-app/utils/maps/controls/mapLapSelector.js
  electron-app/utils/maps/helpers/measurementFormatting.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/rendering/components/createTables.js
  electron-app/utils/rendering/components/createUserDeviceInfoBox.js
  electron-app/utils/rendering/core/renderSummary.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/core/stateMiddleware.js
  electron-app/utils/state/domain/appState.js
  electron-app/utils/state/domain/overlayState.js
  electron-app/utils/state/domain/uiStateManager.js
  electron-app/utils/state/domain/zoneState.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/state/integration/stateIntegration.js
  electron-app/utils/ui/controls/createMarkerCountSelector.js
  electron-app/utils/ui/controls/enableTabButtons.js
  electron-app/utils/ui/modals/aboutModal.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities

Bump version to 27.3.0
  electron-app/package.json
Due: electron_app

✨ [skip-ci][feat] Enables macOS smoke tests
  .github/workflows/mac-smoke-test.yml
  electron-app/main/ipc/registerDialogHandlers.js
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/playwright.config.ts
  electron-app/tests/playwright/open-fit-file.spec.ts
  electron-app/tsconfig.json
  electron-app/windowStateUtils.js
Due: electron_app, ü™ü Window State Management

Bump version to 27.4.0
  electron-app/package.json
Due: electron_app

👷 [ci] Implements packaged macOS smoke test
  .github/workflows/mac-smoke-test.yml
  electron-app/electron-builder.config.js
  electron-app/main.js
  electron-app/main/ipc/registerSmokeTestHandlers.js
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/package.json
  electron-app/playwright.config.ts
  electron-app/preload.js
  electron-app/scripts/run-mac-smoke-test.cjs
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/windowStateUtils.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities, ü™ü Window State Management

Bump version to 27.5.0
  electron-app/package.json
Due: electron_app

🛠️ [fix] Improve macOS smoke test reliability
  .gitignore
  electron-app/scripts/run-mac-smoke-test.cjs
  electron-app/tests/setupVitest.js
Due: electron_app

Bump version to 27.6.0
  electron-app/package.json
Due: electron_app

chore: format code with Prettier [skip-ci]
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/maps/layers/mapDrawLaps.js
Due: electron_app, üõ†Ô∏è Utilities

Bump version to 27.7.0
  electron-app/package.json
Due: electron_app

✨ [feat] Improves smoke test reliability
  electron-app/main.js
  electron-app/main/ipc/registerSmokeTestHandlers.js
  electron-app/main/window/bootstrapMainWindow.js
  electron-app/preload.js
  electron-app/scripts/run-mac-smoke-test.cjs
  electron-app/types/preload.d.ts
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities

Bump version to 27.8.0
  electron-app/package.json
Due: electron_app

✨ [feat] Improve smoke-test dispatch reliability and immediate readiness notification
  electron-app/main/ipc/registerSmokeTestHandlers.js
  electron-app/preload.js
Due: electron_app, ‚ö° Core Electron Process

Bump version to 27.9.0
  electron-app/package.json
Due: electron_app

Fix packaged preload path for macOS builds
  electron-app/electron-builder.config.js
  electron-app/windowStateUtils.js
Due: electron_app, ü™ü Window State Management

Fix packaged preload path for macOS builds (#160)
  electron-app/electron-builder.config.js
  electron-app/windowStateUtils.js
Due: electron_app, ü™ü Window State Management

✨ [feat] Introduces smoke test harness mode
  electron-app/electron-builder.config.js
  electron-app/main/ipc/registerSmokeTestHandlers.js
  electron-app/package.json
  electron-app/scripts/run-mac-smoke-test.cjs
  electron-app/smoke-test-runner.js
  electron-app/smoke-test.html
  electron-app/windowStateUtils.js
Due: electron_app, ü™ü Window State Management

Bump version to 28.0.0
  electron-app/package.json
Due: electron_app

chore: bump version to 28.1.0
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

🧹 [fix] Updates application version to 28.1.0 to fix linux and mac issues
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

Bump version to 28.1.0
  electron-app/package.json
Due: electron_app

✨ [feat] Enhance GPX export and UI
  electron-app/renderer.js
  electron-app/style.css
  electron-app/tests/strictTests/files/export/createButtons.test.ts
  electron-app/tests/strictTests/files/export/gpxExport.test.ts
  electron-app/tests/strictTests/ui/layout/enhanceCreditsSection.test.ts
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/types/utils/app/events.d.ts.map
  electron-app/types/utils/app/lifecycle/listeners.d.ts.map
  electron-app/types/utils/files/export/createExportGPXButton.d.ts.map
  electron-app/types/utils/files/export/gpxExport.d.ts
  electron-app/types/utils/files/export/gpxExport.d.ts.map
  electron-app/types/utils/maps/core/renderMap.d.ts.map
  electron-app/types/utils/ui/layout/enhanceCreditsSection.d.ts
  electron-app/types/utils/ui/layout/enhanceCreditsSection.d.ts.map
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/index.js
  electron-app/utils/charts/rendering/index.js
  electron-app/utils/charts/rendering/renderGPSTimeChart.js
  electron-app/utils/files/export/createExportGPXButton.js
  electron-app/utils/files/export/gpxExport.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/ui/layout/enhanceCreditsSection.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🛠️ [fix] Enhances UI and fixes map issues
  electron-app/renderer.js
  electron-app/style.css
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/files/export/createExportGPXButton.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/maps/controls/mapActionButtons.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

Bump version to 28.2.0
  electron-app/package.json
Due: electron_app

🛠️ [fix] Improve file export and UI elements
  electron-app/tests/unit/utils/formatTooltipData.comprehensive.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/files/export/createExportGPXButton.js
  electron-app/utils/files/sanitizeFilename.js
  electron-app/utils/files/sanitizeFilename.test.ts
  electron-app/utils/maps/core/renderMap.js
Due: electron_app, üõ†Ô∏è Utilities

✨ [feat] Adds map metric filter control
  electron-app/style.css
  electron-app/tests/unit/maps/filters/mapMetricFilter.test.ts
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/filters/mapMetricFilter.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/ui/controls/createDataPointFilterControl.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

Bump version to 28.3.0
  electron-app/package.json
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
