Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

Bump version to 28.4.0
  electron-app/package.json
Due: electron_app

✨ [feat] Implement data point filtering by range
  electron-app/style.css
  electron-app/tests/strictTests/renderLapZoneCharts.test.ts
  electron-app/tests/unit/maps/filters/mapMetricFilter.test.ts
  electron-app/utils/maps/filters/mapMetricFilter.js
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/ui/controls/createDataPointFilterControl.js
  electron-app/utils/ui/tabs/tabStateManager.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

Bump version to 28.5.0
  electron-app/package.json
Due: electron_app

👷 [ci][skip-ci][ci-skip] Use dot reporter and silence Vitest output in CI test script
  .github/workflows/vitest.yml
  .gitignore
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

Bump version to 28.6.0
  electron-app/package.json
Due: electron_app

Bump version to 28.7.0
  electron-app/package.json
Due: electron_app

Bump version to 28.8.0
  electron-app/package.json
Due: electron_app

Fix Codecov unusable report by adjusting paths to be relative to repo root
  .github/workflows/vitest.yml
  electron-app/vitest.config.js
Due: electron_app

Bump version to 28.9.0
  electron-app/package.json
Due: electron_app

Bump version to 29.0.0
  electron-app/package.json
Due: electron_app

🚜 [refactor] Consolidate renderer logging, standardize state + file-open flows, add UI control elements and internal prompts
  .github/PROMPTS/Consistency-Check.prompt.md
  .github/PROMPTS/Do-ToDo.prompt.md
  .github/agents/BeastMode.agent.md
  electron-app/scripts/normalize-coverage-lcov.mjs
  electron-app/tests/strictTests/rendering/core/showFitData.test.ts
  electron-app/tests/unit/utils/files/import/handleOpenFile.complete.test.ts
  electron-app/types/utils/files/import/handleOpenFile.d.ts
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/logging/rendererLogger.js
  electron-app/utils/rendering/core/showFitData.js
  electron-app/utils/state/domain/fitFileState.js
  electron-app/utils/ui/controls/createDataPointFilterControl.js
  electron-app/utils/ui/controls/dataPointFilterControlElements.js
  electron-app/utils/ui/notifications/showUpdateNotification.js
  electron-app/windowStateUtils.js
Due: electron_app, üõ†Ô∏è Utilities, ü™ü Window State Management

Bump version to 29.1.0
  electron-app/package.json
Due: electron_app

🛠️ [fix] Improve test coverage and stability across various modules
  electron-app/package.json
  electron-app/tests/charts/renderLapZoneChart.test.ts
  electron-app/tests/env-setup.js
  electron-app/tests/globalSetup.js
  electron-app/tests/shims/nodeWebStorage.ts
  electron-app/tests/strictTests/charts/renderZoneChart.test.ts
  electron-app/tests/strictTests/createEnhancedChart.test.ts
  electron-app/tests/strictTests/data/zones/renderSinglePowerZoneBar.test.ts
  electron-app/tests/strictTests/electron/renderer.strict.test.ts
  electron-app/tests/strictTests/files/export/createButtons.test.ts
  electron-app/tests/strictTests/renderAltitudeProfileChart.test.ts
  electron-app/tests/strictTests/renderEventMessagesChart.test.ts
  electron-app/tests/strictTests/renderGPSTrackChart.test.ts
  electron-app/tests/strictTests/renderPowerVsHeartRateChart.test.ts
  electron-app/tests/strictTests/renderSpeedVsDistanceChart.test.ts
  electron-app/tests/strictTests/ui/layout/enhanceCreditsSection.test.ts
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/fitParser.comprehensive.test.ts
  electron-app/tests/unit/main.complete-coverage.test.ts
  electron-app/tests/unit/main/ipc/registerExternalHandlers.test.js
  electron-app/tests/unit/utils/app/events.test.ts
  electron-app/tests/unit/utils/charts/rendering/renderZoneChartNew.test.ts
  electron-app/tests/unit/utils/data/zones/renderSingleHRZoneBar.test.ts
  electron-app/tests/unit/utils/enableTabButtons.complete.test.ts
  electron-app/tests/unit/utils/files/export/exportUtils.ui.test.ts
  electron-app/tests/unit/utils/state/core/stateMiddleware.comprehensive.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/types/utils/charts/core/chartStateManager.d.ts.map
  electron-app/types/utils/state/domain/fitFileState.d.ts.map
  electron-app/types/utils/ui/controls/createDataPointFilterControl.d.ts.map
  electron-app/types/vitest.config.d.ts
  electron-app/vitest.config.js
Due: electron_app

🎨 [style] Refactor package.json for FitFileViewer
  electron-app/.npmpackagejsonlintrc.json
  electron-app/package-lock.json
  electron-app/package.json
  package-lock.json
Due: electron_app

🔧 [build] Update TypeScript declaration maps for various components
  electron-app/types/utils/charts/core/chartStateManager.d.ts.map
  electron-app/types/utils/maps/filters/mapMetricFilter.d.ts.map
  electron-app/types/utils/state/domain/fitFileState.d.ts.map
  electron-app/types/utils/ui/controls/createDataPointFilterControl.d.ts.map
  electron-app/types/utils/ui/controls/dataPointFilterControl/stateHelpers.d.ts.map
  electron-app/types/utils/ui/tabs/tabStateManager.d.ts.map
Due: electron_app

✨ [feat] Add Windows 7 compatibility build process
  .devskim.json
  .github/workflows/Build.yml
  .github/workflows/build-win7.yml
  .github/workflows/vitest.yml
  .gitignore
  .htmlhintrc
  .jscpd.json
  .markdown-link-check.json
  .markdownlint.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  cspell.json
  docs/2-STATE_MANAGEMENT_COMPLETE_GUIDE.md
  docs/API_DOCUMENTATION.md
  docs/APPLICATION_ARCHITECTURE.md
  docs/APPLICATION_LAYOUT.md
  docs/DEVELOPMENT_GUIDE.md
  docs/FIT_PARSER_MIGRATION_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATIONS.md
  docs/README.md
  docs/STATE_MANAGEMENT_COMPLETE_GUIDE.md
  docs/USER_GUIDE.md
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/scripts/build-win7.mjs
  electron-app/tests/setupVitest.js
  electron-app/vitest.config.js
Due: electron_app

Bump version to 29.2.0
  electron-app/package.json
Due: electron_app

Bump version to 29.3.0
  electron-app/package.json
Due: electron_app

Bump version to 29.4.0
  electron-app/package.json
Due: electron_app

Bump version to 29.5.0
  electron-app/package.json
Due: electron_app

Update Build.yml
  .github/workflows/Build.yml
Due: none

Bump version to 29.6.0
  electron-app/package.json
Due: electron_app

Update build-win7.yml
  .github/workflows/build-win7.yml
Due: none

🛠️ [fix] Update recent files and rendering components
  electron-app/fitParser.js
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/setupIPCHandlers.js
  electron-app/package.json
  electron-app/preload.js
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/utils/ui/controls/createElevationProfileButton.test.ts
  electron-app/types/fitParser.d.ts.map
  electron-app/types/main/ipc/registerFileSystemHandlers.d.ts.map
  electron-app/types/main/ipc/setupIPCHandlers.d.ts.map
  electron-app/types/preload.d.ts.map
  electron-app/types/utils/app/menu/createAppMenu.d.ts.map
  electron-app/types/utils/charts/core/getChartCounts.d.ts.map
  electron-app/types/utils/charts/core/renderChartJS.d.ts.map
  electron-app/types/utils/charts/plugins/addChartHoverEffects.d.ts.map
  electron-app/types/utils/charts/rendering/renderGPSTimeChart.d.ts.map
  electron-app/types/utils/charts/rendering/renderGPSTrackChart.d.ts.map
  electron-app/types/utils/files/export/exportUtils.d.ts.map
  electron-app/types/utils/files/recent/recentFiles.d.ts.map
  electron-app/types/utils/rendering/components/createShownFilesList.d.ts.map
  electron-app/types/utils/state/integration/mainProcessStateManager.d.ts
  electron-app/types/utils/state/integration/mainProcessStateManager.d.ts.map
  electron-app/types/utils/ui/controls/createElevationProfileButton.d.ts.map
  electron-app/types/utils/ui/modals/aboutModal.d.ts.map
  electron-app/types/windowStateUtils.d.ts.map
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/charts/plugins/addChartHoverEffects.js
  electron-app/utils/charts/rendering/renderGPSTimeChart.js
  electron-app/utils/charts/rendering/renderGPSTrackChart.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/recent/recentFiles.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/ui/controls/createElevationProfileButton.js
  electron-app/utils/ui/modals/aboutModal.js
  electron-app/vitest.config.js
  electron-app/windowStateUtils.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🛠️ [fix] Harden security and robustify IPC
  electron-app/global.d.ts
  electron-app/main/app/setupApplicationEventHandlers.js
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/registerRecentFileHandlers.js
  electron-app/main/logging/logWithContext.js
  electron-app/main/oauth/gyazoOAuthServer.js
  electron-app/main/runtime/primeTestEnvironment.js
  electron-app/main/security/fileAccessPolicy.js
  electron-app/preload.js
  electron-app/tests/unit/main/ipc/registerFileSystemHandlers.test.js
  electron-app/tests/unit/main/ipc/registerFitFileHandlers.test.js
  electron-app/tests/unit/main/ipc/registerRecentFileHandlers.test.js
  electron-app/tests/unit/main/logging/logWithContext.test.ts
  electron-app/tests/utils/rendering/components/createShownFilesList.test.ts
  electron-app/types/main/app/setupApplicationEventHandlers.d.ts.map
  electron-app/types/main/ipc/registerFileSystemHandlers.d.ts.map
  electron-app/types/main/ipc/registerFitFileHandlers.d.ts.map
  electron-app/types/main/ipc/registerRecentFileHandlers.d.ts.map
  electron-app/types/main/logging/logWithContext.d.ts.map
  electron-app/types/main/oauth/gyazoOAuthServer.d.ts.map
  electron-app/types/main/runtime/primeTestEnvironment.d.ts.map
  electron-app/types/preload.d.ts
  electron-app/types/preload.d.ts.map
  electron-app/types/utils/app/events.d.ts.map
  electron-app/types/utils/app/lifecycle/listeners.d.ts.map
  electron-app/types/utils/dom/sanitizeHtmlAllowlist.d.ts.map
  electron-app/types/utils/files/export/createPrintButton.d.ts.map
  electron-app/types/utils/files/export/exportUtils.d.ts.map
  electron-app/types/utils/rendering/components/createShownFilesList.d.ts.map
  electron-app/types/utils/ui/settingsModal.d.ts.map
  electron-app/utils/app/events.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/dom/sanitizeHtmlAllowlist.js
  electron-app/utils/files/export/createPrintButton.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/rendering/components/createShownFilesList.js
  electron-app/utils/ui/settingsModal.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities

🔧 [build] Upgrade dependencies in package.json
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

✨ [feat] Harden security and improve app robustness
  electron-app/main/oauth/gyazoOAuthServer.js
  electron-app/main/updater/setupAutoUpdater.js
  electron-app/preload.js
  electron-app/tests/env-setup.js
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/main/oauth/gyazoOAuthServer.test.ts
  electron-app/tests/unit/main/updater/setupAutoUpdater.test.ts
  electron-app/tests/unit/preload.debug.test.ts
  electron-app/tests/unit/preload.simple.test.ts
  electron-app/tests/unit/utils/app/events.test.ts
  electron-app/tests/unit/utils/files/import/loadOverlayFiles.test.ts
  electron-app/utils/app/events.js
  electron-app/utils/app/events.legacy.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/export/exportUtils.test.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
Due: electron_app, ‚ö° Core Electron Process, üõ†Ô∏è Utilities

🔧 [build] Reorder tools in BeastMode agent configuration for improved clarity
  .github/agents/BeastMode.agent.md
Due: none

🛠️ [fix] Enhances security and import performance
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/tests/unit/utils/dom/sanitizeCssColorToken.property.test.ts
  electron-app/tests/unit/utils/ui/links/externalLinkHandlers.test.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/dom/sanitizeHtmlAllowlist.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/import/loadOverlayFiles.js
Due: electron_app, üõ†Ô∏è Utilities

🛠️ [fix] Harden export utilities and network calls
  .github/agents/BeastMode.agent.md
  electron-app/tests/strictTests/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/utils/files/export/exportUtils.test.ts
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/export/exportUtils.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Harden IPC, security, and state management
  .gitignore
  electron-app/global.d.ts
  electron-app/index.html
  electron-app/main-ui.js
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/setupIPCHandlers.js
  electron-app/preload.js
  electron-app/tests/strictTests/createChartStatusIndicatorFromCounts.test.ts
  electron-app/tests/unit/utils/charts/components/createChartStatusIndicator.test.ts
  electron-app/tests/unit/utils/dom/sanitizeHtmlAllowlist.test.ts
  electron-app/tests/unit/utils/ui/links/externalLinkHandlers.test.ts
  electron-app/types/preload.d.ts
  electron-app/types/utils/ui/links/externalLinkHandlers.d.ts
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/charts/components/createChartStatusIndicator.js
  electron-app/utils/charts/components/createChartStatusIndicatorFromCounts.js
  electron-app/utils/dom/sanitizeHtmlAllowlist.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/net/networkUtils.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/storage/storageUtils.js
  electron-app/utils/ui/links/externalLinkHandlers.js
  electron-app/vendor/leaflet-measure-lite.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Add experimental folder-based FIT browser
  electron-app/ffv/index.html
  electron-app/global.d.ts
  electron-app/index.html
  electron-app/main/ipc/registerBrowserHandlers.js
  electron-app/main/ipc/setupIPCHandlers.js
  electron-app/main/runtime/setupMainLifecycle.js
  electron-app/main/security/setupBlockedRequests.js
  electron-app/preload.js
  electron-app/style.css
  electron-app/tests/unit/utils/tabStateManager.focused.test.ts
  electron-app/tests/unit/utils/updateTabVisibility.branches.test.ts
  electron-app/tests/unit/utils/updateTabVisibility.comprehensive.test.ts
  electron-app/types/preload.d.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.js
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/files/import/openFitFileFromPath.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapBaseLayers.js
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.js
  electron-app/utils/ui/initStartup.js
  electron-app/utils/ui/tabs/tabStateManager.js
  electron-app/utils/ui/tabs/updateTabVisibility.js
Due: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

🚜 [refactor] Improve type safety and map UI layering
  electron-app/eslint.config.mjs
  electron-app/style.css
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/import/loadSingleOverlayFile.js
  electron-app/utils/ui/components/createSettingsHeader.js
  electron-app/utils/ui/controls/createInlineZoneColorSelector.js
  electron-app/utils/ui/modals/openZoneColorPicker.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Add screenshot gallery to homepage
  docusaurus/docusaurus.config.ts
  docusaurus/src/pages/index.module.css
  docusaurus/src/pages/index.tsx
  docusaurus/static/favicon.ico
  docusaurus/static/img/favicon.ico
  docusaurus/static/img/screenshots/ChartsV3.png
  docusaurus/static/img/screenshots/DataV2.png
  docusaurus/static/img/screenshots/MapsV2.png
Due: none

✨ [feat] Improves map style selector UX
  .vscode/settings.json
  docusaurus/package-lock.json
  docusaurus/package.json
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/style.css
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/async/pLimitCompat.js
  electron-app/utils/files/import/loadOverlayFiles.js
  electron-app/utils/maps/core/mapDocumentListeners.js
  electron-app/utils/maps/core/renderMap.js
  electron-app/utils/maps/layers/mapBaseLayers.js
  electron-app/utils/maps/layers/mapDrawLaps.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Adds browser library views
  electron-app/eslint.config.mjs
  electron-app/style.css
  electron-app/tests/unit/utils/app/events.test.ts
  electron-app/tests/unit/utils/rendering/core/renderSummary.additional.test.ts
  electron-app/tests/unit/utils/rendering/helpers/showColModal.interactions.test.ts
  electron-app/utils/app/initialization/loadSharedConfiguration.js
  electron-app/utils/app/lifecycle/listeners.js
  electron-app/utils/charts/core/getChartCounts.js
  electron-app/utils/rendering/core/renderSummary.js
  electron-app/utils/rendering/helpers/renderSummaryHelpers.js
  electron-app/utils/state/domain/settingsStateManager.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.js
  electron-app/utils/ui/components/createSettingsHeader.js
  electron-app/utils/ui/controls/createHRZoneControls.js
  electron-app/utils/ui/controls/createPowerZoneControls.js
  electron-app/utils/ui/controls/createPowerZoneControlsSimple.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities

✨ [feat] Enable experimental browser by default
  electron-app/main/ipc/registerBrowserHandlers.js
  electron-app/style.css
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/charts/core/renderChartJS.js
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/controls/createHRZoneControls.js
  electron-app/utils/ui/controls/createPowerZoneControls.js
Due: electron_app, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities
