Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🚜 [refactor] Route file browser entry DOM through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/browser/fileBrowserTabRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTabRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route file browser files view DOM through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Route file browser view DOM through runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/browser/fileBrowserTabRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/fileBrowserTabRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Split preload dialog API domain
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/apiAssembly.ts
  electron-app/preload/dialogApiDomain.ts
  electron-app/preload/electronApiDialogDomain.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronApiFileDomain.ts
  electron-app/preload/fileApiDomain.ts
  electron-app/preload/preloadApiAssemblyModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.dialogApi.test.ts
  tsconfig.runtime.json
Due: electron_app

🚜 [refactor] Move preload open dialogs to dialog domain
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/dialogApiDomain.ts
  electron-app/preload/electronApiDialogDomain.ts
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/electronApiFactoryOptions.ts
  electron-app/preload/electronApiFileDomain.ts
  electron-app/preload/fileApi.ts
  electron-app/preload/fileApiDomain.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/shared/preloadApi.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.dialogApi.test.ts
  tests/unit/preload.fileApi.test.ts
Due: electron_app

🚜 [refactor] Capture renderer electron API through provider
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Narrow renderer runtime event target
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer.ts
  electron-app/renderer/runtimeEnvironment.ts
  electron-app/renderer/testOnlyBootstrap.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Remove renderer runtime scope provider
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/runtimeEnvironment.test.ts
Due: electron_app

🚜 [refactor] Focus renderer environment runtime input
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironment.ts
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/initialization/rendererEnvironmentRuntime.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove renderer runtime object helper
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Focus vendor map global cleanup
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/rendererVendorMapRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/rendererVendorMapRuntime.test.ts
Due: electron_app

🚜 [refactor] Remove preload global scope option
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/preloadBootstrap.ts
  electron-app/preload/preloadEntrypoint.ts
  electron-app/preload/preloadRuntimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload-eval.test.ts
  tests/unit/preload-minimal.test.ts
  tests/unit/preload.development-mode.test.ts
  tests/unit/preload.edgeCases.test.ts
  tests/unit/preload.preloadRuntimeEnvironment.test.ts
  tests/unit/preload.source.test.ts
  tests/unit/preload.sourceExecution.test.ts
Due: electron_app

🚜 [refactor] Focus chart process shim runtime
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartPluginRegistration.ts
  electron-app/utils/charts/core/renderChartRuntimeBootstrap.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpers.ts
  electron-app/utils/charts/core/renderChartRuntimeHelpersRuntime.ts
  goal-plan.md
  tests/unit/charts/core/renderChartRuntimeHelpersRuntime.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name chart status viewport globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/components/chartStatusIndicatorRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Focus elevation profile globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name error handling globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/errors/errorHandlingRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name storage default global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/storage/storageUtilsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name lifecycle process globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/lifecycle/listenersRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name renderer environment globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/app/initialization/rendererEnvironmentRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name chart process shim globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/charts/core/renderChartRuntimeHelpersRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name elevation profile globals
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/controls/createElevationProfileButtonRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name renderer runtime global
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/runtimeEnvironment.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Name UI state document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/domain/uiStateManagerRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name master state document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/core/masterStateRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name startup document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/initStartupRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name icon factory document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/ui/icons/iconFactoryRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name export utility document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtilsRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name renderer state document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/state/integration/rendererStateIntegrationRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Name summary selector document global
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/mainUiSummaryColumnSelectorRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Name create-tables document global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/rendering/components/createTablesRuntime.ts
  goal-plan.md
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Guard against ad hoc Window bridges
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Type main app state paths
  docs/DEPRECATION_LEDGER.md
  electron-app/main/state/appState.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Narrow window startup state paths
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/state/appState.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type lifecycle main-window state
  docs/DEPRECATION_LEDGER.md
  electron-app/main/runtime/setupMainLifecycle.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type preload main-state bridge
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/mainStateBridge.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Route preload main-state invokes through IPC helpers
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/mainStateApi.ts
  electron-app/preload/preloadModuleTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.mainStateApi.test.ts
Due: electron_app

🚜 [refactor] Type preload main-state API factory
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/mainStateApi.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadStateModuleLoader.ts
  electron-app/preload/stateApiDomain.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type preload main-state bridge factory
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/mainStateBridge.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/preloadStateModuleLoader.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/preload.mainStateBridge.test.ts
Due: electron_app

🚜 [refactor] Type preload app info and theme factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/appInfoApi.ts
  electron-app/preload/preloadAppModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/preload/themeApi.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

🚜 [refactor] Type preload file factories
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/fileApi.ts
  electron-app/preload/fitBrowserApi.ts
  electron-app/preload/preloadFileModuleLoader.ts
  electron-app/preload/preloadModuleTypes.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
