Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🧪 [test] Move About modal harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/modals/aboutModal.test.ts
Due: none

🧪 [test] Move FIT data harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/rendering/core/showFitData.test.ts
Due: none

🧪 [test] Move menu IPC harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
Due: none

🧪 [test] Move theme setup harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/theming/core/setupTheme.test.ts
Due: none

🧪 [test] Move renderer state harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/state/integration/rendererStateIntegration.test.ts
Due: none

🧪 [test] Move FIT browser gate harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/browser/initFitBrowserFeatureGate.test.ts
Due: none

🧪 [test] Move app events harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/app/events.test.ts
Due: none

🧪 [test] Move external link harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/ui/links/externalLinkHandlers.test.ts
Due: none

🧪 [test] Move Gyazo OAuth state harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.oauthState.test.ts
Due: none

🧪 [test] Move export utils harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/export/exportUtils.test.ts
Due: none

🧪 [test] Move colocated export harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/export/exportUtils.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Move colocated file-open harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  electron-app/utils/files/import/handleOpenFile.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Move complete file-open harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/files/import/handleOpenFile.complete.test.ts
Due: none

🧪 [test] Move main UI harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: none

🧪 [test] Move lifecycle listener harness off electronAPI global
  docs/DEPRECATION_LEDGER.md
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/utils/app/lifecycle/listeners.test.ts
Due: none

🚜 [refactor] Move renderer startup lookups onto electronApiRuntime
  docs/DEPRECATION_LEDGER.md
  electron-app/renderer/electronApiStartupHooks.ts
  electron-app/utils/app/initialization/rendererEnvironment.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/renderer/electronApiStartupHooks.test.ts
  tests/unit/utils/app/initialization/rendererEnvironment.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Share preload API domain contracts
  docs/DEPRECATION_LEDGER.md
  electron-app/preload/electronApiFactory.ts
  electron-app/preload/preloadModuleTypes.ts
  electron-app/shared/preloadApi.ts
  electron-app/utils/runtime/electronApiRuntime.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🧪 [test] Assert tab readiness in Electron smoke flows
  tests/playwright/app-ui.spec.ts
Due: none

🚜 [refactor] Centralize renderer vendor bundle manifest
  electron-app/renderer/vendorBundleLoader.ts
  electron-app/renderer/vendorBundleManifest.ts
  electron-app/renderer/vendorGlobalsShared.ts
  tests/unit/renderer/vendorBundleLoader.test.ts
Due: electron_app

🚜 [refactor] Route drag drops through lazy FIT rendering
  electron-app/utils/ui/dragDropHandler.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/ui/dragDropHandler.fitPayload.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Remove drag drop enable global
  electron-app/utils/ui/dragDropHandler.ts
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/ui/main-ui.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop retired renderer ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop screenfull ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop map marker count ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Remove chart notification global fallback
  electron-app/utils/charts/core/renderChartNotificationHelpers.ts
  tests/unit/charts/core/renderChartNotificationHelpers.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Make error notifications explicit
  electron-app/utils/errors/errorHandling.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/errorHandling.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop modal helper ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop zone control ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop renderer function ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop zone data ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop renderer render ambient globals
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/utils/tabStateManager.regressions.test.ts
Due: none

🚜 [refactor] Drop overlay renderMap global bridge
  electron-app/utils/rendering/components/createShownFilesList.ts
  electron-app/utils/rendering/components/scheduleOverlayMapRender.ts
  electron-app/utils/rendering/components/shownFilesListItemHandlers.ts
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/rendering/components/createShownFilesList.test.ts
  tests/unit/utils/tabStateManager.regressions.test.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Drop notification ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
  tests/unit/strictTests/renderLapZoneCharts.test.ts
  tests/unit/utils/charts/core/renderChartJS.comprehensive.test.ts
  tests/unit/utils/ui/modals/openZoneColorPicker.test.ts
Due: none

🚜 [refactor] Drop rendererUtils ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop tabStateManager ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop chartStateManager ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop chart instance ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop tab helper ambient globals
  global.d.ts
  tests/integration/tabs/tabButtonState.integration.test.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop globalData ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none

🚜 [refactor] Drop appState ambient global
  global.d.ts
  tests/unit/packaging/architectureBoundaries.test.ts
Due: none
