Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js

🚜 [refactor] Type bootstrap main window
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/main/window/bootstrapMainWindow.d.ts
Due: electron_app

🚜 [refactor] Type main lifecycle setup
  electron-app/main/runtime/setupMainLifecycle.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/main/runtime/setupMainLifecycle.d.ts
Due: electron_app

🚜 [refactor] Type menu event handlers
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/main/menu/setupMenuAndEventHandlers.d.ts
Due: electron_app

🚜 [refactor] Type Gyazo OAuth server
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/main/oauth/gyazoOAuthServer.d.ts
Due: electron_app

🚜 [refactor] Type application event handlers
  electron-app/main/app/setupApplicationEventHandlers.ts
  electron-app/tsconfig.runtime.json
  electron-app/types/main/app/setupApplicationEventHandlers.d.ts
Due: electron_app

🐛 [fix] Stabilize Node 26 test expectations
  electron-app/tests/strictTests/utils/app/lifecycle/listeners.test.ts
  electron-app/tests/unit/charts/core/chartStateManager.test.ts
  electron-app/tests/unit/maps/layers/mapDrawLaps.test.ts
  electron-app/tests/unit/state/domain/uiStateManager.test.ts
  electron-app/tests/unit/utils/app/events.test.ts
  electron-app/tests/unit/utils/app/lifecycle/menuIpcListeners.test.ts
  electron-app/tests/unit/utils/files/export/exportUtils.test.ts
  electron-app/tests/unit/utils/files/recent/recentFiles.test.ts
  electron-app/tests/unit/utils/state/core/masterStateManager.comprehensive.test.ts
  electron-app/tests/unit/utils/state/integration/mainProcessStateManager.test.ts
  electron-app/tests/unit/utils/tabStateManager.focused.test.ts
  electron-app/tests/unit/utils/ui/tabs/tabStateManager.behavior.test.ts
  electron-app/utils/files/recent/recentFiles.js
  electron-app/utils/files/recent/recentFiles.ts
  electron-app/utils/state/integration/mainProcessStateManager.js
  electron-app/utils/state/integration/mainProcessStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

wrench [ci] Harden workflow lint policy
  .github/workflows/Build.yml
  .github/workflows/VirusTotal.yml
  .github/workflows/build-win7.yml
  .github/workflows/cleanReleases.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docusaurus.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/greetings.yml
  .github/workflows/rebase.yml
  .github/workflows/repo-stats.yml
  .github/workflows/stale.yml
  .github/workflows/trufflehog.yml
  .github/workflows/updateChangeLogs.yml
  .github/workflows/upload-linux-ia.yml
  .github/workflows/upload-macos-ia.yml
  .github/workflows/upload-windows-ia.yml
  eslint.config.mjs
Due: none

memo [docs] Clean root markdown lint
  .remarkrc.mjs
  README.md
  docs/ACCENT_COLOR_CODE_EXAMPLES.js
  docs/APPLICATION_ARCHITECTURE.md
  docs/APPLICATION_LAYOUT.md
  docs/APPLICATION_OVERVIEW.md
  docs/DEVELOPMENT_GUIDE.md
  docs/GYAZO_SETUP.md
  docs/MAP_THEME_TOGGLE.md
  docs/PERFORMANCE_OPTIMIZATIONS.md
  docs/USER_GUIDE.md
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: none

🚜 [refactor] Type window state exports
  electron-app/windowStateUtils.js
  electron-app/windowStateUtils.ts
Due: electron_app, ü™ü Window State Management

🚜 [refactor] Type error info property access
  electron-app/utils/logging/getErrorInfo.js
  electron-app/utils/logging/getErrorInfo.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map icon factory guard
  electron-app/utils/maps/layers/mapIcons.js
  electron-app/utils/maps/layers/mapIcons.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map base layer guard
  electron-app/utils/maps/layers/mapBaseLayers.js
  electron-app/utils/maps/layers/mapBaseLayers.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map document listener guard
  electron-app/utils/maps/core/mapDocumentListeners.js
  electron-app/utils/maps/core/mapDocumentListeners.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map measure leaflet guard
  electron-app/utils/maps/controls/mapMeasureTool.js
  electron-app/utils/maps/controls/mapMeasureTool.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type chart resize guard
  electron-app/utils/app/lifecycle/listenersResize.js
  electron-app/utils/app/lifecycle/listenersResize.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type chart option parsing
  electron-app/utils/app/initialization/getCurrentSettingsParsing.js
  electron-app/utils/app/initialization/getCurrentSettingsParsing.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type chart settings guards
  electron-app/utils/app/initialization/getCurrentSettings.js
  electron-app/utils/app/initialization/getCurrentSettings.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type Gyazo callback guard
  electron-app/utils/files/export/exportUtils.js
  electron-app/utils/files/export/exportUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type fullscreen handler storage
  electron-app/utils/ui/controls/addFullScreenButton.js
  electron-app/utils/ui/controls/addFullScreenButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type renderer notification parsing
  electron-app/utils/app/initialization/rendererUtils.js
  electron-app/utils/app/initialization/rendererUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type elevation record guard
  electron-app/utils/ui/controls/createElevationProfileButton.js
  electron-app/utils/ui/controls/createElevationProfileButton.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type test environment reflect access
  electron-app/main/runtime/primeTestEnvironment.js
  electron-app/main/runtime/primeTestEnvironment.ts
Due: electron_app

🚜 [refactor] Type fit parser record counting
  electron-app/main/runtime/fitParserIntegration.js
  electron-app/main/runtime/fitParserIntegration.ts
Due: electron_app

🚜 [refactor] Type app event property access
  electron-app/main/app/setupApplicationEventHandlers.js
  electron-app/main/app/setupApplicationEventHandlers.ts
Due: electron_app

🚜 [refactor] Type settings state records
  electron-app/utils/state/domain/settingsStateHelpers.js
  electron-app/utils/state/domain/settingsStateHelpers.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type settings core records
  electron-app/utils/state/domain/settingsStateCore.js
  electron-app/utils/state/domain/settingsStateCore.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file open Electron API
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/files/import/handleOpenFile.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type menu decoder options
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/app/menu/createAppMenu.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type file browser records
  electron-app/utils/ui/browser/fileBrowserTab.js
  electron-app/utils/ui/browser/fileBrowserTab.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type state integration nesting
  electron-app/utils/state/integration/stateIntegration.js
  electron-app/utils/state/integration/stateIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type state manager records
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/core/stateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Validate main state operations
  electron-app/utils/state/integration/mainProcessStateClient.js
  electron-app/utils/state/integration/mainProcessStateClient.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type resource function guards
  electron-app/utils/app/lifecycle/resourceManager.js
  electron-app/utils/app/lifecycle/resourceManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type state subscription registry
  electron-app/utils/state/core/stateManager.js
  electron-app/utils/state/core/stateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type developer field records
  electron-app/utils/data/processing/extractDeveloperFieldsList.js
  electron-app/utils/data/processing/extractDeveloperFieldsList.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type tooltip record messages
  electron-app/utils/formatting/display/formatTooltipData.js
  electron-app/utils/formatting/display/formatTooltipData.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type map lap records
  electron-app/utils/maps/layers/mapDrawLaps.js
  electron-app/utils/maps/layers/mapDrawLaps.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type chart zoom config
  electron-app/utils/charts/core/renderChartJS.ts
  electron-app/utils/charts/core/renderChartZoomConfig.ts
Due: electron_app, üõ†Ô∏è Utilities

🚜 [refactor] Type utility bridge globals
  electron-app/utils.js
  electron-app/utils.ts
Due: electron_app

🚜 [refactor] Type window state property access
  electron-app/windowStateUtils.js
  electron-app/windowStateUtils.ts
Due: electron_app, ü™ü Window State Management
