Repository Nick2bad4u/FitFileViewer: changes, and which Codecov flags are due for each by the changed paths.
All: electron_app, ‚ö° Core Electron Process, üñ•Ô∏è Renderer & UI, üõ†Ô∏è Utilities, üìä FIT Parsing, ü™ü Window State Management

🏷️ [chore] (ipc) Type generic invoke bridge
  electron-app/shared/ipc.ts
  electron-app/shared/preloadApi.ts
Due: electron_app

🗑️ [chore] (fit-parser) Remove dead import bridge
  electron-app/tsconfig.runtime.json
  electron-app/utils/files/import/fitParserIntegration.js
  electron-app/utils/files/import/fitParserIntegration.ts
  electron-app/utils/files/import/index.js
  electron-app/utils/files/import/index.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (fit-parser) Guard FIT parse payloads
  electron-app/tests/unit/files/import/fitParsePayload.test.ts
  electron-app/utils/files/import/fitParsePayload.js
  electron-app/utils/files/import/fitParsePayload.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (fit-parser) Type overlay FIT payloads
  electron-app/tests/unit/files/import/loadSingleOverlayFile.fitPayload.test.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
  electron-app/utils/files/import/loadSingleOverlayFile.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (fit-parser) Centralize FIT message row lookup
  electron-app/tests/unit/files/import/fitParsePayload.test.ts
  electron-app/utils/files/import/fitParsePayload.js
  electron-app/utils/files/import/fitParsePayload.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
  electron-app/utils/files/import/loadSingleOverlayFile.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (fit-parser) Centralize FIT buffer validation
  electron-app/tests/unit/files/import/fitFileValidation.test.ts
  electron-app/tests/unit/files/import/openFitFileFromPath.test.ts
  electron-app/utils/files/import/fitFileValidation.js
  electron-app/utils/files/import/fitFileValidation.ts
  electron-app/utils/files/import/handleOpenFile.js
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/index.js
  electron-app/utils/files/import/index.ts
  electron-app/utils/files/import/loadSingleOverlayFile.js
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/files/import/openFitFileFromPath.js
  electron-app/utils/files/import/openFitFileFromPath.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (fit-parser) Extract FIT IPC payload normalization
  electron-app/main/ipc/fitIpcPayload.js
  electron-app/main/ipc/fitIpcPayload.ts
  electron-app/main/ipc/registerFitFileHandlers.js
  electron-app/main/ipc/registerFitFileHandlers.ts
  electron-app/tests/unit/main/ipc/fitIpcPayload.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app

🧹 [chore] (file-read) Extract FIT file read payload normalization
  electron-app/main/ipc/fileReadPayload.js
  electron-app/main/ipc/fileReadPayload.ts
  electron-app/main/ipc/fitIpcPayload.js
  electron-app/main/ipc/fitIpcPayload.ts
  electron-app/main/ipc/registerFileSystemHandlers.js
  electron-app/main/ipc/registerFileSystemHandlers.ts
  electron-app/tests/unit/main/ipc/fileReadPayload.test.ts
  electron-app/tests/unit/main/ipc/fitIpcPayload.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app

🏷️ [chore] (preload) Type IPC bridge catalog
  electron-app/preload.js
  electron-app/preload/ipcBridgeCatalog.js
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/shared/ipc.ts
  electron-app/tests/helpers/preloadModuleMocks.ts
  electron-app/tests/unit/preload-eval.test.ts
  electron-app/tests/unit/preload.additional.test.ts
  electron-app/tests/unit/preload.advanced.test.ts
  electron-app/tests/unit/preload.comprehensive.test.ts
  electron-app/tests/unit/preload.development-mode.test.ts
  electron-app/tests/unit/preload.simple.test.ts
  electron-app/tests/unit/preload.test.ts
  electron-app/tests/unit/preload/ipcBridgeCatalog.test.ts
  electron-app/tsconfig.runtime.json
Due: electron_app, ‚ö° Core Electron Process

🏷️ [chore] (ipc) Type renderer send channels
  electron-app/main/ipc/sendToRenderer.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/main/oauth/gyazoOAuthServer.js
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/runtime/initializeApplication.ts
  electron-app/main/updater/setupAutoUpdater.ts
  electron-app/main/window/bootstrapMainWindow.ts
  electron-app/main/window/initializeMainWindow.ts
Due: electron_app

🏷️ [chore] (ipc) Type main IPC registrations
  electron-app/main/ipc/ipcRegistry.ts
  electron-app/main/ipc/setupIPCHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/shared/ipc.ts
Due: electron_app

🧹 [chore] (menu) Route menu IPC through typed sender
  electron-app/tests/unit/menu/createAppMenu.test.ts
  electron-app/utils/app/menu/createAppMenu.js
  electron-app/utils/app/menu/createAppMenu.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (preload) Harden IPC catalog guards
  electron-app/preload/ipcBridgeCatalog.js
  electron-app/preload/ipcBridgeCatalog.ts
  electron-app/tests/unit/preload/ipcBridgeCatalog.test.ts
Due: electron_app

🏷️ [chore] (ipc) Reuse shared IPC channel types
  electron-app/main/dev/exposeDevHelpers.ts
  electron-app/main/menu/safeCreateAppMenu.ts
  electron-app/main/oauth/gyazoOAuthServer.ts
  electron-app/main/updater/setupAutoUpdater.ts
  electron-app/utils/app/lifecycle/listeners.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (renderer) Reuse preload API type for FIT notifications
  electron-app/utils/rendering/core/showFitData.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (files) Reuse preload API types for file imports
  electron-app/utils/files/import/handleOpenFile.ts
  electron-app/utils/files/import/openFileSelector.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (files) Type parser facades from preload API
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/files/import/openFitFileFromPath.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (export) Reuse preload clipboard API type
  electron-app/utils/files/export/copyTableAsCSV.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (export) Reuse preload API type for export bridge
  electron-app/utils/files/export/exportUtils.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ui) Reuse preload API types for renderer bridges
  electron-app/utils/app/initialization/loadVersionInfo.ts
  electron-app/utils/ui/controls/addFullScreenButton.ts
  electron-app/utils/ui/dragDropHandler.ts
  electron-app/utils/ui/notifications/showUpdateNotification.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (browser) Reuse preload API types for browser UI
  electron-app/utils/ui/browser/fileBrowserTab.ts
  electron-app/utils/ui/browser/initFitBrowserFeatureGate.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (lifecycle) Reuse preload API types for menu helpers
  electron-app/utils/app/lifecycle/menuIpcListeners.ts
  electron-app/utils/app/lifecycle/recentFilesContextMenu.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (state) Reuse preload API types for state bridges
  electron-app/utils/app/lifecycle/listeners.ts
  electron-app/utils/state/core/masterStateManager.ts
  electron-app/utils/state/integration/rendererStateIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ui) Reuse preload API types for UI bridges
  electron-app/utils/state/integration/stateIntegration.ts
  electron-app/utils/theming/core/setupTheme.ts
  electron-app/utils/ui/links/externalLinkHandlers.ts
  electron-app/utils/ui/mainUiDomUtils.ts
  electron-app/utils/ui/settingsModal.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (theme) Reuse preload API types for theme bridges
  electron-app/tests/strictTests/ui/main-ui.test.ts
  electron-app/utils/files/import/loadSingleOverlayFile.ts
  electron-app/utils/theming/core/theme.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (state) Tighten main state client IPC types
  electron-app/utils/state/integration/mainProcessStateClient.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (browser) Validate decoded FIT library payloads
  electron-app/utils/ui/browser/fileBrowserTab.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (charts) Remove unsafe altitude label cast
  electron-app/utils/charts/rendering/renderAltitudeProfileChart.ts
  electron-app/utils/charts/rendering/renderPerformanceAnalysisCharts.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (tabs) Remove redundant active tab cast
  electron-app/utils/ui/tabs/updateActiveTab.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (state) Mark JSON parser boundaries as unknown
  electron-app/utils/files/recent/index.ts
  electron-app/utils/files/recent/recentFiles.ts
  electron-app/utils/state/core/stateManager.ts
  electron-app/utils/state/integration/stateIntegration.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (state) Tighten app-state dynamic boundaries
  electron-app/main/runtime/electronAccess.ts
  electron-app/utils/state/domain/appState.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ipc) Replace dynamic channel key casts
  electron-app/main/ipc/registerInfoHandlers.ts
  electron-app/main/menu/setupMenuAndEventHandlers.ts
  electron-app/utils/state/domain/settingsStateCore.ts
  electron-app/utils/state/domain/settingsStateSchema.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (maps) Tighten Leaflet adapter boundaries
  electron-app/utils/maps/core/renderMap.ts
  electron-app/utils/maps/layers/mapDrawLaps.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (state) Mark cached state module boundary unknown
  electron-app/utils/state/core/masterStateManager.ts
Due: electron_app, üõ†Ô∏è Utilities

🏷️ [chore] (ui) Type marker count option checks
  electron-app/utils/ui/controls/createMarkerCountSelector.ts
Due: electron_app, üõ†Ô∏è Utilities

🧹 [chore] (lint) Exclude vendored CSS from app stylelint
  electron-app/stylelint.config.mjs
Due: electron_app

📦 [chore] (package) Remove stale utility exports
  electron-app/package.json
Due: electron_app

🧹 [chore] (lint) Scope CommonJS boundary rules
  electron-app/eslint.config.mjs
Due: electron_app

🧹 [chore] (lint) Ignore generated runtime JavaScript
  electron-app/eslint.config.mjs
Due: electron_app

📦 [chore] (package) Clean app package metadata
  electron-app/eslint.config.mjs
  electron-app/package-lock.json
  electron-app/package.json
Due: electron_app

Path conditions:
  electron_app: any of: electron-app/
  ‚ö° Core Electron Process: any of: electron-app/main.js, electron-app/preload.js
  üñ•Ô∏è Renderer & UI: any of: electron-app/renderer.js, electron-app/main-ui.js, electron-app/index.html, electron-app/style.css
  üõ†Ô∏è Utilities: any of: electron-app/utils/**
  üìä FIT Parsing: any of: electron-app/fitParser.js
  ü™ü Window State Management: any of: electron-app/windowStateUtils.js
